body{
    font-family: 'Open Sans', sans-serif;
	font-size:17px;
	margin:0;
	padding:0;
	color:#333;
	font-weight:300;
}
img{
	max-width:100%;
}
.text-color-1{
	color:#c0202f;
}
.text-title-1{
	font-size:25px;
	font-weight:500;
	text-transform:uppercase;
}
section.banner{
	border-bottom:5px solid #c0202f;
}
.top-link{
	background:#f3f3f4;
	padding:30px 0;
}
.top-link .item{
	text-align:center;
	/*border-left:2px solid #FFF;*/
}
.top-link .item:first-child{
	border-left:none;
}
.top-link .item h3{
	margin-top:25px;
	margin-bottom:0;
	padding-bottom:0;
	color:#5a5b5d;
	font-weight:500;
}
.top-link .item h3 a{
	font-size:inherit;
	color:inherit;
}
section.content, section.quitrinh, section.working{
	padding:50px 0;
}
section.content h3{
	text-align:center;
	margin-bottom:25px;
}
section.content p{
}
section.content strong{
	font-weight:700;
}

section.contact{
	position:relative;
	overflow:hidden;
}
section.contact .cover-over{
	/*position:absolute;
	width:50%;
	background:#c0202f;
	top:0;
	left:0;
	bottom:0;*/
}
section.contact .contact-content{
	color:#FFF;
	padding:45px 25px 45px 35px;
	background:#c0202f;
	line-height:1.7;
}
section.contact .contact-content h3{
	margin-bottom:25px;
	font-size:22px;
}
.form h3{
	background:#c0202f;
	color:#FFF;
	text-align:center;
	padding:15px 10px;
	box-shadow:3px 3px 12px #ccc;
	font-size:22px;
}
.form .fbox{
	background:#fdf9fb;
	font-size:15px;
	padding:15px;
	box-shadow:0px 0px 12px #ccc;
}
.form .inputbox{
	width:100%;
	border:none;
	border-bottom:1px solid #d8d5d7;
	background:none;
	padding:10px 10px 10px 30px;
	margin-bottom:15px;
	font-style:italic;
}
.form .name{
	background:url(../images/f-name.jpg) no-repeat 0 13px;
}
.form .phone{
	background:url(../images/f-phone.jpg) no-repeat 0 13px;
}
.form .email{
	background:url(../images/f-email.jpg) no-repeat 0 15px;
}


.form .button{
	background:#c0202f;
	color:#FFF;
	border:none;
	text-transform:uppercase;
	font-size:17px;
	padding:10px 15px;
	width:100%;
}
.form span.text{
	font-size:15px;
	text-transform:uppercase;
	font-weight:600;
}
.form .button:hover{
	background:#999;
}
section.quitrinh h3{
	margin-bottom:25px;
}
section.quitrinh .itm{
	text-align:center;
}
section.quitrinh .itm .t{
	position:relative;
}
section.quitrinh .itm .t:after{
	position:absolute;
	content:" ";
	height:1px;
	background:#CCC;
	width:100px;
	top:50%;
	right:80%;
}
section.quitrinh .itm:first-child .t:after{
	display:none;
}
section.quitrinh h4{
	font-size:20px;
	text-transform:uppercase;
	margin:15px 0 5px 0;
}
section.quitrinh .itm p.note{
	font-style:italic;
}
section.about{
	background:url(../images/about-bg.jpg) repeat;
	padding:45px 0;
	text-align:center;
}
section.about h1{
	background:#c0202f;
	color:#FFF;
	display:inline-block;
	padding:10px 55px;
	margin-bottom:25px;
	font-size:25px;
	font-weight:500;
}
section.about p{
	line-height:1.7;
}
section.working{
	text-align:center;
}
section.working h4{
	font-weight:300;
	font-size:22px;
	text-transform:uppercase;
	margin-bottom:25px;
	margin-top:15px;
}
footer{
	background:#939598;
	color:#FFF;
	padding:5px;
}
footer p{
	font-style:italic;
	text-align:center;
	margin:0;
	padding:0;
	font-size:14px;
}
section.content ul {
	padding-left:20px;
	margin-left:0;
}
section.content ul li{
	margin-top:5px;
	margin-bottom:5px;
}
a.textmore{
	font-size:16px;
}
@media (max-width: 767px) {
	.top-link .item{
	border-left:none;
}

}
@media (max-width: 640px) {
	section.contact .cover-over{
		display:none;
	}
	section.contact .contact-content,.top-link .item{
		margin-bottom:25px;
	}
	section.quitrinh .itm .t:after{
		display:none;
	}
}
	