/***************************************************************************
*  @PHP Web Application.
*  @version			1.0.0 
*  @copyright		Copyright (C) 2011 Tran Thanh Sang. All rights reserved.
*  @Released under 	Tran Thanh Sang
*  @Email			sangtialia@gmail.com
*  @Date			Jan 2011
***************************************************************************/
.breadcrumb{
	min-height:18px;
	padding-top:0;
	padding-left:15px;
	padding-bottom:0;
	clear:both; color:#000;
}
.breadcrumb span, .breadcrumb a{ color:#666; font-style:italic; font-size:12px;}
.breadcrumb .symbol{
	background:url(../images/symbol.png) no-repeat center;
	width:20px;
	padding:3px 10px;
	}