/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
div.mod_nsp_agents{
}
div.mod_nsp_agents #agents-panel h3.title{
	background:none;
	text-align:left;
	padding-left:15px;
	font-size:12px;
	cursor:pointer;
	height:20px;
	}
div.mod_nsp_agents #agents-panel ol{
	margin:0 0 0 30px;
	padding:0 0 0 0;
	}
div.mod_nsp_agents #agents-panel ol li{
	margin:0 0 0 0;
	padding:5px 0 5px 0;
	}