body
{
	margin: 0px;
	font-family: Georgia, Trebuchet, Trebuchet MS, Verdana;
}

h1
{
	background-color: #f5f5f5;
	color: #696969;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	margin-bottom: 40px;
}

p, ul, ol
{
	margin-bottom: 30px;
	margin-top: 0px;
	margin-left: 40px;
	margin-right: 40px;
}

ol, ul
{
	padding-left:40px;
}

h2
{
	margin-left: 20px;
	margin-bottom: 30px;
	margin-top: 0px;
}

h3
{
	margin-left: 40px;
	margin-bottom: 15px;
	margin-top: 0px;
}

hr
{
	margin-top: 0px;
}

.info
{
	font-weight: bold;
	font-style: italic;
}

.warning
{
	font-weight: bold;
	color: #ff0000;
	font-style: italic;
}
