/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
.homehtml{margin-top:10px; clear:both;}
.homehtml a{
	color:#575659;
	}
.homehtml .t-content{ 
	width:313px;
	float:left;
	display:inline;
	}
.homehtml .t-last{float:right;}
.homehtml .t-content .border{
	border-bottom:1px solid #989898;
	border-left:1px solid #989898;
	border-right:1px solid #989898;
}
.homehtml .t-giaiphap{
	margin-left:10px;
	}
.homehtml .t-giaiphap p{ margin-bottom:21px;}
.homehtml .t-giaiphap a{ color:#b21f24;}
.homehtml .t-content .title{
	background:#ca765f;
	color:#FFFFFF;
	height:50px;
	line-height:50px;
	vertical-align:middle;
	font-size:17px;
	font-weight:normal;
	padding-left:15px;
	text-align:left;
	}
.homehtml .t-content .b
{
	text-align:right;
	padding-right:10px;
	padding-bottom:5px;
	}
.homehtml .t-content .t{ 
	text-align:center;
	padding-top:10px; 
	}
.homehtml .t-content .m{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	height:140px;
	font-size:12px;
	}
.homehtml .t-content h4.gk_news_show_news_header{
		background:none;
		padding-left:0;
		margin-bottom:12px;
		}
.homehtml .t-content .gk_news_show_news_header a{
	font-size:12px !important; font-weight:normal;
	}

