/*
Joomla Component CSS
escProject component
@Author: Sang Tran Thanh
*/

span.em_rating img{
	padding:3px 3px 3px 0px;
}
.hide{ display:none;}
.show{ display:block;}
.votestart{ cursor:pointer;}

/* software detail */
div.view-software-detail .header .left{
	width:30%;
	float:left;
	}
div.view-software-detail .header .right{
	width:69%;
	float:right;
	}
div.view-software-detail .button
{
	background:url(images/download_bt.png);
	width:163px;
	height:29px;
	border:0;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
div.view-software-detail .header .right .left{ width:50%;}
div.view-software-detail .header .right .right{ width:49%; text-align:right; float:right;}
div.view-software-detail .bookmark{float:right;}
div.view-software-detail .bookmark .item{float:left; margin-left:5px;}

div.view-software-detail div.tab-panel{
	border:1px solid #adb8ba;
	background:url(images/software_panel.png) repeat-x top; 
	margin:10px 10px 20px 10px;
}
div.view-software-detail div.tab-panel .menubar {margin-top:0; padding:3px 0 0 0;}
div.view-software-detail div.tab-panel .menubar .item{
	background:#c3cbcc;
	float:left;
	min-width:126px;
	border:1px solid #a4b0b2;
	line-height:28px;
	height:28px;
	vertical-align:middle;
	text-align:center;
	margin:0 0 0 3px;
	padding-left:5px;
	padding-right:5px;
	}
div.view-software-detail div.tab-panel .menubar a{
	color:#475051;
	font-weight:bold;
	text-decoration:none;
}
div.view-software-detail div.tab-panel .menubar .active{
	background:#ffffff;
	color:#2f96bf;
	border-bottom:2px solid #FFFFFF;
	height:29px;
}
div.view-software-detail div.tab-panel .panel-content{ clear:both; padding: 5px 7px 10px 10px; clear:both;}
div.view-software-detail div.review #escmobile_review{ min-height:400px;}
div.view-software-detail div.review h3{
	color:#0491aa;
	font-size:16px;
	font-family:VNI-Helve-Condense;
	background:url(images/arrow_05.png) no-repeat left top;
	padding:0 0 0 29px;
	float:left;
}
div.view-software-detail div.review h3 div{
	background:url(images/review_title_line.png) no-repeat bottom left;
	padding-bottom:5px;
	padding-left:5px;
	min-width:190px;
	}
div.view-software-detail div.review .button{
	background:url(images/review_write_bt.png) no-repeat;
	width:151px;
	height:28px;
	border:0;
	color:#FFFFFF;
	font-family: Arial;
	text-transform:none;
	font-size:14px;
	float:right;
}
div.view-software-detail div.review button.view-all-review{
	background:url(images/view_all_review.png) no-repeat;
	width:124px;
	height:23px;
	border:0;
	color:#3d9a3f;
	font-family: Arial;
	text-transform:none;
	font-size:11px;
	text-align:center;
	float:right;
}
div.view-software-detail div.review .item{
	border-bottom:1px dotted #cccccc;
	clear:both;
	padding:5px 0 5px 0;
}
div.view-software-detail div.review .item a{ color:#e15f04;}
div.view-software-detail div.review .item .info{color:#414141;}
div.view-software-detail div.review #write_review_form{
	border:1px solid #dadada;
	padding:5px 5px 5px 5px;
	color:#434343;
}
div.view-software-detail div.review #write_review_form h4{
	font-size:18px;
	color:#404e57;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:15px;
}
div.view-software-detail div.review #write_review_form h5{
	background:url(images/arrow_03.png) no-repeat left 2px;
	padding-left:15px;
	padding-top:0;
	}
div.view-software-detail div.review #write_review_form .inputbox{
	width:95%;
	overflow:auto;
	}
div.view-software-detail div.review #write_review_form .button,
div.view-software-detail div.specification  .button
{
	background:url(images/submit_bt.png);
	width:80px;
	height:23px;
	border:0;
	color:#FFFFFF;
	font-weight:bold;
	clear:both;
	margin-top:10px;
	font-size:11px;
	}
div.view-software-detail div.specification .check{
	width:400px;
	margin:0 auto;
}
div.view-software-detail div.specification  div.brand{
	float:left;
	margin-top:8px;
}
div.view-software-detail div.specification  .model{
	float:right; margin-top:8px; margin-left:10px;
	}
div.view-software-detail div.specification  select.inputbox, div.view-software-detail div.specification div#model_loading1{
	width:169px;
	margin-top:5px;
	color:#1c4456;
	}
div.view-software-detail div.specification  select.inputbox{ border:1px solid #d3d3d3;}
div.view-software-detail div.specification div#model_select_box1{
	position:relative;
	height:27px;
}	
div.view-software-detail div.specification  label{display:block;}
div.view-software-detail div.specification  .button{ float:right; text-transform:none;}
div.view-software-detail div.specification div.spec_infomation{
	background: #FFFFFF url(images/spec_bg.png) repeat-x top;
	border:1px solid #d1e2f5;
	padding:5px 5px 5px 5px;
	margin-left:5px;
	margin-right:5px;
	}
div.view-software-detail div.specification div.spec_infomation .spec_infomation_head{
	font-size:16px;
	color:#393939;
	background:url(images/spec_m.png) repeat-x top;
	height:29px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:29px;
	vertical-align:middle;
	width:95%;
	margin:0 auto;
	padding:0 0 0 10px;
	font-weight:bold;
}
div.view-software-detail div.specification div.spec_infomation .item{
	margin:10px 0 5px 0px;
	background:url(images/spec_r.png) repeat-y right;
}
div.view-software-detail div.specification div.spec_infomation .item .inner{
	background:url(images/spec_b.png) no-repeat bottom right;
	padding:0 5px 10px 10px;
	}
div.view-software-detail div.specification div.spec_infomation .item .inner h4{
	background:url(images/arrow_03.png) no-repeat left 3px;
	padding-left:15px;
	color:#1c4456;
	font-size:11px;
	}
div.view-software-detail div.specification div.spec_infomation .item .inner p{
	margin:5px 5px 5px 15px;
	}
div.view-software-detail div.specification .out_result{min-height:50px;}
/* category */
div.e_component_category{
	overflow:auto;
	max-height:580px;
}
div.e_component_category_list{overflow:hidden; max-height:none;}
div.e_component_category .item{
	clear:both;
	margin:5px 0 5px 0;

}
div.e_component_category .item img{
	float:left;
	padding:0 15px 5px 0;
}
div.e_component_category .item a.name{
	color:#0490a9;
	font-weight:bold;
	}
/* search result */
div.view-search-result{
}
div.view-search-result .item{
	margin-bottom:10px;
	clear:both;
}
div.view-search-result .item .left{
	float:left;
	width:76.5%;
	}
div.view-search-result .item .right{
	float:right;
	width:21%;
	}
div.view-search-result .item .left img{
	float:left;
	border:1px solid #acc7cd;
	padding:2px 2px 2px 2px;
	margin:0 10px 10px 10px;
	}
	
div.view-search-result .sortbar .left{ 
	float:left;
 	width:45%;
 }
 div.view-search-result .sortbar .right{ 
	float:right;
 	width:45%;
	text-align:right;
 }

	