/*
Joomla Component CSS
escProject component
@Author: Sang Tran Thanh
*/
div.jobapply-form fieldset{
	margin:5px 0 5px 0;
	padding:10px 5px;
}
div.jobapply-form fieldset legend{
	font-size:13px;
	font-weight:bold;
	padding:0 10px;
	}
div.jobapply-form fieldset table.tbl tr td.lb{
	text-align:right;
	padding-right:10px;
	}
div.jobapply-form fieldset h4{
	font-size:12px;
	}
div.jobapply-form input.invalid, div.jobapply-form textarea.invalid, div.jobapply-form select.invalid{
	border:#FF0000 solid 1px;
	}
div.jobapply-form fieldset .bt_more{
	border:none;
	background:url(images/plus2.png) no-repeat left 2px;
	padding:0 0 0 15px;
	color:#FF0000;
	cursor:pointer;
	}
div.jobapply-form fieldset .note{ font-style:italic;}
/* view jobs */
div.view-jobs .list_job .item a.title{
	font-size:13px;
	color:#003399;
	font-weight:bold;
}
div.view-jobs .list_job .item table.tbl{
	margin:10px 0 10px 20px;
	}
div.view-jobs .list_job .item table.tbl tr td.lb{
	text-align:right;
	padding-right:10px;
	vertical-align:top;
	font-weight:bold;
	}
div.view-jobs .list_job .item a.more, div.view-jobs .list_job .item a.apply{
	color:#FF0000;
	background:url(images/arrow04.gif) no-repeat left top;
	padding-left:15px;
	}
/* agents */
#nsp-agents-panel h3.title{
	font-size:12px;
	cursor:pointer;
	background:url(images/icon_plus.gif) no-repeat left top;
	padding-left:25px;
	}
#nsp-agents-panel h3.jpane-toggler-down{
	background:url(images/icon_minus.gif) no-repeat left top;
}
	