/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
/* content block 5 */
#mcs5_container{
	position:relative;
	margin:0;
	margin-left:39px;
	width:882px; height:80px; 
	padding:0;
	-moz-border-radius:4px; -khtml-border-radius:4px; 
	-webkit-border-radius:4px; border-radius:4px;
	background:url(bg.png) repeat-x;
}
#mcs5_container .customScrollBox{
	position:relative; 
	width:880px; 
	overflow:hidden;
	}
#mcs5_container .customScrollBox .container{position:relative; left:0;}
#mcs5_container .customScrollBox .content{clear:both;}
#mcs5_container .customScrollBox .content p{padding:5px; margin:0 5px;}
#mcs5_container .customScrollBox .content p img{margin-right:5px;}
#mcs5_container .dragger_container{
	position:relative; 
	height:0px; width:880px; 
	margin:0px; 
	}
#mcs5_container .dragger{
	position:absolute; 
	width:60px; height:9px; 
	margin-top:-5px; display:none;
	}
#mcs5_container .dragger_pressed{display:none; position:absolute; width:60px; height:9px; background:#111 url(mcsDraggerHover.png) no-repeat; margin-top:-5px;}
#mcs5_container .scrollUpBtn,#mcs5_container .scrollDownBtn{position:absolute; top:0; display:inline-block; font-family:Arial,Helvetica,sans-serif; font-size:large; font-weight:normal; color:#C30; margin:0; text-decoration:none;}
#mcs5_container .scrollDownBtn{right:-39px;}
#mcs5_container .scrollUpBtn{left:-39px;}
