/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
div.home_slideshow{
	padding-top:5px;
	text-align:left;
	}
div.home_slideshow .slideshow{
	width:719px;
	height:330px;
	float:left;
	}
div.home_slideshow .right{
	float:right;
}
div.home_slideshow .right img{
	margin-bottom:10px;
	}
div.home_slideshow .nav{
	position:absolute;
	float:left;
	z-index:99;
	list-style:none;
	margin:10px 0 0 10px;
	padding:0;
	}
div.home_slideshow .nav li{
	float:left;
	width:20px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
	color:#FFFFFF;
	background:#ff9933;
	margin:0 0 0 5px;
	padding:0;
	cursor:pointer;
	font-weight:bold;
	border:1px solid #f2f2f2;
	}
div.home_slideshow .nav li.active{
	background:#336699;
	}

