/***************************************************************************
*  @PHP Web Application.
*  @version			1.0.0 
*  @copyright		Copyright (C) 2011 Tran Thanh Sang. All rights reserved.
*  @Released under 	Tran Thanh Sang
*  @Email			sangtialia@gmail.com
*  @Date			Jan 2011
***************************************************************************/

/* ------------------ LIST --------------------- */
ul.b-articles{
	list-style:none;
	margin:0;
	padding:0;
}
ul.b-articles li{
	padding:1px 0 1px 18px;
	background:url(../images/arrow.jpg) no-repeat 8px 8px;
}
ul.b-articles li a{color:#3f3f3f;}