/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
#stl-body{
	margin-top:0px !important;
}
.examinercontent ul.photoList2{
	margin:0;
	padding:0;
	list-style:none;
}
.examinercontent ul.photoList2 li{
	margin:7px 0;
	text-align:center;
}
.examinercontent ul.title{
	list-style:none;
	float:left;
	width:100%;
	background:#CCC;
	margin:0;
	padding:0;
	height:35px;
	border-top-left-radius:10px;
	-moz-border-radius-topleft:10px; 
	-webkit-border-top-left-radius:10px;
	border-top-right-radius :10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
}
.examinercontent ul.title li{
	float:left;
	margin:10px 0 0 5px;
	padding:0 10px;
	background:#EBEBEB;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	border-top-left-radius:10px;
	-moz-border-radius-topleft:10px; 
	-webkit-border-top-left-radius:10px;
	border-top-right-radius :10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
}
.examinercontent ul.title li.selected{ 
	background:#FFF;
	height:35px;
	line-height:35px;
	margin-top:10px;
	}
.examinercontent ul.title li a{
	font-size:13px;
	font-weight:bold;
	color:#333;
	text-decoration:none;
}
.examinercontent ul.title li.selected a, .examinercontent ul.title li a:hover{
	color:#F00;
}

.examinercontent ul.heading{
	margin:0;
	width:100%;
	height:30px;
	background:url(../images/left-block.png) repeat-x;
	list-style:none;
	padding:0;
}
.examinercontent ul.heading li{
	margin:0;
	padding:0 30px;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	float:left;
	border-right:1px solid #FFF;
}
.examinercontent ul.heading li a{
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFF;
}
.examinercontent ul.heading li.selected{
	background:#CCC;
}