/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
.examinercontent .detail{
}
.examinercontent .detail .col-left{
	width:170px;
	float:left;
	height:600px;
	overflow-y:scroll;
}
.examinercontent .detail .col-right{
	width:778px;
	float:right;
}
.examinercontent .detail .top-info{
	background:#efeeee;
	padding:10px;
	color:#9d1a1e;
}
.examinercontent .detail .top-info b{
	color:#333;
}
.examinercontent .detail .top-info .left{
	float:left;
	width:45%;
}
.examinercontent .detail .top-info .right{
	float:right;
	width:45%;
}
.examinercontent .detail .preview{
	margin-top:1px;
	background:#efeeee;
	text-align:center;
	min-height:600px;
}
.examinercontent .detail ul.slideShow {
	clear: both;
	margin: 5px auto; 
	width: 310px; 
	list-style-type:none;
}
.examinercontent .detail ul.slideShow li {
	background: url(../images/bg_slideshow.gif) repeat-x 0 0;
	border-right: 1px solid #ababab;
	float: left;
}
.examinercontent .detail ul.slideShow li a {
	color: #fff;
	display: block;
	font-size: 110%;
	font-weight: bold;
	height: 30px;
	padding: 10px 0 0 0;
	text-align: center;
	width: 71px; 
	text-decoration:none;
	text-transform:uppercase;
}
.examinercontent .detail ul.slideShow li.prev a {
	background: url(../images/ico_prev02.gif) no-repeat 7px center;
	padding-left: 8px;
}
.examinercontent .detail ul.slideShow li.next a {
	background: url(../images/ico_next02.gif) no-repeat 62px center;
	padding-right: 8px;
}
.examinercontent .detail ul.slideShow li.numberImage a {
	font-size: 110%;width: 184px;
}
.examinercontent .detail ul.slideShow li.btnSlide {border: none;}
.examinercontent .detail ul.slideShow li.btnSlide a {
	background: url(../images/ico_slide.gif) no-repeat 119px center;
	padding-right: 14px;width: 131px;
}
.examinercontent .detail .morephoto h3{
	text-transform:uppercase;
	border-bottom:1px dotted #CCC;
}
.examinercontent .detail .bookmarks{
	float:right;
	margin-top:-40px;
}
/* user */
.examinercontent .detail .user-part{
	background:#eee;
	border:1px solid #999;
	padding:5px;
	margin-bottom:5px;
}
.examinercontent .detail .user-part .icon{
	padding-left:20px;
	padding-right:10px;
}
.examinercontent .detail .user-part .add2fav{
	background:url(../images/icon-fav.png) no-repeat left;
}
.examinercontent .detail .user-part .viewimg{
	background:url(../images/icon-img.png) no-repeat left;
}
.examinercontent .detail .user-part .author{
	background:url(../images/icon-author.png) no-repeat left;
}
.examinercontent .detail .user-part .disable{
	background:url(../images/icon-disable.png) no-repeat left;
}

#sb-container #sb-wrapper iframe body{
	text-align:center;
}
.examinercontent .detail .marks{
	border:1px dashed #999; 
	background:#FFF; 
	padding:5px;
}
.examinercontent .detail .mark-part{
	border:1px solid #999; 
	background:#f2f2f2; 
	padding:5px;
	float:left;
	width:65%;
}
.examinercontent .detail .examiners{
	float:right;
	width:33%;
	margin-top:3px;
	text-align:right;
}
.examinercontent .detail .examiners img.my{
	border:1px solid #CCC;
}
