/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
* HTML div#fl813691 {
	POSITION: absolute; OVERFLOW: hidden
}
#fl813691 {
	POSITION: fixed; 
	BOTTOM: 0px; 
	FONT: 14px Arial, Helvetica, sans-serif; 
	COLOR: #666; 
	RIGHT: 0px; 
	_position: absolute
}
#eb951855 {
	PADDING-RIGHT: 7px; 
}
#cob263512 {
	PADDING-LEFT: 7px; 
}
#coh963846 {
	LINE-HEIGHT: 20px; 
	DISPLAY: block; 
	HEIGHT: 15px; 
	COLOR: #690; 
	FONT-SIZE: 11px
}
#coh963846 A {
	COLOR: #690; 
	TEXT-DECORATION: none
}
#coc67178 {
	PADDING-BOTTOM: 0px; 
	LIST-STYLE-TYPE: none; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	FLOAT: right; 
	HEIGHT: 15px; 
	OVERFLOW: hidden; 
	LIST-STYLE-IMAGE: none; 
	PADDING-TOP: 0px
}
#coc67178 LI {
	DISPLAY: inline
}
#coc67178 LI A {
	BACKGROUND-IMAGE: url(../images/Buttom.gif); 
	WIDTH: 30px; 
	BACKGROUND-REPEAT: no-repeat; 
	FLOAT: left; 
	OVERFLOW: hidden; 
	PADDING-TOP: 15px
}
#coc67178 LI A.close {
	BACKGROUND-POSITION: 0px 0px
}
#coc67178 LI A.close:hover {
	BACKGROUND-POSITION: 0px -15px
}
#coc67178 LI A.min {
	BACKGROUND-POSITION: -30px 0px
}
#coc67178 LI A.min:hover {
	BACKGROUND-POSITION: -30px -15px
}
#coc67178 LI A.max {
	BACKGROUND-POSITION: -60px 0px
}
#coc67178 LI A.max:hover {
	BACKGROUND-POSITION: -60px -15px
}
#co453569 {
	BORDER-BOTTOM: #999 1px solid; 
	BORDER-LEFT: #111 1px solid; 
	PADDING-BOTTOM: 0px; 
	LINE-HEIGHT: 1.6em; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	OVERFLOW: hidden; 
	BORDER-TOP: #111 1px solid; 
	BORDER-RIGHT: #999 1px solid; 
	PADDING-TOP: 0px
}
