.appsCarousel {
	WIDTH: 953px; 
	MARGIN-LEFT: 0px; 
	background: #ffffff url(bg_border.png) repeat-x;
}
.navMenu {
	POSITION: relative; 
	WIDTH: 100%; 
	HEIGHT: 100%; 
	OVERFLOW: hidden
}
.colorE {
	background:#FFFFFF
}
.colorS {
	CURSOR: pointer;
	background:#FFFFFF;
}
.btnLeft {
	Z-INDEX: 2; 
	POSITION: absolute; 
	WIDTH: 28px;
	/* background: #FFFFFF url(divDashLeft.png) no-repeat; */
	
}
.imgBorder {
	BORDER-BOTTOM: #bfbfbf 1px solid; 
	BORDER-LEFT: #bfbfbf 1px solid; 
	BORDER-TOP: #bfbfbf 1px solid; 
	BORDER-RIGHT: #bfbfbf 1px solid
}
.btnRight {
	Z-INDEX: 2; 
	POSITION: absolute; 
	WIDTH: 28px; 
	LEFT: 925px;
	/* background:#FFFFFF url(divDashRight.png) no-repeat; */
}
.selectItem {
	CURSOR: pointer
}
A {
	COLOR: blue; TEXT-DECORATION: none
}
.divDashLeft {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 3px;
	LEFT: 30px;
}
.divDashRight {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 3px;LEFT: 924px
}
.appCar {
	MARGIN-TOP: 1px;
	FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif; 
	COLOR: #333333; 
	MARGIN-LEFT: 0px; 
	FONT-SIZE: 11px;
}
.descCar {
	MARGIN-TOP: 10px; HEIGHT: 60px;
}
.em_rating img{ padding-right:3px;}
