/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
.fdownloadcontent{
}
/* file thumb */
.file_item{
	margin-bottom:5px;
	
}
.file_item .thumbfile{
	float:left;
	width:155px;
	}
.file_item .thumbfile img{
	border:1px solid #CFCFCF;
	padding:1px;
	}
.file_item .file_info{
	float:left;
	margin-left:10px;
	text-align:left;
	width:130px;
	}
.file_item .file_info h4{
	color:#126bba;
	margin:0;
	margin-bottom:3px;
	}
