/***************************************************************************
*  @PHP Web Application.
*  @version			1.0.0 
*  @copyright		Copyright (C) 2011 Tran Thanh Sang. All rights reserved.
*  @Released under 	Tran Thanh Sang
*  @Email			sangtialia@gmail.com
*  @Date			Jan 2011
***************************************************************************/
.b-countdown .num{
	background:url(../images/num.png) no-repeat;
	width:39px;
	height:66px;
	float:left;
	color:#9fa4a5;
	font-size:45px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	line-height:66px;
	
}
.b-countdown .symboy{
	font-size:18px;
	font-weight:bold;
}
.b-countdown .lbl td{
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	padding:5px 0;
}
.b-countdown tr td.s{
	width:10px;
	text-align:center;
	vertical-align:middle;
}
.b-countdown tr td.title{
	font-size:29px;
	text-align:center;
	vertical-align:middle;
	text-transform:uppercase;
	padding:0 30px;
}