.slm-dragdrop-source {
	behavior: url(/_layouts/1033/cmsslwpdragdropsource.htc);
}
.slm-layout-main {
	margin: 0px; padding: 0px; border: 0px currentColor; width: 100%;
}
.slm-edit-ecb {
	width: 40px;
}
.slm-edit-ecb div {
	padding: 2px 0px 0px 2px; height: 23px; vertical-align: middle;
}
.slm-edit-link {
	padding: 1px 0px 0px 1px; vertical-align: top;
}
.slm-display-link {
	padding: 0px; vertical-align: top;
}
.presence-status-icon {
	width: 12px; height: 12px; padding-top: 1px; padding-right: 5px; padding-left: 0px; float: left;
}
.wp-content {
	margin: 6px 0px 6px 4px;
}
.cbq-layout-main {
	margin: 0px; padding: 0px; border: 0px currentColor; width: 100%;
}
.toc-layout-main {
	margin: 0px; padding: 0px; border: 0px currentColor; width: 100%;
}
.item {
	margin: 6px 0px 6px 4px; clear: both;
}
.centered {
	text-align: center;
}
.link-item {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt; text-decoration: none;
}
.link-item a {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt; text-decoration: none;
}
.link-item a:link {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt; text-decoration: none;
}
.link-item a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.link-item a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.link-item a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.link-item-large {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 18pt; text-decoration: none;
}
.link-item-large a {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 18pt; text-decoration: none;
}
.link-item-large a:link {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 18pt; text-decoration: none;
}
.link-item-large a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.link-item-large a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.link-item-large a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.description {
	color: rgb(76, 76, 76); font-family: tahoma; font-size: 8pt;
}
.image-area-left {
	padding-right: 5px; padding-left: 0px; float: left;
}
.image-area-right {
	padding-right: 0px; padding-left: 5px; vertical-align: top; float: right;
}
.image-area-top {
	padding-bottom: 5px;
}
.image {
	border: 0px currentColor;
}
.image-fixed-width {
	border: 0px currentColor; width: 90px;
}
.bullet {
	background-position: left; border-width: 0px; border-color: inherit; padding-right: 0px; padding-left: 10px; vertical-align: top; background-image: url("/_layouts/images/lstbulet.gif"); background-repeat: no-repeat;
}
.groupheader {
	text-align: left; color: rgb(0, 0, 0); clear: both; font-family: tahoma; font-size: 10pt; font-weight: bold; margin-bottom: 5px;
}
.band {
	padding: 2px 0px 2px 3px; background-color: rgb(228, 232, 240);
}
.large {
	font-size: 18pt;
}
.small {
	font-size: 8pt;
}
.medium {
	font-size: 10pt;
}
.centered {
	text-align: center;
}
.separator {
	border: 1px solid rgb(51, 51, 51); clear: both;
}
.whitespace {
	clear: both; margin-bottom: 5px;
}
.level-header {
	padding: 2px 0px;
}
.level-band {
	padding: 2px 0px 2px 3px; margin-right: 3px; margin-left: 0px; background-color: rgb(228, 232, 240);
}
.level-description {
	color: rgb(76, 76, 76); font-family: tahoma; font-size: 8pt;
}
.level-description-padding {
	padding-right: 0px; padding-bottom: 1px; padding-left: 15px;
}
.level-item-pos {
	margin: 2px 3px; padding: 1px 0px;
}
.level-item {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt;
}
.level-item a {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt;
}
.level-item a:link {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt;
}
.level-item a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.level-item a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.level-item a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.level-section {
	margin-bottom: 6px;
}
.level-bullet {
	background-position: left; border-width: 0px; border-color: inherit; padding-right: 0px; padding-left: 10px; vertical-align: top; background-image: url("/_layouts/images/lstbulet.gif"); background-repeat: no-repeat;
}
.headertitle {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 10pt; font-weight: bold;
}
.headertitle a {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 10pt; font-weight: bold;
}
.headertitle a:link {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 10pt; font-weight: bold;
}
.headertitle a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.headertitle-large {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 12pt; font-weight: bold;
}
.headertitle-large a {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 12pt; font-weight: bold;
}
.headertitle-large a:link {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 12pt; font-weight: bold;
}
.headertitle-large a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle-large a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle-large a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.headertitle-small {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt; font-weight: bold;
}
.headertitle-small a {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt; font-weight: bold;
}
.headertitle-small a:link {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 8pt; font-weight: bold;
}
.headertitle-small a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle-small a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle-small a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.headertitle-band {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 10pt; font-weight: bold;
}
.headertitle-band a {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 10pt; font-weight: bold;
}
.headertitle-band a:link {
	color: rgb(0, 51, 153); font-family: tahoma; font-size: 10pt; font-weight: bold;
}
.headertitle-band a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle-band a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.headertitle-band a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.cqfeed {
	text-align: right;
}
.ms-slDlg-BodyContainer {
	width: 100%; height: 100%;
}
.ms-slDlg-FieldLabel {
	padding-top: 10px; padding-bottom: 2px;
}
.ms-slDlg-IndentedFieldLabel {
	padding-top: 5px; padding-bottom: 2px; padding-left: 10px;
}
.ms-slDlg-FieldDescription {
	color: gray;
}
.ms-slDlg-BrowseButton {
	margin-right: 5px; margin-left: 10px;
}
.ms-slLinkDlg-InputField {
	width: 275px;
}
.ms-slLinkDlg-FirstPanel {
	text-align: left; padding-top: 10px; padding-right: 20px; padding-left: 50px;
}
.ms-slLinkDlg-Panel {
	text-align: left; padding-top: 0px; padding-right: 20px; padding-left: 50px;
}
.ms-slLinkDlg-PeoplePanel {
	padding: 0px 20px 10px 50px; text-align: left; margin-top: 5px; background-color: rgb(214, 232, 255);
}
.ms-slDlg-ActionText {
	padding-left: 5px;
}
.ms-slDlg-ActionText a {
	color: rgb(65, 103, 175); text-decoration: none;
}
.ms-slDlg-ActionText a:visited {
	color: rgb(65, 103, 175); text-decoration: none;
}
.ms-slDlg-ActionText a:active {
	color: rgb(65, 103, 175); text-decoration: none;
}
.ms-slDlg-ActionText a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.ms-slGroupDlg-InputField {
	width: 362px;
}
.ms-slGroupDlg-Panel {
	text-align: left; padding-top: 5px; padding-right: 20px; padding-left: 50px;
}
.ms-slViewDlg-InputField {
	width: 362px;
}
.ms-slViewDlg-Panel {
	text-align: left; padding-top: 5px; padding-right: 20px; padding-left: 50px;
}
.ms-slViewDlg-FirstPanel {
	text-align: left; padding-top: 20px; padding-right: 20px; padding-left: 50px;
}
.ms-slSortDlg-Panel {
	text-align: left; padding-top: 0px; padding-right: 0px; padding-left: 0px;
}
.listItem div.callOut a {
	font: bold 12.5pt/16pt arial, helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
.title-With-Background {
	padding: 4px; margin-top: 5px; background-color: rgb(131, 176, 236);
}
div.title-With-Background a {
	font: bold 12.5pt/16pt arial, helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
div.title-With-Background a:link {
	font: bold 12.5pt/16pt arial, helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
div.title-With-Background a:hover {
	font: bold 12.5pt/16pt arial, helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
div.title-With-Background a:visited {
	font: bold 12.5pt/16pt arial, helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
div.title-With-Background a:active {
	font: bold 12.5pt/16pt arial, helvetica, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
