/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
/* 
content-width: 620 
left-width:185
left-right-185
*/
@charset "utf-8";
html {
  height: 100%;
  margin-bottom: 1px;
}
form {
  display:inline;
}
body{margin:10px;}
*{
}
body, td{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#424241;
	line-height: 1.4em;
}
h1,h2,h3,h4,h5{
	color:#424241;
}
a{
	text-decoration: none;
	font-weight: normal;
	color:#424241;
}
a:hover {
	text-decoration: underline;
	font-weight: normal;
	color:#990000;
}
input.button, button.button {border:1px solid #d7d4d4; color:#f7941d; cursor:pointer; }
input.inputbox, select.inputbox, textarea.inputbox{
	border:1px solid #d7d4d4;
	padding:2px;
	}
p { margin-top: 13px; margin-bottom: 10px; padding:0; }
h1{ font-size:25px; font-weight:bold; margin:15px 0 15px 0}
h2{ font-size:20px; font-weight:bold; margin:15px 0 15px 0}
h3{ font-size:15px; font-weight:bold; margin:10px 0 10px 0;}
h4{ font-size:13px; margin:8px 0 8px 0;}
h5{ font-size:12px; margin:8px 0 8px 0;}
img { border: 0 none; }
select { border:1px solid #7f9db9;}
hr{ border:none; border-top:1px solid #CCCCCC; background:none;}
/* table list */
table.list{
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-collapse:collapse;
	width:100%;
	}
table.list tr td{
	padding:5px 3px 5px 3px;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	background:#FFFFFF;
	}
table.list tr.title td{ font-weight:bold; text-align:center; background:#F6F6F6}
.break{clear:both;}
.note{font-style:italic; color:#666;}
div.break{clear:both; height:1px; font-size:1px;}
.inputbox{border:1px solid #9EA7F8;}
.button{border:1px solid #9EA7F8;}
.red{color:#F00;}
ol li{
	font-weight:bold;
	margin:5px 0;
	font-size:14px;
}
*{ margin:0; padding:0;}
/*congif custom public*/
	#container{
		max-width: 900px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.slogan{
		text-align:center;
		color:#09C;
		font-size:22px;
	}
	.messages{
		color:#09C;
	}
	img {
		border:0px;
	}
	
	a {
		text-decoration: none;
		cursor: pointer;
	}
	ol, ul {
		list-style: none;
	}
	button{
		height:20px;
		border-radius: 3px;
		border-width: 1px;
		border-style: solid;
		background-color: #fff;
		color: #333;
		border-color: #dfdfdf;
		height:25px;
		padding:2px 5px 2px 5px;
	}
	button:hover{
		cursor:pointer;
	}
	h2{
		font-size:18px;
	}
	
/*end congif custom public*/
/
	/* our services*/
	.content #our-services .body ul li{
		float:left;
		width:180px;
		text-align:center;
		padding:0px 30px 0px 30px;
	}
	.content #our-services .body ul li .magrin{
		margin-bottom:35px;
	}
	.content #our-services .body .read-more a{
		padding:5px 10px 5px 10px;
		background:#FFFFFF;
		color:#FFF;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		-o-border-radius:2px;
		border-radius:2px;
	}
	.content #our-services.body .thumb img{
	}
	.content #our-services .body .short_desc{
		text-align:justify;
	}
	/*end our services*/
	/*end body product-our*/
	h3 {
		font-size: 15px;
		font-weight: bold;
		margin: 10px 10px 10px 10px;
	}
	fieldset{
		padding:10px;
	}
	input {
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border-width: 1px;
		border-style: solid;
		background-color: #fff;
		color: #333;
		width: 400px;
		border-color: #dfdfdf;
		height: 23px;
		padding-left: 10px;
	}
	/* border */
table.n-border{
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-collapse:collapse;
	width:100%;
	}
table.n-border tr td{
	padding:5px 3px 5px 3px;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	//background:#FFFFFF;
	}
table.n-border tr.title td{ font-weight:bold; text-align:center; background:#F6F6F6}
/*end border*/
.body-limit-use {
margin-top: 10px;
}
h2{ font-size:20px; font-weight:bold; margin:15px 0 15px 0}