div.tabscontent{
	width:auto;
}
div.main_tabscontent{
	padding:5px;
}
.tabcontent {
	DISPLAY: none
}
.tabcontent {
	DISPLAY: none
}

@media Print    
{
.tabcontent {
	DISPLAY: block !important
}
    }
.indentmenu UL {
	FLOAT: left;
	padding:0;
	margin:0;
}
.indentmenu UL LI {
	DISPLAY: inline;
	margin:0;
	padding:0;
}
.indentmenu UL LI A {
	float: left;
	text-decoration:none;
	cursor:pointer;
}
.tabcontent {
	DISPLAY: none
}

@media Print    
{
.tabcontent {
	DISPLAY: block !important
}

}

.shadetabs {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; LIST-STYLE-TYPE: none; MARGIN-TOP: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 12px Verdana; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 3px
}
.shadetabs LI {
	MARGIN: 0px; DISPLAY: inline
}
.shadetabs LI A {
	Z-INDEX: 1; BORDER-BOTTOM: #778 1px solid; POSITION: relative; BORDER-LEFT: #778 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: url(shade.gif) white repeat-x left top; COLOR: #2d2b2b; BORDER-TOP: #778 1px solid; MARGIN-RIGHT: 3px; BORDER-RIGHT: #778 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.shadetabs LI A:visited {
	COLOR: #2d2b2b
}
.shadetabs LI A:hover {
	COLOR: #2d2b2b; TEXT-DECORATION: underline
}
.shadetabs LI A.selected {
	POSITION: relative; TOP: 1px
}
.shadetabs LI A.selected {
	BACKGROUND-IMAGE: url(shadeactive.gif); BORDER-BOTTOM-COLOR: white
}
.shadetabs LI A.selected:hover {
	TEXT-DECORATION: none
}
@media Print    
{
.tabcontent {
	DISPLAY: block !important
}
    }
.modernbricksmenu2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 362px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: #d25a0b 5px solid; PADDING-TOP: 0px; voice-family: inherit
}
.modernbricksmenu2 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.modernbricksmenu2 LI {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px 2px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-TOP: 0px
}
.modernbricksmenu2 A {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: black; MARGIN: 0px 1px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; FONT: bold 11px Arial; FLOAT: left; COLOR: white; BORDER-TOP: white 1px solid; TEXT-DECORATION: none; PADDING-TOP: 5px
}
.modernbricksmenu2 A:hover {
	BACKGROUND-COLOR: #d25a0b; COLOR: white
}
.modernbricksmenu2 A.selected {
	BORDER-BOTTOM-COLOR: #d25a0b; BACKGROUND-COLOR: #d25a0b; BORDER-TOP-COLOR: #d25a0b; COLOR: white; BORDER-RIGHT-COLOR: #d25a0b; BORDER-LEFT-COLOR: #d25a0b
}


