div.tabscontent{
	border:1px solid #1277bd;
	padding:2px;
}

.indentmenu {
	background:#1277be url(images/head_bg.png) repeat-x;
	padding:0;
	height:31px;
	border-top:1px solid #1277bd;
	border-left:1px solid #1277bd;
	border-right:1px solid #1277bd;
}
.indentmenu UL {
	margin-left:2px;
	margin-top:4px;
}
.indentmenu UL LI {
	background:#e6e6e6;
}
.indentmenu UL LI A {
	color:#333333;
	background:#d1defa url(images/active.png) repeat-x;
	margin-left:2px;
	border-top:1px solid #9ccae9;
	border-left:1px solid #9ccae9;
	border-right:1px solid #9ccae9;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	padding:0 10px 0 10px;
}
.indentmenu UL LI A.selected{
	BACKGROUND:#ffffff; 
	COLOR:#333333 !important;
	margin-top:1px;
	border-color:#1277be;
}
.indentmenu UL LI A:hover{
	border-color:#1277bd;
}
