/*
	Reset
*/
ul,ol,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
/**************/
body {
    background: #fff;
    font-family: Helvetica, "Arial Rounded MT Bold", Arial;
	width: 960px;
    margin: 0 auto;
    max-width: 98%;     
}
::selection {
	background: #2185F3;
	color:#fff;
 }
::-moz-selection {
	background: #2185F3;
	color:#fff;	
}
::-webkit-scrollbar {
	width: 10px;
	border: none;
}

::-webkit-scrollbar-track {
	background: transparent;
	border: none;
}

::-webkit-scrollbar-thumb {
	background: #2185F3;
	border: 1px solid #0A55A9;
}
a,a:visited{
	color: #2185F3;
	text-decoration:none;
}
a:hover{
	color: #000;
}
.right{
	float:right;
}
h2{
	color: #666;
	border-bottom: 1px dotted #666;
	padding-bottom: 5px;
	clear: both;
}
br{
	clear:both;
}
/*
	Layout
*/
header{

}
header .info{

}
	header .info h1{
		display: block;
		width: 100%;
		color: #2185F3;
		font-size: 50px;
		text-align: center;
	}
		header .info h1 strong{
			color: #3A3A3A;
		}	
		header .info h1 span{
			display: block;
			font-size: 12px;
			color: #ccc;
		}
	header ul.menu{
		list-style: none;
		clear:both;
		margin: 10px 0;
		padding: 0;
		width: 100%;
		height:35px;
	}
		header ul.menu li a,header ul.menu li a:visited{
			margin-left:5px; 
			font-size: 13px;
			background: #2185F3;
			color: #fff;
			font-weight: 700;
			padding:5px 10px;
			float:right;
			border-radius: 3px;

			-webkit-transition: background-color 0.5s linear;
		}
		header ul.menu li a:hover{
			background-color: #6FAFF7;
		}
		header ul.menu li a:active{
			background-color: #0C69D1;
		}	
		header ul.nav{
			width: 100%;
			height: 50px;
			margin: 10px 0;
			background: #2185F3;
			border-radius: 3px;			
		}			
			header ul.nav a{
				padding:15px;
				float:left;
				color: #fff;
				font-weight: 700;
				-webkit-transition: background-color 0.5s linear;				
			}	
			header ul.nav a.right{
				float:right;
			}
				header ul.nav a:hover{
					background-color: #6FAFF7;
				}							
section{
	width: 100%;
	clear:both; 
	line-height: 25px;
}	
	section#main{
		color:#555;
		background: #F7F7F7;	
		border-top:3px solid #2185F3;
		border-bottom:3px solid #eee;	
	}		
footer{
	clear:both;
	width: 960px;
	color:#999;
	font-size: 12px;
    margin: 15px auto;
    max-width: 98%; 
    text-align: right;
}
/*
	Form
*/
form.form{
	margin:10px;
}
input:focus,textarea:focus,select:focus,button:focus{
	outline: none;
}

.form label{
	width:387px;
	display: block;
	margin:5px 0;
	font-size: 13px;
	font-weight: 700;
}
.form label a{
	margin-top:5px;	
	float:right;
	color:#009ee4;
	font:bold 11px arial;	
}	
.form .input {
	display:block;
	padding:5px 10px;
	width:365px;
	height:25px;
	border:1px #ccc solid;
	margin:10px 0;
	font:bold 15px arial;
	color:#999;
	border-radius:3px;	
	box-shadow:inset 1px 1px 3px #ccc,0 0 0 3px #f7f7f7;
	-webkit-transition: border-color 0.5s linear;		
}
.form textarea.input {
	min-height:150px;
}
.form .input:focus {
	border-color:#649EDF;
	color:#222;
	box-shadow:inset 1px 1px 3px #ccc,0 0 0 3px #DEE9FA;	
}		
.form .button-form {
	background:#2185F3;
	height:35px;
	width:387px;
	border:1px solid #0B5FBB;
	color:#fff;
	font:bold 15px arial;
	cursor:pointer;	
	border-radius:3px;	
	box-shadow:inset 0 0 2px 1px #78B5F8;
}
.form .button-form:hover {
	background:#529FF5;
}
.form .button-form:active {
	background:#0A55A9;
	color:#fff;	
	border:1px solid #000;
	box-shadow:inset 0 0 2px 1px #074181;
}
/*
	Notification
*/	
.message {
	margin:0 auto 5px;
	clear:both;
	color: #fff;
	display: block;
	font-weight:700;
	padding:10px;
	padding-right: 30px;
	font-size: 13px;
	position: relative;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.message span.close {
	float:right;
	position: absolute;
	top: 5px;
	right:10px;
	cursor: pointer;
}
	.message.notice {
		background:#2185F3;
	}
	.message.error {
		background:#CA0B0B;
	}	
	.message.success {
		background:#099D48;
	}	
	.message.info {
		background:#000;
	}			
/*
	UI Elements
*/
ul.stat{
	display: block;
	margin:0 auto;
}
		ul.stat li{
			float:left;
			display: block;
			padding:20px 25px;
			background: #2185F3;
			margin:5px 10px 10px 0;
			color: #fff;
			font-weight: 700;
			font-size: 25px;
			text-align: center;
			border-radius: 3px;
		}
			ul.stat li span{
				color: #B5D6FB;
				display: block;
				font-size: 13px;
			}	
		ul.stat li.form{
			float: right;
			margin-right: 0;
			width:320px;
			height: 50px;
			text-align: left;
			background: #3a3a3a;
		}
		ul.stat li.form.full{
			float: none;
			clear: both;
			display: inline-block;
			width:520px;
			height: 50px;
			text-align: left;
		}
			ul.stat li.form label{
				margin-top: -10px;
			}		
			ul.stat li.form input{
				background: #fff;
				width:95%;
				border: 1px solid #000;
				font-size: 13px;
				padding:5px 10px;
			}
a.blue{
	background: #2185F3;
	color: #fff;
	padding:2px 10px;
	font-weight: 700;
	font-size: 12px;
	border-radius: 2px;
	margin: 0 5px;
}
		a.blue:hover{
			background: #64AAF7;
		}			
a.delete{
	background: #E30000;
	color: #fff;
	padding:5px 10px;
	float:left;
	font-weight: 700;
	font-size: 12px;
	border-radius: 2px;
	margin: 0 5px;
}
		a.delete:hover{
			background: #FF6464;
		}
a.green{
	background:#099D48;
	color: #fff;
	padding:5px 10px;
	float:left;
	font-weight: 700;
	font-size: 12px;
	border-radius: 2px;
	margin: 0 5px;	
}
		a.green:hover{
			background:#0BBB56;
		}	
ul.list{
	width:100%;
	display: block;
	clear: both;
	word-wrap:break-word;
}
	ul.list li{
		margin: 0;
		padding: 8px 0;
		border: 0;
		position: relative;
		border-bottom: 1px solid #EEE;
		word-wrap:break-word;
	}
	ul.list li .container{
		display: block;
		clear: both;
		height: 30px;
		word-wrap:break-word;
	}
	ul.list li .container a.link{
		color:#000;
		font-size:18px;
		font-weight: 700;	
		float:left;
		word-wrap:break-word;
		-webkit-transition: color 0.5s linear;
	}
		ul.list li .container a.link:hover{
			color:#2185F3;
		}
	ul.list li .container span{
		color:#555;
		font-style: italic;
	}		
	ul.list li a.delete,ul.list li a.green,ul.list li a.blue{
		padding:0 10px;
		float: right;
	}	
	ul.list li span{
		font-size: 12px;
		font-weight: 700;	
		margin:0 5px;
	}	
	ul.list li span.date{
		background: #EEE;
		color: #555;
		padding: 2px 4px;
		border-radius: 2px;
	}
	ul.list li span.type{
		background: #2185F3;
		color: #fff;
		padding: 2px 4px;
		border-radius: 2px;
	}	
#shadow {
    background: #000;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
    clear: both; }
 
#alert {
    width: 75%;
    max-width:500px;
    min-height: 150px;
    position: fixed;
    margin: 20% 10%;
    z-index: 200;
    display: none;
    background: #fff;
    border: 1px solid #015A9C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    font:bold 13px "Arial Rounded MT Bold",Arial, Helvetica, sans-serif;
    padding: 10px;
    clear: both; 
    color:#222;}
 
    #alert .title {
       	background:#2185F3;    
        border-top: 1px solid #76B4F8;
        box-shadow: 0 0 0 1px #0b64a2, 0 2px 2px #999;
        display: block;
        border-radius: 5px 5px 0 0;
        color:#fff;
        font:bold 15px Arial;
        text-align: center;
        text-shadow:0 2px 1px #0b64a2;
        padding: 10px;
        margin: -10px;
        font-size: 20px;
        margin-bottom: 10px;
        height: 30px;
        }		
ul.form_opt {
	list-style: none;
	margin: 15px 0;
	height: 40px; 
	clear:both;
}
	ul.form_opt li { float: right; }
 
		ul.form_opt li.label {
			float: left;
			margin: 5px 10px 0 5px; 
			font-size:14px;
		}
		ul.form_opt li a {
			float: right;
			background: #62b7f9;
			padding: 5px;
			border: 1px solid #0b64a2;
			border-left-color: #3DA9F1;
			text-decoration: none;
			color: #fff;
			text-shadow:0 1px 1px #0b64a2;			
			box-shadow:0 1px 3px rgba(0,0,0,0.3), inset 0 1px 1px #aedafc;			
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62b7f9), to(#0190f5));
		}
 			ul.form_opt li a.current {
 				background: #015594;
 				box-shadow:inset 0 1px 1px #013358;	
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#015594), to(#0190f5));
			}
			ul.form_opt li a.first { 
				border-radius: 3px 0 0 3px; 
			}
			ul.form_opt li a.last {
				border-radius: 0 3px 3px 0; 
				border-left: 0;
			}
		ul.form_opt li.label small {
			display: block;
			color: #999; 
		}    
.user-ui{
	margin: 10px;
	width:150px;
	float:left;
}			    
	.user-ui .user{
		width:150px;
		min-height: 150px;
		margin-bottom: 5px;
		background: #f8f8f8;
		border: 1px solid #eee;
		border-radius: 3px;
	}	
	.user-ui .user img{
		width:150px;
		border-radius: 3px 3px 0 0;
		position: relative;
		top:0;
		left:0;
		z-index: 0;
	}	
	.user-ui .user span.email{
		color:#999;
		margin: 5px;
		font-size: 10px;
		display: block;
	}
	.user-ui .user span.count{
		color:#999;
		margin: 5px;
		font-size: 18px;
		background: #2185F3;
		padding: 2px 3px;
		display: block;
		position: absolute;
		z-index: 1;
		color:#fff;
	}		
	.user-ui a.delete{
		width: 125px;
		text-align: center;
	}
.chart-tip{
	background: #2185F3;
	padding: 2px 5px;
	border-radius: 3px;
	border: 1px solid #0750A0;
	box-shadow: 0 0 5px #0A61C0;
}