div.tabscontent{
	
}
div.tabscontent .main_tabscontent{
	border:1px solid #CCC;
	border-top:1px solid #ccc;
}

.indentmenu {
	padding:0;
	height:28px;
	padding-left:0px;
}
.indentmenu UL {
	margin-left:0 !important;
	margin-top:0 !important;
}
.indentmenu UL LI {
	background:#e6e6e6;
}
.indentmenu UL LI A {
	color:#FFF !important;
	background:#666666;
	margin-left:0px;
	margin-right:1px;
	height:28px;
	line-height:28px;
	vertical-align:middle;
	padding:0 15px 0 15px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.indentmenu UL LI A.selected{
	BACKGROUND:#a70303; 
	COLOR:#FFF !important;
}
.indentmenu UL LI A:hover{
	BACKGROUND:#a70303; 
}
