/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
div.mod_featured_brands a{ color:#000000 !important;}
div.mod_featured_brands hr.break{clear:left; border:0; border-top:1px solid #CCCCCC;}
div.mod_featured_brands div.header{
	background:url(right_module_bg.png) repeat-x;
	height:31px;
}
div.mod_featured_brands div.header h3{
	font-size:14px;
	color:#333333;
	background:url(head-module.png) no-repeat left top;
	float:left;
	margin-top:0px;
	margin-bottom:0;
	padding:0px 0 0px 30px;
	height:31px;
	vertical-align:middle;
	line-height:31px;
	}
div.mod_featured_brands div.header select.inputbox{
	margin:5px 0 0 50px;
	float:left;
	}
div.mod_featured_brands div.header .brows_cat{
	float:right;
	background:url(arrow-05.png) no-repeat left 10px;
	padding:7px 10px 0 10px;
	}
div.mod_featured_brands div.header .brows_cat a{ color:#333333;}

/* row01 */
div.mod_featured_brands div.row01{
	background:url(featBrands_bg.gif) repeat-x top;
	clear:both;
	font-size:11px;
	}
div.mod_featured_brands div.row01 ul.list{
	list-style:none;
	margin:0;
	padding:0;
	}
div.mod_featured_brands div.row01 ul.list li.item{
	float:left;
	width:45%;
	background:#FFFFFF;
	margin:10px 0 0 10px;
	border:1px solid #d2d3cd;
	padding:10px;
	}
div.mod_featured_brands div.row01 ul.list li.item div.thumb{
	float:left;
	width:35%;
	}
div.mod_featured_brands div.row01 ul.list li.item .info{
	float:right;
	width:62%;
	}
div.mod_featured_brands div.row01 ul.list li.item .info a.name,
div.mod_featured_brands div.row02 ul.list li.item a.name{
	font-weight:bold;
	}
div.mod_featured_brands div.row01 ul.list li.item .info .title,
div.mod_featured_brands div.row02 ul.list li.item .title{
	color:#d76d2f;
	font-weight:bold;
	}
div.mod_featured_brands div.row01 ul.list li.item .info .price,
div.mod_featured_brands div.row02 ul.list li.item .price,
div.mod_featured_brands div.row01 ul.list li.item .info .price a,
div.mod_featured_brands div.row02 ul.list li.item .price a{
	color:#890000 !important;
	font-weight:bold;
	}
div.mod_featured_brands div.row01 ul.list li.item .info ul,
div.mod_featured_brands div.row02 ul.list li.item ul{
	list-style:url(arrow.gif);
	margin:10px 0 0 5px;
	padding-left:10px;
	}
/* row 02 */
div.mod_featured_brands div.row02{
	clear:both;
	margin-top:10px;
	font-size:11px;
	}
div.mod_featured_brands div.row02 ul.list{
	list-style:none;
	margin:0;
	clear:both;
	padding:0;
	}
div.mod_featured_brands div.row02 ul.list li.item{
	float:left;
	width:24.5%;
	margin-bottom:20px;
}
div.mod_featured_brands div.row02 ul.list li.item .inner{
	padding:10px;
	border-right:1px solid #d3d2d2;
	padding-top:0;
	}
div.mod_featured_brands div.row02 ul.list li.item .last{border:0;}

div.mod_featured_brands div.row02 ul.list li.item .thumb{
	float:left;
	width:50%;
	}
div.mod_featured_brands div.row02 ul.list li.item .r_img{
	float:right;
	width:50%;
	}
div.mod_featured_brands div.row02 ul.list li.item ul{
	clear:both;
	}