/***************************************************************************
*  @PHP Web Application.
*  @version			1.0.0 
*  @copyright		Copyright (C) 2011 Tran Thanh Sang. All rights reserved.
*  @Released under 	Tran Thanh Sang
*  @Email			sangtialia@gmail.com
*  @Date			Jan 2011
***************************************************************************/
.blbanners .item{
	border:1px solid #CCCCCC;
	padding:2px;
	margin-bottom:2px;
	margin-top:2px;
	}