div.tabscontent{
	border:1px solid #aaaaaa;
	padding:2px;
}

.indentmenu {
	background:#CCCCCC url(images/head_bg.png) repeat-x;
	padding:0;
	height:31px;
	border-top:1px solid #aaaaaa;
	border-left:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
}
.indentmenu ul {
	margin-left:2px;
	margin-top:4px;
}
.indentmenu ul li {
	background:#e6e6e6;
}
.indentmenu ul li a {
	color:#666 !important;
	background:#e6e6e6 url(images/active.png) repeat-x;
	margin-left:2px;
	border-top:1px solid #d3d3d3;
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	padding:0 10px 0 10px;
}
.indentmenu ul li a.selected{
	BACKGROUND:#ffffff; 
	COLOR:#333333 !important;
	margin-top:1px;
	border-color:#aaaaaa;
}
.indentmenu ul li a:hover{
	border-color:#aaaaaa;
}
