/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
div.mod_special_products div.row ul.list{
	list-style:none;
	margin:0;
	padding:0;
	}
div.mod_special_products div.row ul.list li.item{
	padding-left:5px;
	padding-top:5px;
	clear:both;
	background:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
	margin:0;
	width:auto;
	}
div.mod_special_products div.row ul.list li.last{
	border-bottom:0;
}
div.mod_special_products div.row ul.list li.item div.thumb{
	float:left;
	width:50%;
	}
div.mod_special_products div.row ul.list li.item .left{
	}
div.mod_special_products div.row ul.list li.item .info a.name{
	font-weight:bold;
	}
div.mod_special_products div.row ul.list li.item .info .price,
div.mod_special_products div.row ul.list li.item .info .price a{
	color:#890000 !important;
	font-weight:bold;
	}
div.mod_special_products div.row ul.list li.item p.short_des{
	margin-top:5px;
	}
