﻿.validateform table{
	border:0;
	padding:3px;
	text-align:left;
	vertical-align:top;
	}
.validateform table td.label{ text-align:right; padding-right:10px;}
.validateform input.error,.validateform textarea.error{
	border:1px dotted #FF0000;
}
.validateform label.error{
	display:block;
	color:#FF0000;
	font-style:italic;
	}
