/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
/* 
content-width: 620 
left-width:185
left-right-185
*/
@charset "utf-8";
html {
  height: 100%;
  margin-bottom: 1px;
}

form {
  display:inline;
}
body{
	margin:0 auto;
	}
*{
}
body, td,p{
}
h1,h2,h3,h4,h5{
}
h1,h2{ line-height:1.5em;}



input.button, button.button {border:1px solid #006eaf; color:#004c84; cursor:pointer; background:#c1e3f8; }
input.inputbox, select.inputbox, textarea.inputbox{
	border:1px solid #006eaf;
	}
.red{color:#ff0000;}
.note{color:#666; font-size:11px; font-style:italic;}
.articlecontent{
	padding:0 20px;
}
ul.list{
	list-style:url(../images/arrow-01.png);
	margin:0 0 0 10px;
	padding:0 0 0 15px;
}
ul.list > li{
	margin:5px 0;
	padding:0;
}

p { margin-top: 13px; margin-bottom: 10px; }
h1{ font-size:25px; font-weight:bold; margin:15px 0 15px 0}
h2{ font-size:20px; font-weight:bold; margin:15px 0 15px 0}
h3{ font-size:15px; font-weight:bold; margin:10px 0 10px 0;}
h4{ font-size:13px; margin:8px 0 8px 0;}
h5{ font-size:12px; margin:8px 0 8px 0;}

img { border: 0 none; }
select { border:1px solid #7f9db9;}
hr{ border:none; border-top:1px solid #CCCCCC; background:none;}

/* table list */
table.list{
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-collapse:collapse;
	width:100%;
	}
table.list tr td{
	padding:5px 3px 5px 3px;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	background:#FFFFFF;
	}
table.list tr.title td{ font-weight:bold; text-align:center; background:#F6F6F6}


/* layout */
#a-primary{
	margin:0 auto;
	width:100%;
	padding:0;
	}
#a-page{
	margin:0 auto;
	background:#FFFFFF;
	padding:0px;
	text-align:left;
	width:980px;
}
#a-footer{
	background:#ededed;
	color:#aeaeae;
	padding:10px;
	height:80px;
	text-align:center;
}
#a-footer ul.menu{list-style:none;
margin:0;
padding:0;
}
#a-footer ul.menu li{
	float:left;
	margin-left:10px;
}
#a-footer a{ color:#aeaeae; text-decoration:none; text-transform:uppercase;}
.a-content .inner-content{
}
.left-menu ul li{
	margin:7px 5px;
}
.left-menu ul li a{
	text-decoration:none;
	color:inherit;
}
.left-menu ul li a:hover{text-decoration:underline;}
.logo{clear:both; width:100%;}
.logo .left-logo{
	float:left;
	width:40%;
}
.logo .right-logo{
	float:right;
	width:40%;
	text-align:right;
	padding-top:10px;
}