/* pane-sliders  */
.pane-sliders .title {
	margin: 0;
	padding: 2px;
	color: #666;
	cursor: pointer;
}

.pane-sliders .panel   { border: 1px solid #ccc; margin-bottom: 3px;}

.pane-sliders .panel h3 { background: #f6f6f6; color: #666}

.pane-sliders .content { background: #f6f6f6; }

.pane-sliders .adminlist     { border: 0 none; }
.pane-sliders .adminlist td  { border: 0 none; }

.pane-toggler  span     { background: transparent url(images/arrow.png) 5px 50% no-repeat; padding-left: 20px;}
.pane-toggler-down span { background: transparent url(images/arrow_down.png) 5px 50% no-repeat; padding-left: 20px;}

.pane-toggler-down {  border-bottom: 1px solid #ccc; }
