/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/

div.stl_promotion{
	position:absolute;
	z-index:10000;
	cursor:pointer;
	border:#FF0000 1px solid;
	}