/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
/* 
content-width: 620 
left-width:185
left-right-185
*/
@charset "utf-8";
html {
  height: 100%;
  margin-bottom: 1px;
}

form {
  display:inline;
}
body{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#424241;
	line-height: 1.5;
	}
a{
	text-decoration: none;
	font-weight: normal;
	color:#069;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
	color:#990000;
}

input.button, button.button {
	background:url(../images/bt.jpg) repeat-x;
	height:30px;
	border:1px solid #c9c9c9;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius:5px;
	cursor:pointer;
	}
.button:hover{
	background:#FFF;
}
input.inputbox, select.inputbox, textarea.inputbox{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius:5px;
	border:1px solid #a7a7a7;
	height:20px;
	box-shadow:inset 2px 2px 3px #ccc;
	-moz-box-shadow :inset 2px 2px 3px #ccc;
	-webkit-box-shadow:inset 2px 2px 3px #ccc;
	padding-left:0px;
	}
 textarea.inputbox{
	 height:auto;
 }
.hide{display:none;}
.show{display:block;}
p { margin-top: 13px; margin-bottom: 10px; padding:0; }
h1{ font-size:25px; font-weight:bold; margin:15px 0 15px 0}
h2{ font-size:20px; font-weight:bold; margin:15px 0 15px 0}
h3{ font-size:16px; font-weight:bold; margin:10px 0 10px 0;}
h4{ font-size:15px; margin:8px 0 8px 0;}
h5{ font-size:14px; margin:8px 0 8px 0;}

img { border: 0 none; }
select { border:1px solid #7f9db9;}
hr{ border:none; border-top:1px dotted #CCCCCC; background:none;}

/* table list */
table.list{
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-collapse:collapse;
	width:100%;
	}
table.list tr td{
	padding:5px 3px 5px 3px;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	background:#FFFFFF;
	}
table.list tr.title td{ font-weight:bold; text-align:center; background:#F6F6F6}


/* layout */
#stl-primary{
	margin:0 auto;
	width:100%;
	padding-bottom:0px;
	padding-top:0px;
	background:#e6e6e6;
	}
#stl-page{
	margin:0 auto;
	padding:0;
	text-align:left;
	width:980px;
	background:#FFF;
}
#stl-body{
	margin-top:10px;
	padding:0 10px;
}
#stl-left{
	float:left;
	}
#stl-left #stl-left-inner{
	margin-right:10px;
}
#stl-content{
	float:right;
	min-height:500px;
	}
#stl-right{
	float:right;
	}
#stl-bottom{
	clear:both;
	/*margin-top:15px;*/
	}
#stl-content-inner{
	padding:1px;
	}
#stl-top{
	background:#9b2521 url(../images/banner_bg.png) repeat-x top;
}
#stl-top .banner{
	height:80px;
}
#stl-top .banner .logo{
	width:300px;
	float:left;
	
}
#stl-top .banner .logo p{ margin:0; padding:0;}
#stl-top .banner .logo img{
	margin-top:17px;
	margin-left:22px;
}
#stl-top .top-menu{
	float:right;
	width:450px;
	margin-right:16px;
	text-align:right;
	color:#CCC;
	height:35px;
	line-height:35px;
	vertical-align:middle;
	font-size:12px;
}
#stl-top .top-menu a{color:#FFF;}

#stl-top .banner .search{
	float:right;
	width:230px;
	clear:right;
	margin-right:16px;
}
.break{clear:both;}
.note{font-style:italic; color:#666;}
div.break{clear:both; height:1px; font-size:1px;}
.inputbox{border:1px solid #9EA7F8;}
.button{border:1px solid #9EA7F8;}
.red{color:#a70303;}


.blstyle1{
	background:url(../images/block-title.jpg) repeat-x 0 8px;
	padding-bottom:10px;
	clear:both;
	}
.blstyle1 h3{
	margin:0;
	padding:0 10px 0 0;
	line-height:30px;
	vertical-align:middle;
	height:30px;
	color:#808080;
	font-size:19px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	float:left;
	background:#FFF;
	}
.blstyle1 .b-content{
	clear:both;
}
.block-2{
	clear:both;
	width:100%;
}
.block-4{
	clear:both;
	width:100%;
}
.block-3{
	margin:0;
}
/* top */
.modheading{
	color:#bb1d23;
	font-size:18px;
	font-weight:bold;
	padding:0px 0 1px 0px;
	text-transform:uppercase;
	margin:0;
	border-bottom:2px solid #9f9f9f;
	margin-bottom:15px;
	}
.modheading2{
	color:#a70303;
	font-size:15px;
	font-weight:bold;
	padding:0;
	text-transform:uppercase;
	margin:0;
	border-bottom:2px solid #9f9f9f;
	margin-bottom:15px;
	height:29px;
	}
.modheading2 span{
	float:left;
	background:#a70303;
	color:#FFF;
	height:28px;
	line-height:28px;
	vertical-align:middle;
	padding:0 15px;
}
/* bottom */
#stl-bottom .blockmenu{
	width:100%;
	background:#dcdddf;
	height:30px;
}
#stl-bottom .blockmenu .b-inner{
}
#stl-bottom .blockmenu ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-left:100px;
	
}
#stl-bottom .blockmenu ul li{
	margin:0;
	padding:0 13px;
	float:left;
	vertical-align:middle;
	margin-top:5px;
}
#stl-bottom .blockmenu ul li + li{
	border-left:1px solid #666;
}
#stl-bottom .blockmenu a{
	color:#575659;
	text-decoration:none;
}
#stl-bottom .blockmenu .active a, #stl-bottom .blockmenu a:hover{
	color:#7c0115;
	}
#stl-bottom  .blockcopyright{
	background:#676767;
	color:#FFF;
	clear:both;
	height:30px;
	padding-top:7px;
}
#stl-bottom  .blockcopyright p{
	margin:0;
	padding:0;
}
#stl-bottom .blockcopyright span{
	float:right;
	background:url(../images/logo_bottom.png) no-repeat right;
	padding:5px 30px 5px 0;
	color:#ffffff;
	margin-right:10px;
	font-size:12px;
	}
#stl-left .block{
	margin-bottom:10px;
	border:1px solid #aeaeae;
	background:#efeeee;
}
#stl-left .block h3{
	background:url(../images/left-block.png) repeat-x;
	height:41px;
	line-height:41px;
	vertical-align:middle;
	font-size:19px;
	color:#FFF;
	margin:0;
	padding:0;
	text-align:center;
}
#stl-left .block .b-content{
	margin-top:10px;
	padding:10px;
}
.articlecontent .detail .fulltext{
	margin:0 20px;
}
.articlecontent .detail .fulltext li{
	margin-top:7px;
	margin-bottom:7px;
}
