/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
/* 
*/
@charset "utf-8";
html {
  height: 100%;
}

form {
  display:inline;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#0D0D0D;
	line-height: 1.4;
	margin:5px;
	}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
	color:#003366;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
	color:#990000;
}

input.button, button.button {border:1px solid #CCC; color:#000033; cursor:pointer; }
input.inputbox, select.inputbox, textarea.inputbox{
	border:1px solid #CCC;
	}

p { margin-top: 13px; margin-bottom: 10px; }
h1{ font-size:25px; font-weight:bold; margin:15px 0 15px 0}
h2{ font-size:20px; font-weight:bold; margin:15px 0 15px 0}
h3{ font-size:15px; font-weight:bold; margin:10px 0 10px 0;}
h4{ font-size:13px; margin:8px 0 8px 0;}
h5{ font-size:12px; margin:8px 0 8px 0;}

img { border: 0 none; }
select { border:1px solid #7f9db9;}
hr{ border:none; border-top:1px solid #CCCCCC; background:none;}
.siteoffline{
	border:2px solid #ccc;
	width:580px;
	margin:0 auto;
	margin-top:7%;
	padding:15px;
	min-height:330px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	background:#FFF url(../images/offline.jpg) no-repeat top center;
	box-shadow:0px 0px 3px #ccc;
	-moz-box-shadow : 0px 0px 3px #ccc; 
	-webkit-box-shadow: 0px 0px 3px #ccc;
}
.siteoffline h1{
	text-transform:uppercase;
	text-align:center;
	margin-top:120px;
	text-shadow: 2px 2px 3px #999;
	color:#333;
}
.siteoffline .text{
	text-align:center;
	font-size:larger;
}
.siteoffline .loginform{
	padding-top:20px;
	width:320px;
	margin:0 auto;
}

