/* CSS Document */
/* pagination */
div.pagination{
	clear:both;
	text-align:center;
	margin:5px 0 5px 0;
}
div.pagination a, div.pagination span{ 
	border:1px solid #b8b8b8; 
	padding:2px 7px;
	margin-left:0;
	margin-right:;
	text-decoration:none;
	font-size:12px;
	background:#e9e9e9 url(../images/pagination-off.png) repeat-x;
	}
div.pagination span{color:#666666;}
div.pagination a.ppage:hover{background:#000; color:#FFF;}
div.pagination .active{
	font-weight:bold;
	background:#000;
	color:#fff;
}
