/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
/* 
red:
Orange:f7941d
 */
a.readmore{
	color:#8b8888;
	font-style:italic;
	font-size:11px;
}
.main-menu{
	clear:both;
	background:url(../images/top_menu_bg.png) repeat-x bottom;
	height:30px;
}
.main-menu ul{
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	margin-right:10px;
}
.main-menu ul li{
	height:30px;
	line-height:30px;
	vertical-align:middle;
	float:left;
	padding:0 19px;
	margin:0 0px;
	border-right:1px solid #cccccc;
}
.main-menu ul li a{
	color:#666;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}
.main-menu ul li.active a, .main-menu ul li a:hover{
	color:#d2252f;
}
.blockslideshow{
	float:left;
	width:720px;
	
}
.blocklogin{
	float:right;
	width:230px;
}
.blocklogin .b-login{
	height:140px;

}
.blockte{
	float:right;
	width:230px;
	margin-top:10px;
}
.blockte p{
	margin:0;
	padding:0;
}
.blockte p + p{
	margin-top:8px;
	display:block;
}
.blockcountdown {
	clear:both;
	padding-top:10px;
	margin-bottom:0;
	padding-bottom:20px;
}
.blockcountdown .b-inner{
	background:#dcdbdb;
	padding:5px;
	border:1px solid #aeaeae;
	color:#868a8b;
}
.blockcountdown .b-inner .b-countdown{
	margin-left:150px;
	padding-top:8px;
}

