.primary{
	width:596px;
	height:785px;
	background:url(images/bg.jpg) no-repeat;
	margin:0 auto;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
li{
	margin-top:5px;
}
.item{
	position:absolute;
}
.item-1{
	left:40px;
	top:120px;
}
.item-2{
	right:40px;
	top:150px;
}
.item-3{
	right:60px;
	bottom:75px;
}
.item img:hover{
	opacity: 0.7;
	cursor:pointer;
}
.tooltip{
	position:absolute;
	background:#FFF;
	border:1px solid #CCC;
	padding:15px;
	left:210px;
	top:30%;
	width:250px;
	z-index:5;
	display:none;
}
.item-2 .tooltip{
	left:-250px;
}
.item:hover .tooltip{display:block;}
.bottom{
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
}