/***************************************************************************
*  @PHP Web Application.
*  @version			1.0.0 
*  @copyright		Copyright (C) 2011 Tran Thanh Sang. All rights reserved.
*  @Released under 	Tran Thanh Sang
*  @Email			sangtialia@gmail.com
*  @Date			Jan 2011
***************************************************************************/

div.b-login{
	background:#efeeee;
	padding:10px 15px;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	border-radius:8px;
}
div.b-login p{
	margin:7px 0;
	padding:0;
}
div.b-login .inputbox{
	width:90%;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius:5px;
	border:1px solid #a7a7a7;
	height:23px;
	box-shadow:inset 3px 3px 5px #ccc;
	-moz-box-shadow :inset 3px 3px 5px #ccc;
	-webkit-box-shadow:inset 5px 3px 5px #ccc;
	padding-left:17px;
}
div.b-login .inputbox[name=username]{
	background: #FFF url(../images/user.png) no-repeat left;
}
div.b-login .inputbox[name=password]{
	background: #FFF url(../images/key.png) no-repeat left;
}
div.b-login .button{
	background:url(../images/bt.jpg) repeat-x;
	height:30px;
	border:1px solid #c9c9c9;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius:5px;
}
div.b-login .button:hover{
	background:#FFF;
}
div.b-login .uploadphotobt{
	background:#b71e23;
	height:30px;
	border:1px solid #cb272f;
	color:#fff;
	width:155px;
}
div.b-login .uploadphotobt:hover{color:#b71e23;}
