/*****************************/
/*** Core html setup stuff ***/
/*****************************/
/*
html {
  height: 100%;
  margin-bottom: 1px;
  background: #e90608 url(../images/background.jpg) no-repeat top center;
  background-attachment:fixed;
}
*/
form {
  display:inline;
}

body, td{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #424241;
	line-height: 1.5em;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
	color:#0070bc;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
	color:#0070bc;
}

input.button, button.button { cursor: pointer; border:#999999 1px solid; background:#EFEFEF; }
input.inputbox, select.inputbox,area.inputbox{
	border:1px solid #CCC;
	}

p { margin-top: 9px; margin-bottom: 9px; }
ul{margin-top:8px; margin-bottom:8px; padding-top:0; padding-bottom:0;}
h1{ font-size:25px; font-weight:bold; margin:15px 0 15px 0; line-height: 1.55em;}
h2{ font-size:20px; font-weight:bold; margin:15px 0 15px 0; line-height: 1.53em;}
h3{ font-size:15px; font-weight:bold; margin:10px 0 10px 0; line-height: 1.53em;}
h4{ font-size:13px; margin:8px 0 8px 0;}
h5{ font-size:12px; margin:8px 0 8px 0;}

img { border: 0 none; }
select { border:1px solid #7f9db9;}
hr{ border:none; border-top:1px solid #CCCCCC; background:none;}

body{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:#e6e6e6;
}
.break{clear:both;}
div.break{clear:both; font-size:1px; height:1px;}
.orange{
	color:#ed6c0a;
}
.red{color:#F00;}
.note{
	color:#999999;
	}
.left{float:left;}
.right{float:right;}
ul.arrow-orange{
	list-style:url(../images/arrow-orange-right-trans.gif);
}
ul.arrow-orange li{
	margin:4px 0 4px 0;
	}

#nsp-primary{
	width:988px;
	margin:0 auto;
	background:url(../images/bg-left.png) repeat-y left;
	padding-left:8px;
}
#nsp-page{
	background:url(../images/bg-right.png) repeat-y right;
	padding:0px 0px 0px 0px;
}
#nsp-page #inner-page{
	width:980px;
	background:#FFFFFF;
	clear:both;
}
#nsp-top{
	background:url(../images/banner_bg.png) repeat-x;
	height:80px;
}
#nsp-body{
	clear:both;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	}
#nsp-left{
	float:left;
}
#nsp-left a, #nsp-right a, #nsp-top a{ color:#575659;}
#nsp-left #nsp-left-inner{
	padding-right:10px;
	}
#nsp-right{
	float:right;
	}
#nsp-right #nsp-right-inner{
	padding:0 0px 0 10px;
	}
#nsp-content{
	float:left;
}
#nsp-user5{ clear:both;}
#nsp-bottom{
	clear:both;
	/*background:url(../images/bt_bg.png) repeat-x;*/
	background:#dcdddf;
	margin-top:5px;
}
#nsp-bottom #copyright{
	background:#676767;
	height:30px;
	padding-top:7px;
	}
#nsp-bottom #copyright span{
	float:right;
	background:url(../images/logo_bottom.png) no-repeat right;
	padding:5px 30px 5px 0;
	color:#ffffff;
	margin-right:10px;
	}
/* pagination */
div.pagination{text-align:right; border:0px; padding:2px 0px 3px 0px;font-size:12px; }	
span.pagination span, span.pagination a{
	color:#3d8bb2;
	/*border-left:1px solid #000000;*/
	padding:0px 5px 0px 5px;
	}
span.pagination span.pagination{
	border:0px;
}
span.pagination strong{
	border-left:1px solid #000000;
}
span.pagination span.text{
	font-size:12px;
	color:#000000;
	border:0px;
	}
span.pagination strong span{
	color:#000000;
	}
/* component article */
.buttonheading{
	padding:0 2px 0 2px;
	}
div.view-article-detail{padding-left:10px; padding-right:10px;}
div.article-system-introtext{}
div.article-system-introtext hr.break{background:none;border-top:1px solid #CCCCCC;}
div.article-system-introtext img{display:none;}
.componentheading{
	color:#FF0000;
	font-weight:bold;
	font-size:16px;
	margin:5px 0 10px 0;
	padding:0;
}
table.contentpaneopen tr td.contentheading,
table.contentpaneopen tr td.contentheading a,
h1.contentheading
{
	font-weight:bold;
	font-size:16px;
	margin-bottom:0;
	}
.contentpaneopen ul li{
	margin:7px 0;
}
table.contentpaneopen tr td.contentheading_blog a{font-weight:bold;}
table.contentpaneopen tr td.contentheading{padding:5px 0 15px 0;}
table.contentpaneopen tr td.buttonheading{
	vertical-align:top;
	}
table.contentpaneopen tr td.createdate{
	font-size:11px;
	color:#666666;
	font-style:italic;
	}
table.contentpaneopen tr td a.readon{
	color:#990000;
	background:url(../images/arrow01.gif) no-repeat left 5px;
	padding:0 0px 0 15px;
	float:right;
	}
table.contentpaneopen tr td p{
}
table.blog tr td p{ text-indent:0;}
table.contentpaneopen tr td .quote{background:#e8ebf4; color:#333399; border:#a0a0a0 1px solid; padding:5px;}
span.article_separator{
	display:block;
	border-top:1px dotted #CCCCCC;
	font-size:1px;
	height:5px;
	margin-top:5px;
	}
/* right module */
#nsp-right div.nsprdmod h3{
	background:url(../images/right_module_bg2.png) no-repeat left top;
	height:23px;
	padding-left:25px;
	padding-top:7px;
	height:30px;
	font-size:14px;
	margin-top:0;
	margin-bottom:2px;
	text-align:left;
	font-weight:bold;
	}
#nsp-right div.nsprdmod{
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	padding:0 0 0 0;
	}
/* left module */
#nsp-left div.nsprdmod{
	margin-bottom:10px;
}
#nsp-left div.nsprdmod h3{
	background:#e6e5d3;
	font-size:13px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	padding-left:7px;
	margin-bottom:0;
	margin-top:0;
}
#nsp-left div.nsprdmod ul.menu{
	list-style:none;
	margin:0;
	padding-left:0;
	}
#nsp-left div.nsprdmod ul.menu li{
	background:#f9f9f5 url(../images/arrow04.gif) no-repeat 2px 6px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:18px;
	font-size:12px;
	border-bottom:1px solid #CCCCCC;
	}
#nsp-left div.nsprdmod ul.menu li a{ color:#000000;}
#nsp-left div.nsprdmod ul.menu li.active,
#nsp-left div.nsprdmod ul.menu li:hover{
	background-color:#FFFFFF;
	font-weight:bold;
	}
#nsp-left div.nsprdmod ul.menu li.active a{ font-weight:bold;}
#nsp-left div.nsprdmod ul.menu li a{
	font-size:12px;
	text-decoration:none;
	}
/* gk news show 1*/
.gk_news_show_table img.gk_news_show_news_image{
	padding-right:8px;
	}
.gk_news_show_table h4.gk_news_show_news_header,
.gk_news_show_table h4.gk_news_show_news_header a{
	font-weight:bold;
	font-size:11px;
}
.gk_news_show_table h4.gk_news_show_news_header{
background:url(../images/arrow_left_link.gif) no-repeat left top;
padding-left:20px;
}
.gk_news_show_table h4.gk_news_show_news_header a{
	margin-bottom:5px;
	
	
	}
	
#system-message dd ul{margin-left:0 !important;}
/* border */
table.n-border{
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	border-collapse:collapse;
	width:100%;
	}
table.n-border tr td{
	padding:5px 3px 5px 3px;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	background:#FFFFFF;
	}
table.n-border tr.title td{ font-weight:bold; text-align:center; background:#F6F6F6}
.tbl-border-bottom td{
	border-bottom: 1px solid #f2f2f2;
}

/* poll */
table.poll tr td{text-align:left; vertical-align:top;}

#nsp-right .bannergrouprbanner{
	margin-bottom:10px;
}
#nsp-right .bannergrouprbanner .banneritemrbanner{
	text-align:center;
	
}
#nsp-right .bannergrouprbanner .banneritemrbanner + .banneritemrbanner{
	margin-top:10px;
}