/*****************************/
/*** Core html setup stuff ***/
/*****************************/
/* window popup */
div.w_popup{
}
div.w_popup div.title{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	background:#806f57;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	padding-left:10px;
	color:#FFFFFF;
}
div.w_popup div.title .t{
	float:left;
	}
div.w_popup div.title .close{
	float:right;
	padding-right:7px;
	cursor:pointer;
	}
div.w_popup div.inner{
	border:2px solid #806f57;
	padding:5px;
	background:#ffffff;
	color:#000000;
	}
/* Top Cart */
div.w_popup div.inner div.vmCartModule a.showcart{background:url(../images/icon-arrow.gif) no-repeat left 2px; padding-left:15px; color:#000066 !important; font-size:12px;}
div.w_popup div.inner div.vmCartModule strong.x{color:#0000FF;}