/*****************************/
/*** Core html setup stuff ***/
/*****************************/

	
/* top */
#nsp-top .logo{
	float:left;
	margin-top:8px;
	margin-left:22px;
	}
#nsp-top .nsprdmodtop{
	float:right;
	text-align:right;
	margin-right:10px;
	}
#nsp-top .nsprdmodtop .w_popup{text-align:left;}
#nsp-top .language, #nsp-top .cart{
	vertical-align:middle;
	padding-top:11px;
	}
#nsp-top .language{
	margin-left:10px;
}
#nsp-top .language .browse_cat{
	background:url(../images/arrow-05.png) no-repeat left 2px;
	padding-left:9px;
	margin-right:10px;
}
#nsp-top .cart a.shopping{
	background:url(../images/shopping_cart.png) no-repeat left top;
	padding-left:20px;
}
#nsp-top div.shopping_cart
{
	position:absolute;
	width:320px;
	min-height:100px;
	z-index:9999;
	clear:both;
	margin-left:-50px;
	}
#nsp-top div.login_form{
	position:absolute;
	width:220px;
	min-height:100px;
	z-index:9999;
	clear:both;
	margin-left:0px;
}
#nsp-top div.shopping_cart a,
#nsp-top div.login_form a
{
	color:#000000 !important;
	}
#nsp-top .cart a.item{
	background:url(../images/arrow_down.png) no-repeat left 5px;
	padding-left:15px;
	}
#nsp-top .search, #nsp-top .search a{color:#FFFFFF;}
#nsp-top .search{
	margin-top:10px;
	clear:both;
	height:25px;
	text-align:right;
	line-height:25px;
	vertical-align:middle;
	}
#nsp-top .search .inputbox{ 
	font-style:italic; color:#999999; 
	width:220px; 
	background:#ffffff url(../images/bt_search.png) no-repeat right top;
	font-size:11px;
	height:16px;
	}
/* header */
#nsp-head{
	}
#nsp-head .nsprdmodmenu{
	background:url(../images/top_menu_bg.png) repeat-x top;
	}
#nsp-head .nsprdmodmenu table tr td{ line-height:1.2em}
#nsp-head .nsprdmodmenu a{
	border-left:1px solid #CCCCCC;
	z-index:100;
	}
#nsp-head .nsprdmodmenu .last a{
	border-right:1px solid #CCCCCC;
	}
.view-article-detail img{
	max-width:100%;
}
/* home products */
div.nsprdmodhome_group_product{
	clear:both;
	}
/* parner */
#nsp-right div.parners .bannergroup{
	text-align:center;
	}
#nsp-right div.parners .bannergroup .banneritem{
	margin-bottom:10px;
	width:216px;
	padding:1px;
	border:1px solid #CCCCCC;
	margin:0 auto;
	margin-bottom:5px;
	}
/* banner slider */
div.user5{
	clear:both;
	padding-top:10px;
	}
/* bottom banner */
div.user5 div.nspmod_manf{
	margin-bottom:5px;
	margin-top:5px;
}
div.user5 div.nspmod_manf .banneritem_manf{
	float:left;
	margin-left:0px;
	}

/* product browse */
.browseProductItem tr td.thumb{
	width:105px;
	text-align:center;
	}
.browseProductItem tr td.name{ width:60%;}
.browseProductItem .rating{ white-space:nowrap; width:25%; padding-left:20px;}
.browseProductItem td.price{width:1%}
.browseProductItem .rating img{display:block;}
.browseProductItem a.readmore{
	background:url(../images/arrow_10.png) no-repeat left 2px;
	color:#EB770C;
	padding-left:15px;
	}
#vmMainPage hr.product_blog{
	border:none;
	border-top:1px dotted #CCCCCC;
	clear:both;
	height:1px;
}

/* about Us menu */
div.nsprdmodabousmenu{
	background:url(../images/about-us-bg.jpg) no-repeat 0 10px;
	min-height:700px;
}
div.nsprdmodabousmenu h3{
	font-size:18px;
	background:url(../images/about-us-header.jpg) no-repeat bottom center;
	padding-left:10px;
	font-weight:normal;
	padding-bottom:5px;
	font-family:Tahoma, Geneva, sans-serif;
}
div.nsprdmodabousmenu ul{
	list-style:url(../images/about-us-arrow.jpg);
	margin:10px 0;
	margin-left:5px;
	padding:0;
	padding-left:5px;
}
div.nsprdmodabousmenu ul li{
	margin:20px 0 20px 20px;
}
div.nsprdmodabousmenu ul li a{
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
}
div.nsprdmodabousmenu ul li.active a{
	color:#F00 !important;
}
	
/* browse all categories */
div#browse_all_categories{
}
div#browse_all_categories h3.header{
}
div#browse_all_categories .content h4{
	/*background:#eaebdb;*/
	padding:3px;
	font-size:12px;
	background-repeat:no-repeat;
	padding-left:49px;
	min-height:40px;
	margin-bottom:0;
	padding-bottom:0;
	color:#000 !important;
	text-decoration:none !important;
	cursor:pointer;
	}
	
div#browse_all_categories .content ul{
	list-style:url(../images/arrow3.png);
	margin-left:10px;
	padding-left:10px;
	margin-top:0;
	}
div#browse_all_categories .content ul li{
	margin:5px 0 5px 0;
	}
div#browse_all_categories .content ul li a{
	font-size:12px;
	color:#3a8ad3;
	}
	
/* brand */
div.view_brand .top table.border tr td{
	background:#ffffff;
}
div.view_brand .top table.border tr td.corner{
	width:10px;
	height:10px;
	}
div.view_brand .top table.border tr td.top-left{
	background:url(../images/t_l.png) no-repeat left top;
}
div.view_brand .top table.border tr td.top-right{
	background:url(../images/t_r.png) no-repeat left top;
}
div.view_brand .top table.border tr td.bottom-left{
	background:url(../images/b_l.png) no-repeat left top;
}
div.view_brand .top table.border tr td.bottom-right{
	background:url(../images/b_r.png) no-repeat left top;
}
div.view_brand .top table.border tr td.top-middle{
	background:url(../images/t_m.png) repeat-x left top;
}
div.view_brand .top table.border tr td.bottom-middle{
	background:url(../images/b_m.png) repeat-x left top;
}
div.view_brand .top table.border tr td.body-left{
	background:url(../images/m_l.png) repeat-y left top;
}
div.view_brand .top table.border tr td.body-right{
	background:url(../images/m_r.png) repeat-y left top;
}
div.view_brand div.logo div.img{
	float:left;
	width:30%;
	}
div.view_brand div.logo  div.title{
	float:left;
	width:68%;
	}
div.view_brand div.logo  div.title h2{
	margin-bottom:5px;
	font-size:19px;
	margin-top:20px;
	}
div.view_brand div.logo  div.title span{ font-size:12px;}
div.view_brand div.featured{
	padding:10px 10px 0px 10px;
}
div.view_brand div.featured div.header{
	height:23px;
	background:#e6e5d3;
	padding-top:7px;
}
div.view_brand div.featured div.header h3{
	float:left;
	margin-top:0px;
	padding-left:10px;
	font-size:13px;
	}
div.view_brand div.featured div.header .view_all{
	float:right;
	padding-right:10px;
	background:url(../images/arrow_04.png) no-repeat left 3px;
	padding-left:12px;
	}
div.view_brand div.featured .list_p .item .bt-more{
	text-align:right;
	margin-right:10px;
	}
div.view_brand div.featured .list_p .item .img{
	min-height:120px;
	text-align:center;
	}
div.view_brand div.featured .list_p .item a.name{
	font-weight:bold;
	}
/* bottom menu */
#nsp-bottom div.nspmodmenu{
	text-align:center;
	height:27px;
	line-height:27px;
	vertical-align:middle;
	margin-bottom:2px;
	}
#nsp-bottom div.nspmodmenu ul{ margin:0 auto; width:455px; padding:0; list-style:none;}
#nsp-bottom div.nspmodmenu ul li{ display:block; margin:0; padding:0; float:left;}
#nsp-bottom div.nspmodmenu ul li ul{display:none;}
#nsp-bottom div.nspmodmenu a{
	color:#575659;
	font-size:12px;
	height:27px;
	line-height:27px;
	vertical-align:middle;
	padding:0 15px 0 15px;
	border-right:1px solid #575659;
	}
#nsp-bottom div.nspmodmenu li.item9 a{border-right:none;}
#nsp-bottom div.nspmodmenu #active_menu{ color:#FFFFFF;}
/* */
ul.about-us-nsp{
	list-style:url(../images/arrow10.png);
	}
ul.about-us-nsp li{
	margin-top:15px;
	margin-bottom:15px;
	}
/* QContact */
div#qcontacts div.contact_email{
	clear:both;
	margin-top:15px;
}
div#qcontacts div.contact_email label{
	float:left;
	width:20%;
}
div#qcontacts div.contact_email label.chkbox{
	float:none;
	}
div#qcontacts div.contact_email input.chkbox,
div#qcontacts div.contact_email input.contact-button,
div#qcontacts div.contact_email label.captcha_code,
div#qcontacts div.contact_email .captcha_img
{
	margin-left:20%;
	}
div#qcontacts div.contact_email input.inputbox{
	width:250px;
	
}
/* product detail page */
div.vm_product_detail a{}
div.vm_product_detail h3{ background:url(../images/arrow10.png) no-repeat left top; padding-left:20px; font-size:13px;}
div.vm_product_detail h3.browseProductTitle a{font-size:11px !important;}
div.vm_product_detail div.full-img{
	/*background:url(../images/full-image.png) no-repeat left top;
	padding-left:25px;*/
	padding-top:3px;
	color:#990000;
	margin-top:2px;
	}
 
div.vm_product_detail div.product_panel dl {  }
div.vm_product_detail div.product_panel dl,dd { margin: 0;}
div.vm_product_detail div.product_panel dl #product_spes{ overflow-x:auto; }
div.vm_product_detail div.product_panel dt { 
        background: #ebead8; 
        padding: 5px; 
        margin: 0px; 
        border: 1px solid #a4a799;
        text-decoration: none;
		margin-bottom:1px;
    }
div.vm_product_detail div.product_panel dl dd{
	padding:10px;
	 border: 1px solid #a4a799;
	}
div.vm_product_detail div.product_panel dt a { color:#000000; 
	text-decoration: none; 
	font-weight:bold;
	background:url(../images/plus.gif) no-repeat left top;
	padding-left:17px;
	}
div.vm_product_detail div.product_panel dt a.active{
	background:url(../images/minus.gif) no-repeat left top;
}
div.vm_product_detail div.product_panel dl dd ul li{
	margin:7px 0;
	}
div.vm_product_detail .ask-question a.button{
	color:#990000;
	background:url(../images/arrow_15.png) no-repeat left 1px;
	padding-left:15px;
}
div.vm_product_detail div.vmCartDetails select.inputbox{ max-width:600px; font-size:11px; white-space:normal;}
div.vm_product_detail div.vmRecent ul.vmRecentDetail{list-style:url(../images/arrow_blue.png)}
div.vm_product_detail div.vmRecent ul.vmRecentDetail li{
	margin-bottom:5px;
}
div.vm_product_detail .related_products a.pname{font-weight:bold;}
div.vm_product_detail .related_products .price a{color:#FF0000;}
div.vm_product_detail .related_products div.thumb{
	}
/* The PDF, Email and Print buttons */
div.vm_buttons_heading{
	float:right;
	padding:3px 5px 2px 0;
}
/* category tree */
#nsp-left div.category_tree{
	border:1px solid #e6e5d3;
	padding-bottom:15px;
	overflow-x:auto;
	overflow-y:hidden;
	}
#nsp-left div.category_tree h3{
	margin-bottom:10px;
}
/* category */
table.category-child-list tr td{
	text-align:center;
}
table.category-child-list tr td.break{
	border-bottom: 1px dotted #CCC;
}
table.category-child-list tr td a{
	font-size:12px;
	text-decoration:none;
	color:#000;
}
/* product search module */
div.product_search div.frm{
	padding-left:10px;
}
div.product_search .inputbox{
	width:127px;
}
div.product_search .button{
	margin-top:5px;
}
div.product_search a.advanced{
	background:url(../images/arrow_10.png) no-repeat 2px 2px;
	padding-left:19px;
	color:#990000;
	}
/* Most read News module */
#nsp-right div.mostread ul.mostread{
	list-style:none;
	margin-left:10px;
	padding-left:0px;
	padding-right:5px;
	margin-top:5px;
}

#nsp-right div.mostread ul.mostread li{
	padding-bottom:5px;
	margin-top:5px;
	border-bottom:1px dotted #CCCCCC;
}
/* Latest News module */
#nsp-right ul.latestnews{
	list-style:none;
	margin-left:10px;
	padding-left:0px;
	padding-right:5px;
	margin-top:5px;
}

#nsp-right ul.latestnews li{
	padding-bottom:5px;
	margin-top:5px;
	border-bottom:1px dotted #CCCCCC;
}

/* support */
#nsp-right .nsprdmodsupport{
	/*background:#f0270b url(../images/support_online.png) no-repeat bottom;*/
	background:#cf1f26;
	height:auto;
	margin-bottom:10px;
	color:#FFFFFF;
}
#nsp-right .nsprdmodsupport a{color:#FFFFFF;}
#nsp-right .nsprdmodsupport .inner{padding:10px;}
#nsp-right .nsprdmodsupport .hotline{font-size:15px;}
#nsp-right .nsprdmodsupport .num{color:#FFFFFF; font-size:13px;}

#nsp-right .nsprdmodsupport .inner a img{margin-bottom:2px;}

#nsp-right .mod_special_products ul.list li.item div.thumb img{ max-width:80px;}
#nsp-right .nsprdmodagents{padding-bottom:5px;}
/* tuyen dung */
#nsp-right div.jobapply .banneritem{
	text-align:center;
	padding-top:5px;
}
/* cart */
#vmMainPage table.vcart{
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	}
#vmMainPage table.vcart tr td{font-size:12px;}
#vmMainPage table.vcart tr.row td{
	border-left:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;font-size:12px;
	}
#vmMainPage table.vcart tr.row td a strong{font-weight:normal !important; }
#vmMainPage table.vcart tr.sectiontableheader th{
	background:#E2E2E2;
	border-left:1px solid #FFFFFF;
	}
#vmMainPage .coupon-code{font-size:12px !important; border-top:1px solid #003333;border-bottom:1px solid #003333; padding:10px 0 10px 20px; background:#E2E2E2}
#vmMainPage h4.vcart-header{padding:4px 0 4px 20px; background:#F0F0F0 url(../images/arrow_left_link.gif) no-repeat 3px 4px;}
#vmMainPage a.account_billing{background:url(../images/icon-arrow.gif) no-repeat left 2px; padding-left:15px; font-weight:bold;}
#vmMainPage div.pagination{clear:both;}
#vmMainPage div.pagination ul.pagination{float:right;}
#vmMainPage div.pagination div.limitbox{float:right; padding-top:3px;}

table.rack-cell tr td{
	border:0;
	padding:0;
}
#nsp-right .menu {
	margin-left:15px;
	padding-left:15px;
}
#nsp-right .menu li{
	margin-top:10px;
	margin-bottom:10px;
	padding-right:5px;
}
	
	