div.tabscontent{
	
}
div.tabscontent .main_tabscontent{
	border:1px solid #9b9fa1;
	border-top:4px solid #1277bd;
}

.indentmenu {
	padding:0;
	height:29px;
	padding-left:15px;
}
.indentmenu UL {
	margin-left:2px;
	margin-top:4px;
}
.indentmenu UL LI {
	background:#e6e6e6;
}
.indentmenu UL LI A {
	color:#FFF !important;
	background:#949494;
	margin-left:2px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	padding:0 10px 0 10px;
}
.indentmenu UL LI A.selected{
	BACKGROUND:#0f75bc; 
	COLOR:#FFF !important;
}
.indentmenu UL LI A:hover{
	BACKGROUND:#73bef2; 
}
