@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'UTMNeoSansIntel';
  src: url(font/UTMNeoSansIntel.ttf);
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	line-height:1.4;
}
div.prod:hover{
	opacity:0.8;
}
.imglink:hover {
opacity: 0.8;
}
a{
	text-decoration:none;
	color:#FFF;
}
.break{
	clear:both;
}
.navbar{
	width:100%;
	clear:both;
}
.navbar .navbar-inner{
	width:1000px;
	margin:0 auto;
}
.main .top{
	height:100px;
}
.main .top .logo{
	float:left;
	width:220px;
	margin-top:30px;
}
.main .top .menu{
	float:left;
	width:540px;
	margin-top:40px;
}
.main .top .ptouch{
	float:right;
	width:160px;
	margin-top:30px;
}
.main .top .menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.main .top .menu ul li{
	margin:0;
	padding:0;
	float:left;
	font-size:17px;
	width:135px;
	text-align:center;
}
.main .top .menu ul li a{
	color:#898989;
	text-decoration:none;
}
.main .top .menu ul li a:hover, .main .top .menu ul li a.current{
	font-weight:bold;
	color:#464646;
}

.main .nav{
	background:#0e0c0c;
	height:35px;
}
.main .nav a{
	color:#898989;
	float:left;
	width:200px;
	height:35px;
	line-height:35px;
	text-decoration:none;
	font-size:14px;
}
.main .nav a:hover, .main .nav a.current{
	color:#FFF;
}
.main .nav a.l{
	margin-left:290px;
}
.main .nav a.l1{
	margin-left:250px;
}
.main .content{
	background:url(images/bg.jpg) no-repeat top;
	color:#FFF;
	background-attachment: fixed;
    background-repeat: repeat-x;
}
.main .content .img{
	float:left;
	width:500px;
}
.main .content .info{
	float:right;
	width:450px;
	font-size:14px;
	line-height:1.6;
}
.main .content h1{
	font-size:52px;
	font-weight:normal;
	margin-top:40px;
	font-family:"UTMNeoSansIntel", Arial, Helvetica, sans-serif;
}
.main .bottom{
	background:#4d4d4d;
	color:#8f8f8f;
}
.main .bottom .icons{
	color:#FFF;
	font-size:14px;
}
.main .bottom .icons a{
	color:#FFF;
}
.main .bottom .contact{
	color:#8f8f8f;
	font-size:11px;
	float:left;
	margin-top:20px;
	margin-right:50px;
	line-height:1.5;
}

.main .footer{
	background:#171717;
	color:#7d7d7d;
	text-align:center;
	height:60px;
	vertical-align:middle;
	line-height:60px;
	font-size:12px;
}

/* home */
.homepage{
	background:url(images/bg.jpg) no-repeat center top;
}
.homepage .content{
	background:none;
}
.homepage .content .prod{
	float:left;
	width:35%;
	text-align:center;
}
.homepage .content .l{
	margin-left:150px;
}
.homepage .top .menu li a{
	color:#FFF !important;
}
/* hình ảnh */
.image-content .navbar-inner{
	padding:0px 0px 50px 0px;
	background:url(images/img-bg2.jpg) no-repeat !important;
	min-height:200px;
}
.image-content ul{
	margin:0;
	padding:0;
	list-style:none;
	margin-left:30px;
}
.image-content ul li{
	float:left;
	width:169px;
	height:169px;
	margin:30px;
}
.image-content ol li{
	list-style:outside;
	padding:5px;
}
.image-content ul li img{
	border:2px solid #000;
	border-radius:5px;
}
.image-content a{
	text-decoration:none;
	color:#CCC;
	font-size:14px;
}
.image-content a:hover{
	cursor:pointer;
	color:#999;
}
.list-image-left ul{
	padding:0px;
	margin:0px;
}
.list-image-left{
	width:500px;
}
.list-image-left .typical img{
	width:400px;
	margin-left:0 !important;
}
.list-image-left img{
	margin-left:22px;
}
.body-right{
	font-size:14px;
}
.body-right .title-categories{
	font-size:20px;
	font-family:"UTMNeoSansIntel", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:bold;
}


