div.tabscontent{
	
}
div.tabscontent .main_tabscontent{
	border:1px solid #9b9fa1;
	border-top:1px solid #0089d0;
}

.indentmenu {
	padding:0;
	height:31px;
	padding-left:15px;
}
.indentmenu UL {
	margin-left:2px;
	margin-top:4px;
}
.indentmenu UL LI {
	background:#e6e6e6;
}
.indentmenu UL LI A {
	color:#666666;
	background:#d2d2d2 url(images/inactive.png) repeat-x;
	margin-left:2px;
	height:27px;
	line-height:27px;
	vertical-align:middle;
	padding:0 10px 0 10px;
	font-weight:bold;
}
.indentmenu UL LI A.selected{
	BACKGROUND:#0f75bc url(images/active.png) repeat-x; 
	COLOR:#FFF !important;
}
.indentmenu UL LI A:hover{
	BACKGROUND:#73bef2;
	color:#FFF;
}
