body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	margin:0;
	padding:0;
}
#primery{
	width:800px;
	margin:0 auto;
	background: #1b3c67 url(images/bg.jpg) no-repeat;
	border-bottom:5px solid #fdb825;
	padding-bottom:10px;
	min-height: 1000px;
}
a img:hover{
	opacity: 0.8;
}
.breack{clear:both;}
p{
	margin:5px 0;
}
.bottom{
	text-align:center;
}
.bottom a{
	color:#FFF;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
}
form{
	display:block;
	padding:15px 45px;
	color:#FFF;
}
table.frm{
}
table.frm td.label{
	text-align:right;
	padding-right:3px;
}
li{margin-bottom:7px;}

table.frm .inputbox{
	width:380px;
	height:25px;
}
td.h{
	font-weight:bold;
	color:#1193b7;
	font-size:12px;
}
.button{
	background:url(images/bt.png) no-repeat;
	width:90px;
	height:30px;
	border:none;
}
#num{
	position:absolute;
	background:#ed1c24;
	color:#fff;
	width:90px;
	height:90px;
	border-radius: 50%;
	text-align:center;
	margin-top:-110px;
	margin-left:40px;
	border:2px solid #FFF;
	font-size:12px;
}
#num > span{
	font-size:40px;
	font-weight:bold;
	display:block;
	text-align:center;
	margin-top:10px;
}