.clear{
	clear:both;
}
.forder_admin ul li{
	float:left;
	padding:0px 10px 5px 10px;
	margin:5px;
	box-shadow: 0 0 0px, inset 0 0 1px #666666;
}
#wpadminbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-transform: none;
	letter-spacing: normal;
	line-height: 1;
	font: normal 13px/28px sans-serif;
	color: #FFF;
	text-shadow: #444 0 -1px 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
#wpadminbar ul li:before,#wpadminbar ul li:after {
	content: normal
}
#wpadminbar a,#wpadminbar a:hover,#wpadminbar a img,#wpadminbar a img:hover
	{
	outline: 0;
	border: 0;
	text-decoration: none;
	background: 0
}
#dashboard_right_now .versions .b, #post-status-display, #post-visibility-display, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover, .media-item .percent, .plugins .name, #pass-strength-result.strong, #pass-strength-result.short, #ed_reply_toolbar #ed_reply_strong, .item-controls .item-order a, .feature-filter .feature-name {
font-weight: bold;
}
#wpadminbar a:focus,#wpadminbar a:active,#wpadminbar input[type="text"],#wpadminbar input[type="password"],#wpadminbar input[type="number"],#wpadminbar input[type="search"],#wpadminbar input[type="email"],#wpadminbar input[type="url"],#wpadminbar select,#wpadminbar textarea,#wpadminbar div
	{
	outline: 0
}
#wpadminbar {
	direction: ltr;
	color: #FFF;
	font: normal 13px/28px sans-serif;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px;
	z-index: 99999;
	background: #464646;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0099CC),
		color-stop(18%, #464646));
	background-image: -webkit-linear-gradient(bottom, #373737 0, #0099CC 3px);
	background-image: -moz-linear-gradient(bottom, #373737 0, #0099CC 3px);
	background-image: -o-linear-gradient(bottom, #373737 0, #0099CC 3px);
	background-image: linear-gradient(to top, #373737 0, #0099CC 3px)
}
#wpadminbar .ab-sub-wrapper,#wpadminbar ul,#wpadminbar ul li {
	background: 0;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999
}
#wpadminbar .quicklinks {
	border-left: 1px solid transparent;
	padding-left:10px;
	font-size:14px;
	//font-weight:bold;
	padding-top:5px;
}
#wpadminbar .quicklinks ul {
	text-align: left
}
#wpadminbar li {
	float: left
}
#wpadminbar .ab-empty-item {
	outline: 0
}
#wpadminbar .quicklinks>ul>li {
	border-right: 1px solid #FFF;
	padding-left:10px;
	padding-right:10px;
}
#wpadminbar .quicklinks>ul>li>a,#wpadminbar .quicklinks>ul>li>.ab-empty-item
	{
	font-size:14px;
}
#wpadminbar .quicklinks .ab-top-secondary>li {
	border-left: 1px solid #333;
	border-right: 0;
	float: right
}
#wpadminbar .quicklinks .ab-top-secondary>li>a,#wpadminbar .quicklinks .ab-top-secondary>li>.ab-empty-item
	{
	border-left: 1px solid #555;
	border-right: 0
}
#wpadminbar .quicklinks a,#wpadminbar .quicklinks .ab-empty-item,#wpadminbar .shortlink-input
	{
	height: 28px;
	display: block;
	padding: 0 12px;
	margin: 0
}
#wpadminbar .menupop .ab-sub-wrapper,#wpadminbar .shortlink-input {
	margin: 0 0 0 -1px;
	padding: 0;
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	background: #fff;
	display: none;
	position: absolute;
	float: none;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #dfdfdf
}
#wpadminbar.ie7 .menupop .ab-sub-wrapper,#wpadminbar.ie7 .shortlink-input
	{
	top: 28px;
	left: 0
}
#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
	min-width: 100%
}
#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
	right: 0;
	left: auto;
	margin: 0 -1px 0 0
}
#wpadminbar .ab-sub-wrapper>.ab-submenu:first-child {
	border-top: 0
}
#wpadminbar .ab-submenu {
	padding: 6px 0;
	border-top: 1px solid #dfdfdf
}
#wpadminbar .selected .shortlink-input {
	display: block
}
#wpadminbar .quicklinks .menupop ul li {
	float: none
}
#wpadminbar .quicklinks .menupop ul li a strong {
	font-weight: bold
}
#wpadminbar .quicklinks .menupop ul li .ab-item,#wpadminbar .quicklinks .menupop ul li a strong,#wpadminbar .quicklinks .menupop.hover ul li .ab-item,#wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item,#wpadminbar .shortlink-input
	{
	line-height: 26px;
	height: 26px;
	text-shadow: none;
	white-space: nowrap;
	min-width: 140px
}
#wpadminbar .shortlink-input {
	width: 200px
}
#wpadminbar.nojs li:hover>.ab-sub-wrapper,#wpadminbar li.hover>.ab-sub-wrapper
	{
	display: block
}
#wpadminbar .menupop li:hover>.ab-sub-wrapper,#wpadminbar .menupop li.hover>.ab-sub-wrapper
	{
	margin-left: 100%;
	margin-top: -33px;
	border-width: 1px
}
#wpadminbar .ab-top-secondary .menupop li:hover>.ab-sub-wrapper,#wpadminbar .ab-top-secondary .menupop li.hover>.ab-sub-wrapper
	{
	margin-left: 0;
	left: inherit;
	right: 100%
}
#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus
	{
	color: #fafafa;
	background: #222;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#3a3a3a),
		to(#222));
	background-image: -webkit-linear-gradient(bottom, #3a3a3a, #222);
	background-image: -moz-linear-gradient(bottom, #3a3a3a, #222);
	background-image: -o-linear-gradient(bottom, #3a3a3a, #222);
	background-image: linear-gradient(to top, #3a3a3a, #222)
}
#wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item
	{
	background: #fff;
	color: #333;
	text-shadow: none;
	border-right-color: transparent;
	border-left-color: transparent
}
#wpadminbar .hover .ab-label,#wpadminbar.nojq .ab-item:focus .ab-label {
	color: #fafafa
}
#wpadminbar .menupop.hover .ab-label {
	color: #333;
	text-shadow: none
}
#wpadminbar .menupop li:hover,#wpadminbar .menupop li.hover,#wpadminbar .quicklinks .menupop .ab-item:focus,#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus
	{
	background-color: #eaf2fa
}
#wpadminbar .ab-submenu .ab-item {
	color: #333;
	text-shadow: none
}
#wpadminbar .quicklinks .menupop ul li a,#wpadminbar .quicklinks .menupop ul li a strong,#wpadminbar .quicklinks .menupop.hover ul li a,#wpadminbar.nojs .quicklinks .menupop:hover ul li a
	{
	color: #21759b
}
#wpadminbar .menupop .menupop>.ab-item {
	display: block;
	background-image:
		url(../wp-includes/images/admin-bar-sprite.png?d=20120830);
	background-position: 95% -20px;
	background-repeat: no-repeat;
	padding-right: 2em
}
#wpadminbar .ab-top-secondary .menupop .menupop>.ab-item {
	background-image:
		url(../wp-includes/images/admin-bar-sprite.png?d=20120830);
	background-position: 5% -46px;
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 1em
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
	display: block;
	position: relative;
	right: auto;
	margin: 0;
	background: #eee;
	-webkit-box-shadow: none;
	box-shadow: none
}
#wpadminbar .quicklinks .menupop .ab-sub-secondary>li:hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li.hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus
	{
	background-color: #dfdfdf
}
#wpadminbar .quicklinks a span#ab-updates {
	background: #eee;
	color: #333;
	text-shadow: none;
	display: inline;
	padding: 2px 5px;
	font-size: 10px;
	font-weight: bold;
	-webkit-border-radius: 10px;
	border-radius: 10px
}
#wpadminbar .quicklinks a:hover span#ab-updates {
	background: #fff;
	color: #000
}
#wpadminbar .ab-top-secondary {
	float: right;
	background: #464646;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #373737),
		color-stop(18%, #464646));
	background-image: -webkit-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image: -moz-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image: -o-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image: linear-gradient(to top, #373737 0, #464646 5px)
}
#wpadminbar ul li:last-child,#wpadminbar ul li:last-child .ab-item {
	border-right: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
#wp-admin-bar-my-account>ul {
	min-width: 198px
}
#wp-admin-bar-my-account.with-avatar>ul {
	min-width: 270px
}
#wpadminbar #wp-admin-bar-user-actions>li {
	margin-left: 16px;
	margin-right: 16px
}
#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li
	{
	margin-left: 88px
}
#wp-admin-bar-user-actions>li>.ab-item {
	padding-left: 8px
}
#wpadminbar #wp-admin-bar-user-info {
	margin-top: 6px;
	margin-bottom: 15px;
	height: auto;
	background: 0
}
#wp-admin-bar-user-info .avatar {
	position: absolute;
	left: -72px;
	top: 4px;
	width: 64px;
	height: 64px
}
#wpadminbar #wp-admin-bar-user-info a {
	background: 0;
	height: auto
}
#wpadminbar #wp-admin-bar-user-info span {
	background: 0;
	padding: 0;
	height: 18px
}
#wpadminbar #wp-admin-bar-user-info .display-name,#wpadminbar #wp-admin-bar-user-info .username
	{
	text-shadow: none;
	display: block
}
#wpadminbar #wp-admin-bar-user-info .display-name {
	color: #333
}
#wpadminbar #wp-admin-bar-user-info .username {
	color: #999;
	font-size: 11px
}
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
	width: 16px;
	height: 16px;
	border: 1px solid #999;
	padding: 0;
	background: #eee;
	line-height: 24px;
	vertical-align: middle;
	margin: -3px 0 0 6px;
	float: none;
	display: inline
}
#wpadminbar .quicklinks li .blavatar {
	vertical-align: middle;
	margin: -3px 4px 0 0;
	padding: 0
}
#wpadminbar .quicklinks li div.blavatar {
	background: url('../wp-includes/images/wpmini-blue.png') no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block
}
#wpadminbar #wp-admin-bar-search .ab-item {
	padding: 0
}
#wpadminbar #wp-admin-bar-search .ab-item {
	background: transparent
}
#wpadminbar #adminbarsearch {
	height: 28px;
	padding: 0 2px
}
#wpadminbar #adminbarsearch .adminbar-input {
	font: 13px/24px sans-serif;
	height: 24px;
	width: 24px;
	border: 0;
	padding: 0 3px 0 23px;
	margin: 0;
	color: #ccc;
	text-shadow: #444 0 -1px 0;
	background-color: rgba(255, 255, 255, 0);
	background-image:
		url(../wp-includes/images/admin-bar-sprite.png?d=20120830);
	background-position: 3px 2px;
	background-repeat: no-repeat;
	outline: 0;
	cursor: pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease
}
#wpadminbar.ie7 #adminbarsearch .adminbar-input {
	margin-top: 1px;
	width: 120px
}
#wpadminbar #adminbarsearch .adminbar-input:focus {
	color: #555;
	text-shadow: 0 1px 0 #fff;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.9);
	cursor: text
}
#wpadminbar.ie8 #adminbarsearch .adminbar-input {
	background-color: #464646
}
#wpadminbar.ie8 #adminbarsearch .adminbar-input:focus {
	background-color: #fff
}
#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
	color: #ddd
}
#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
	color: #ddd
}
#wpadminbar #adminbarsearch .adminbar-button {
	display: none
}
#wpadminbar #wp-admin-bar-appearance {
	border-top: 0;
	margin-top: -12px
}
#wpadminbar #wp-admin-bar-appearance {
	border-top: 0;
	margin-top: -12px
}
#wpadminbar .ab-icon {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px
}
#wpadminbar .ab-label {
	margin-left: 4px
}
#wp-admin-bar-wp-logo>.ab-item .ab-icon {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	background-image:
		url(../wp-includes/images/admin-bar-sprite.png?d=20120830);
	background-position: 0 -76px;
	background-repeat: no-repeat
}
#wpadminbar.nojs #wp-admin-bar-wp-logo:hover>.ab-item .ab-icon,#wpadminbar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon
	{
	background-position: 0 -104px
}
#wp-admin-bar-updates>.ab-item .ab-icon {
	background-image:
		url(../wp-includes/images/admin-bar-sprite.png?d=20120830);
	background-position: -2px -159px;
	background-repeat: no-repeat
}
#wp-admin-bar-comments>.ab-item .ab-icon {
	background-image:
		url(../wp-includes/images/admin-bar-sprite.png?d=20120830);
	background-position: -1px -134px;
	background-repeat: no-repeat
}
#wpadminbar span.count-0 {
	display: none
}
#wpadminbar #wp-admin-bar-new-content>.ab-item .ab-icon {
	background-image:
		url(../wp-includes/images/admin-bar-sprite.png?d=20120830);
	background-position: -2px -182px;
	background-repeat: no-repeat
}
#wpadminbar.nojs #wp-admin-bar-new-content:hover>.ab-item .ab-icon,#wpadminbar #wp-admin-bar-new-content.hover>.ab-item .ab-icon
	{
	background-position: -2px -203px
}
.no-customize-support .hide-if-no-customize,.customize-support .hide-if-customize,.no-customize-support.wp-core-ui .hide-if-no-customize,.no-customize-support .wp-core-ui .hide-if-no-customize,.customize-support.wp-core-ui .hide-if-customize,.customize-support .wp-core-ui .hide-if-customize
	{
	display: none
}
@media print , ( -o-min-device-pixel-ratio :5/4) , (
		-webkit-min-device-pixel-ratio :1.25) , ( min-resolution :120dpi) {
	#wpadminbar .menupop .menupop>.ab-item,#wpadminbar .ab-top-secondary .menupop .menupop>.ab-item,#wpadminbar #adminbarsearch .adminbar-input,#wp-admin-bar-wp-logo>.ab-item .ab-icon,#wp-admin-bar-updates>.ab-item .ab-icon,#wp-admin-bar-comments>.ab-item .ab-icon,#wpadminbar #wp-admin-bar-new-content>.ab-item .ab-icon
		{
		background-image:
			url(../wp-includes/images/admin-bar-sprite-2x.png?d=20120830);
		background-size: 20px 220px
	}
	#wpadminbar .quicklinks li div.blavatar {
		background: url('../wp-includes/images/wpmini-blue-2x.png') no-repeat;
		background-size: 16px 16px
	}
}
#wpadminbar .screen-reader-text,#wpadminbar .screen-reader-text span {
	position: absolute;
	left: -1000em;
	top: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden
}
#wpadminbar .screen-reader-shortcut {
	position: absolute;
	top: -1000em
}
#wpadminbar .screen-reader-shortcut:focus {
	left: 6px;
	top: 7px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #21759b;
	text-shadow: none;
	border-radius: 3px;
	z-index: 100000;
	line-height: normal;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	text-decoration: none
}
* html #wpadminbar {
	overflow: hidden;
	position: absolute
}
* html #wpadminbar .quicklinks ul li a {
	float: left
}
* html #wpadminbar .menupop a span {
	background-image: none
}
#wpwrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative
}
#wpcontent {
	height: 100%
}
#wpcontent,#wpfooter {
	min-height:100%;
	margin-left: 15%;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
background-color: #fff;
color: #333;
width: 250px;
}
#from-admin .save_ordering,#from-admin .save_ordering{
	width:50px;
	text-align:center;
}
.folded #wpcontent,.folded #wpfooter {
	margin-left: 52px
}
#wpbody-content {
	padding-top:40px;
	padding-bottom: 65px;
	width: 100%
}
#wpbody-content h1{
	text-align:center;
}
#adminmenuback,#adminmenuwrap,#adminmenu,#adminmenu .wp-submenu {
	width: 175px
}
#adminmenuback {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1
}
#adminmenu {
	clear: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width:100%;
}
.folded #adminmenuback,.folded #adminmenuwrap,.folded #adminmenu,.folded #adminmenu li.menu-top
	{
	width: 32px
}
.inner-sidebar {
	float: right;
	clear: right;
	display: none;
	width: 281px;
	position: relative
}
.columns-2 .inner-sidebar {
	margin-right: auto;
	width: 286px;
	display: block
}
.inner-sidebar #side-sortables,.columns-2 .inner-sidebar #side-sortables
	{
	min-height: 300px;
	width: 280px;
	padding: 0
}
.has-right-sidebar .inner-sidebar {
	display: block
}
.has-right-sidebar #post-body {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -2000px
}
.has-right-sidebar #post-body-content {
	margin-right: 300px;
	float: none;
	width: auto
}
#col-container,#col-left,#col-right {
	overflow: hidden;
	padding: 0;
	margin: 0
}
#col-left {
	width: 35%
}
#col-right {
	float: right;
	clear: right;
	width: 65%
}
.col-wrap {
	padding: 0 7px
}
.alignleft {
	float: left
}
.alignright {
	float: right
}
.textleft {
	text-align: left
}
.textright {
	text-align: right
}
.clear {
	clear: both
}
.screen-reader-text,.screen-reader-text span,.ui-helper-hidden-accessible
	{
	position: absolute;
	left: -1000em;
	top: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden
}
.screen-reader-shortcut {
	position: absolute;
	top: -1000em
}
.screen-reader-shortcut:focus {
	left: 6px;
	top: -21px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #21759b;
	border-radius: 3px;
	z-index: 100000;
	line-height: normal;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	text-decoration: none
}
.hidden,.js .closed .inside,.js .hide-if-js,.no-js .hide-if-no-js,.js.wp-core-ui .hide-if-js,.js .wp-core-ui .hide-if-js,.no-js.wp-core-ui .hide-if-no-js,.no-js .wp-core-ui .hide-if-no-js
	{
	display: none
}
input[type="text"],input[type="password"],input[type="number"],input[type="search"],input[type="email"],input[type="url"],textarea
	{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}
input[type="checkbox"],input[type="radio"] {
	vertical-align: text-top;
	padding: 0;
	margin: 1px 0 0
}
input[type="search"] {
	-webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration {
	display: none
}
html,body {
	height: 100%;
	margin: 0;
	padding: 0
}
body {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	min-width: 600px
}
body.iframe {
	min-width: 0
}
body.login {
	background: #fbfbfb;
	min-width: 0
}
iframe,img {
	border: 0
}
td,textarea,input,select,button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}
td,textarea {
	line-height: inherit
}
input,select {
	line-height: 15px
}
a,input[type="text"],input[type="password"],input[type="number"],input[type="search"],input[type="email"],input[type="url"],select,textarea,div
	{
	outline: 0
}
a:focus,a:active {
	outline: thin dotted
}
#adminmenu a:focus,#adminmenu a:active,.screen-reader-text:focus {
	outline: 0
}
blockquote,q {
	quotes: none
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}
p {
	margin: 1em 0
}
blockquote {
	margin: 1em
}
label {
	cursor: pointer
}
li,dd {
	margin-bottom: 6px
}
textarea,input,select {
	margin: 1px;
	padding: 3px
}
h1,h2,h3,h4,h5,h6 {
	display: block;
	font-weight: bold
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
h2 {
	font-size: 1.5em;
	margin: .83em 0
}
h3 {
	font-size: 1.17em;
	margin: 1em 0
}
h4 {
	font-size: 1em;
	margin: 1.33em 0
}
h5 {
	font-size: .83em;
	margin: 1.67em 0
}
h6 {
	font-size: .67em;
	margin: 2.33em 0
}
ul,ol {
	padding: 0
}
ul {
	list-style: none
}
ol {
	list-style-type: decimal;
	margin-left: 2em
}
ul.ul-disc {
	list-style: disc outside
}
ul.ul-square {
	list-style: square outside
}
ol.ol-decimal {
	list-style: decimal outside
}
ul.ul-disc,ul.ul-square,ol.ol-decimal {
	margin-left: 1.8em
}
ul.ul-disc>li,ul.ul-square>li,ol.ol-decimal>li {
	margin: 0 0 .5em
}
.code,code {
	font-family: Consolas, Monaco, monospace
}
kbd,code {
	padding: 1px 3px;
	margin: 0 1px;
	font-size: 11px
}
.subsubsub {
	list-style: none;
	margin: 8px 0 5px;
	padding: 0;
	font-size: 12px;
	float: left
}
.subsubsub a {
	line-height: 2;
	padding: .2em;
	text-decoration: none
}
.subsubsub a .count,.subsubsub a.current .count {
	color: #999;
	font-weight: normal
}
.subsubsub a.current {
	font-weight: bold;
	border: 0
}
.subsubsub li {
	display: inline-block;
	margin: 0;
	padding: 0;
	white-space: nowrap
}
.widefat,div.updated,div.error,.wrap .add-new-h2,textarea,input[type="text"],input[type="password"],input[type="file"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select,.tablenav .tablenav-pages a,.tablenav-pages span.current,#titlediv #title,.postbox,#postcustomstuff table,#postcustomstuff input,#postcustomstuff textarea,.imgedit-menu div,.plugin-update-tr .update-message,#poststuff .inside .the-tagcloud,.login form,#login_error,.login .message,#menu-management .menu-edit,.nav-menus-php .list-container,.menu-item-handle,.link-to-original,.nav-menus-php .major-publishing-actions .form-invalid,.press-this #message,#TB_window,.tbtitle,.highlight,.feature-filter,#widget-list .widget-top,.editwidget .widget-inside
	{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid
}
.widefat {
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0
}
.widefat * {
	word-wrap: break-word
}
.widefat a {
	text-decoration: none
}
.widefat thead th:first-of-type {
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px
}
.widefat thead th:last-of-type {
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px
}
.widefat tfoot th:first-of-type {
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px
}
.widefat tfoot th:last-of-type {
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px
}
.widefat td,.widefat th {
	border-width: 1px 0;
	border-style: solid
}
.widefat tfoot th {
	border-bottom: 0
}
.widefat .no-items td {
	border-bottom-width: 0
}
.widefat td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top
}
.widefat td p,.widefat td ol,.widefat td ul {
	font-size: 12px
}
.widefat th {
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px
}
.widefat th input {
	margin: 0 0 0 8px;
	padding: 0;
	vertical-align: text-top
}
.widefat .check-column {
	width: 2.2em;
	padding: 6px 0 25px;
	vertical-align: top
}
.widefat tbody th.check-column {
	padding: 9px 0 22px
}
.widefat.media .check-column {
	padding-top: 8px
}
.widefat thead .check-column,.widefat tfoot .check-column {
	padding: 10px 0 0
}
.no-js .widefat thead .check-column input,.no-js .widefat tfoot .check-column input
	{
	display: none
}
.widefat .num,.column-comments,.column-links,.column-posts {
	text-align: center
}
.widefat th#comments {
	vertical-align: middle
}
.wrap {
	margin: 4px 15px 0 0
}
div.updated,div.error {
	padding: 0 .6em;
	margin: 5px 15px 2px
}
div.updated p,div.error p {
	margin: .5em 0;
	padding: 2px
}
.wrap div.updated,.wrap div.error,.media-upload-form div.error {
	margin: 5px 0 15px
}
.wrap h2,.subtitle {
	font-weight: normal;
	margin: 0;
	text-shadow: #fff 0 1px 0
}
.wrap h2 {
	font-size: 23px;
	padding: 9px 15px 4px 0;
	line-height: 29px
}
.subtitle {
	font-size: 14px;
	padding-left: 25px
}
.wrap .add-new-h2 {
	font-family: sans-serif;
	margin-left: 4px;
	padding: 3px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	font-size: 12px;
	border: 0 none
}
.wrap h2.long-header {
	padding-right: 0
}
html,.wp-dialog {
	background-color: #fff
}
textarea,input[type="text"],input[type="password"],input[type="file"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select
	{
	background-color: #fff;
	color: #333
}
select {
	color: #000
}
select[disabled] {
	color: #7f7f7f
}
select:focus {
	border-color: #aaa
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="file"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="url"]:focus,select:focus
	{
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1)
}
input[readonly] {
	background-color: #eee
}
:-moz-placeholder {
	color: #a9a9a9
}
div.sidebar-name h3,#menu-management .nav-tab,#dashboard_plugins h5,a.rsswidget,#dashboard_right_now td.b,#dashboard-widgets h4,.tool-box .title,#poststuff h3,.metabox-holder h3,.pressthis a,#your-profile legend,.inline-edit-row fieldset span.title,.inline-edit-row fieldset span.checkbox-title,.tablenav .displaying-num,.widefat th,.quicktags,.search
	{
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times,
		serif
}
h2 .nav-tab,.wrap h2,.subtitle,.login form .input {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif
}
.quicktags,.search {
	font-size: 12px
}
.icon32 {
	float: left;
	height: 34px;
	margin: 7px 8px 0 0;
	width: 36px
}
.icon16 {
	height: 18px;
	width: 18px;
	padding: 6px 6px;
	margin: -6px 0 0 -8px;
	float: left
}
.key-labels label {
	line-height: 24px
}
.pre {
	white-space: pre-wrap;
	word-wrap: break-word
}
.howto {
	font-style: italic;
	display: block;
	font-family: sans-serif
}
p.install-help {
	margin: 8px 0;
	font-style: italic
}
.no-break {
	white-space: nowrap
}
.wp-admin select {
	padding: 2px;
	height: 2em
}
.wp-admin select[multiple] {
	height: auto
}
.submit {
	padding: 1.5em 0;
	margin: 5px 0;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}
form p.submit a.cancel:hover {
	text-decoration: none
}
#minor-publishing-actions input,#major-publishing-actions input,#minor-publishing-actions .preview
	{
	text-align: center
}
textarea.all-options,input.all-options {
	width: 250px
}
input.large-text,textarea.large-text {
	width: 99%
}
input.regular-text,#adduser .form-field input {
	width: 25em
}
input.small-text {
	width: 50px
}
input[type="number"].small-text {
	width: 60px
}
#doaction,#doaction2,#post-query-submit {
	margin: 1px 8px 0 0
}
.tablenav #changeit,.tablenav #delete_all,.tablenav #clear-recent-list {
	margin-top: 1px
}
.tablenav .actions select {
	float: left;
	margin-right: 6px;
	max-width: 200px
}
.ie8 .tablenav .actions select {
	width: 155px
}
.ie8 .tablenav .actions select#cat {
	width: 200px
}
#timezone_string option {
	margin-left: 1em
}
label,#your-profile label+a {
	vertical-align: middle
}
#misc-publishing-actions label {
	vertical-align: baseline
}
#pass-strength-result {
	border-style: solid;
	border-width: 1px;
	float: left;
	margin: 13px 5px 5px 1px;
	padding: 3px 5px;
	text-align: center;
	width: 200px;
	display: none
}
.indicator-hint {
	padding-top: 8px
}
p.search-box {
	float: right;
	margin: 0
}
.search-box input[name="s"],#search-plugins input[name="s"],.tagsdiv .newtag
	{
	float: left;
	height: 2em;
	margin: 0 4px 0 0
}
input[type="text"].ui-autocomplete-loading {
	background: transparent url('images/loading.gif') no-repeat right center;
	visibility: visible
}
ul#add-to-blog-users {
	margin: 0 0 0 14px
}
.ui-autocomplete-input.open {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}
.ui-autocomplete {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-width: 1px;
	border-style: solid
}
.ui-autocomplete li {
	margin-bottom: 0;
	white-space: nowrap;
	text-align: left
}
.ui-autocomplete li a {
	display: block;
	height: 100%;
	padding: 4px 10px
}
.ui-autocomplete li a.ui-state-focus {
	cursor: pointer
}
#major-publishing-actions {
	padding: 10px 10px 8px;
	clear: both;
	border-top: 1px solid #f5f5f5;
	margin-top: -2px
}
#delete-action {
	line-height: 25px;
	vertical-align: middle;
	text-align: left;
	float: left
}
#publishing-action {
	text-align: right;
	float: right;
	line-height: 23px
}
#publishing-action .spinner {
	float: left
}
#misc-publishing-actions {
	padding: 6px 0 0
}
.misc-pub-section {
	padding: 6px 10px 8px;
	border-width: 1px 0;
	border-style: solid
}
.misc-pub-section:first-child {
	border-top-width: 0
}
.misc-pub-section-last {
	border-bottom-width: 0
}
#minor-publishing-actions {
	padding: 10px 10px 2px 8px;
	text-align: right
}
#minor-publishing {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff
}
#save-post {
	float: left
}
.preview {
	float: right
}
#sticky-span {
	margin-left: 18px
}
.side-info {
	margin: 0;
	padding: 4px;
	font-size: 11px
}
.side-info h5 {
	padding-bottom: 7px;
	font-size: 14px;
	margin: 12px 2px 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid
}
.side-info ul {
	margin: 0;
	padding-left: 18px;
	list-style: square
}
.approve,.unapproved .unapprove {
	display: none
}
.unapproved .approve,.spam .approve,.trash .approve {
	display: inline
}
td.action-links,th.action-links {
	text-align: right
}
#update-nag,.update-nag {
	line-height: 19px;
	padding: 5px 0;
	font-size: 12px;
	text-align: center;
	margin: -1px 15px 0 5px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}
.plugins .plugin-update {
	padding: 0
}
.plugin-update .update-message {
	margin: 0 10px 8px 31px;
	font-weight: bold
}
ul#dismissed-updates {
	display: none
}
form.upgrade {
	margin-top: 8px
}
form.upgrade .hint {
	font-style: italic;
	font-size: 85%;
	margin: -0.5em 0 2em 0
}
#ajax-loading,.ajax-loading,.ajax-feedback,.imgedit-wait-spin,.list-ajax-loading
	{
	visibility: hidden
}
#ajax-response.alignleft {
	margin-left: 2em
}
#adminmenu a,#sidemenu a,#taglist a,#catlist a {
	text-decoration: none
}
#screen-options-wrap,#contextual-help-wrap {
	margin: 0;
	padding: 8px 20px 12px;
	position: relative
}
#contextual-help-wrap {
	overflow: auto
}
#screen-meta .screen-reader-text {
	visibility: hidden
}
#screen-meta-links {
	margin: 0 24px 0 0
}
#screen-meta-links a:focus {
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	outline: 0
}
#screen-meta {
	display: none;
	position: relative;
	margin: 0 15px 0 5px;
	border-width: 0 1px 1px;
	border-style: none solid solid
}
#screen-options-link-wrap,#contextual-help-link-wrap {
	float: right;
	height: 23px;
	padding: 0;
	margin: 0 0 0 6px;
	font-family: sans-serif
}
#screen-options-link-wrap,#contextual-help-link-wrap,#screen-meta {
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}
#screen-meta-links .screen-meta-toggle {
	position: relative;
	top: -1px
}
#screen-meta-links a.show-settings {
	text-decoration: none;
	z-index: 1;
	padding: 1px 16px 0 6px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	display: block;
	text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0
}
#screen-meta-links a.show-settings:hover {
	text-decoration: none
}
.toggle-arrow {
	background-repeat: no-repeat;
	background-position: top left;
	background-color: transparent;
	height: 22px;
	line-height: 22px;
	display: block
}
.toggle-arrow-active {
	background-position: bottom left
}
#screen-options-wrap h5,#contextual-help-wrap h5 {
	margin: 8px 0;
	font-size: 13px
}
.metabox-prefs label {
	display: inline-block;
	padding-right: 15px;
	white-space: nowrap;
	line-height: 30px
}
.metabox-prefs label input {
	margin: 0 5px 0 2px
}
.metabox-prefs .columns-prefs label input {
	margin: 0 2px
}
.metabox-prefs label a {
	display: none
}
#contextual-help-wrap {
	padding: 0;
	margin-left: -4px
}
#contextual-help-columns {
	position: relative
}
#contextual-help-back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 150px;
	right: 170px;
	border-width: 0 1px;
	border-style: solid
}
#contextual-help-wrap.no-sidebar #contextual-help-back {
	right: 0;
	border-right-width: 0;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.contextual-help-tabs {
	float: left;
	width: 150px;
	margin: 0
}
.contextual-help-tabs ul {
	margin: 1em 0
}
.contextual-help-tabs li {
	margin-bottom: 0;
	list-style-type: none;
	border-style: solid;
	border-width: 1px 0;
	border-color: transparent
}
.contextual-help-tabs a {
	display: block;
	padding: 5px 5px 5px 12px;
	line-height: 18px;
	text-decoration: none
}
.contextual-help-tabs .active {
	padding: 0;
	margin: 0 -1px 0 0;
	border-width: 1px 0 1px 1px;
	border-style: solid
}
.contextual-help-tabs-wrap {
	padding: 0 20px;
	overflow: auto
}
.help-tab-content {
	display: none;
	margin: 0 22px 12px 0;
	line-height: 1.6em
}
.help-tab-content.active {
	display: block
}
.help-tab-content li {
	list-style-type: disc;
	margin-left: 18px
}
.contextual-help-sidebar {
	width: 150px;
	float: right;
	padding: 0 8px 0 12px;
	overflow: auto
}
#adminmenuback,#adminmenuwrap {
	border-width: 0 1px 0 0;
	border-style: solid
}
#adminmenuwrap {
	position: fixed;
	float: left;
	font-size: 13px;
	height: 100%;
	margin:40px 0px 10px 10px;
	width:13%;
	background: #FAFAFA;
	box-shadow: 0 0 1px, inset 0 0 30px #D8D8D8;
}
#adminmenushadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 6px;
	z-index: 20
}
#adminmenu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}
#adminmenu li.logo img{
	width:100%;
	height:100%;
}
#adminmenu li {
	margin: 0;
	padding: 0;
	cursor: pointer
}
#adminmenu a {
	display: block;
	line-height: 18px;
	padding: 2px 5px
}
#adminmenu li.menu-top {
	min-height: 28px;
	position: relative
}
#adminmenu .wp-submenu {
	list-style: none;
	padding: 4px 0;
	margin: 0;
	position: absolute;
	top: -1000em;
	left: 146px;
	z-index: 1000;
	overflow: visible;
	border-width: 1px;
	border-style: solid;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px
}
.js #adminmenu .sub-open,.js #adminmenu .opensub .wp-submenu,#adminmenu a.menu-top:focus+.wp-submenu,.no-js li.wp-has-submenu:hover .wp-submenu
	{
	top: -1px
}
#adminmenu .wp-has-current-submenu .wp-submenu,.no-js li.wp-has-current-submenu:hover .wp-submenu,#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,#adminmenu .wp-has-current-submenu.opensub .wp-submenu
	{
	position: relative;
	z-index: 2;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	border: 0 none;
	-webkit-box-shadow: none;
	box-shadow: none
}
.folded #adminmenu .wp-submenu.sub-open,.folded #adminmenu .opensub .wp-submenu,.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,.folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,.folded #adminmenu a.menu-top:focus+.wp-submenu,.folded #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu,.no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu
	{
	top: -1px;
	left: 32px
}
.folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu,.folded #adminmenu .wp-has-current-submenu .wp-submenu
	{
	border-width: 1px;
	border-style: solid;
	position: absolute;
	top: -1000em
}
#adminmenu .wp-submenu a {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding-left: 12px
}
#adminmenu .wp-not-current-submenu li>a {
	padding-left: 16px
}
#adminmenu .wp-has-current-submenu ul>li>a,.folded #adminmenu li.menu-top .wp-submenu>li>a
	{
	padding-left: 12px
}
#adminmenu a.menu-top,#adminmenu .wp-submenu-head {
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	padding: 0
}
#adminmenu .wp-submenu-head,.folded #adminmenu .wp-menu-name {
	display: none
}
.folded #adminmenu .wp-submenu-head {
	display: block
}
#adminmenu .wp-submenu li {
	padding: 0;
	margin: 0;
	overflow: hidden;
	padding:2px 0px 2px 0px;
}
#adminmenu a.menu-top {
	border-width: 1px 0;
	border-style: solid none
}
#adminmenu .wp-menu-image img {
	padding: 7px 0 0 7px;
	opacity: .6;
	filter: alpha(opacity = 60)
}
#adminmenu div.wp-menu-name {
	padding: 5px
}
#adminmenu div.wp-menu-image {
	float: left;
	width: 28px;
	height: 28px
}
.folded #adminmenu div.wp-menu-image {
	width: 32px;
	position: absolute;
	z-index: 25
}
.folded #adminmenu a.menu-top {
	height: 28px
}
.wp-menu-arrow {
	z-index: 25;
	position: absolute;
	right: 100%;
	margin: 0;
	height: 30px;
	width: 6px;
	-moz-transform: translate(146px);
	-webkit-transform: translate(146px);
	-o-transform: translate(146px);
	-ms-transform: translate(146px);
	transform: translate(146px)
}
#adminmenu .wp-menu-arrow div {
	display: none;
	position: absolute;
	top: 8px;
left: 28px;
width: 15px;
height: 15px;
	-moz-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	-webkit-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	-o-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	-ms-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	transform: matrix(-0.6, 1, 0.6, 1, 0, 0)
}
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {
	-moz-transform: translate(145px);
	-webkit-transform: translate(145px);
	-o-transform: translate(145px);
	-ms-transform: translate(145px);
	transform: translate(145px);
	height: 28px;
	border-width: 1px 0;
	border-style: solid;
	top: 0
}
.folded #adminmenu li .wp-menu-arrow {
	-moz-transform: translate(32px);
	-webkit-transform: translate(32px);
	-o-transform: translate(32px);
	-ms-transform: translate(32px);
	transform: translate(32px)
}
#adminmenu li.current .wp-menu-arrow,#adminmenu li.wp-has-current-submenu .wp-menu-arrow,#adminmenu li.wp-has-current-submenu .wp-menu-arrow div,#adminmenu li.wp-has-submenu .wp-menu-arrow div,#adminmenu li.current .wp-menu-arrow div,.no-js #adminmenu li.wp-has-submenu:hover .wp-menu-arrow,#adminmenu li.wp-has-submenu.opensub .wp-menu-arrow,#adminmenu a.wp-has-submenu:focus .wp-menu-arrow,#adminmenu a:hover .wp-menu-arrow
	{
	display: block
}
#adminmenu li.current .wp-menu-arrow,#adminmenu li.wp-menu-open .wp-menu-arrow
	{
	top: 0
}
.no-js #adminmenu li.wp-has-submenu:hover .wp-menu-arrow,#adminmenu li.wp-has-submenu.opensub .wp-menu-arrow,#adminmenu a.wp-has-submenu:focus .wp-menu-arrow
	{
	z-index: 1001
}
.ie8 #adminmenu li.menu-top:hover .wp-menu-arrow {
	display: none
}
#adminmenu .wp-not-current-submenu .wp-menu-arrow div {
	width: 15px;
	top: 6px;
	border-width: 0 0 1px 1px;
	border-style: solid
}
.wp-menu-arrow,.folded #adminmenu li .wp-menu-arrow div,.no-js #adminmenu li.wp-not-current-submenu:hover .wp-menu-arrow
	{
	display: none
}
.folded #adminmenu li.current .wp-menu-arrow,.folded #adminmenu li.current .wp-menu-arrow div,.folded #adminmenu li.wp-has-current-submenu .wp-menu-arrow div,.folded #adminmenu li.wp-menu-open .wp-menu-arrow,.folded #adminmenu li a:focus .wp-menu-arrow
	{
	display: block
}
#adminmenu li.menu-top:hover .wp-menu-image img,#adminmenu li.wp-has-current-submenu .wp-menu-image img
	{
	opacity: 1;
	filter: alpha(opacity = 100)
}
#adminmenu li.wp-menu-separator {
	height: 3px;
	padding: 0;
	margin: 0;
	border-width: 1px 0;
	border-style: solid;
	cursor: inherit
}
#adminmenu div.separator {
	height: 1px;
	padding: 0;
	border-width: 1px 0 0 0;
	border-style: solid
}
#adminmenu .wp-submenu .wp-submenu-head {
	padding: 5px 4px 5px 10px;
	margin: -4px -1px 4px;
	border-width: 1px 0;
	border-style: solid;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px
}
#adminmenu li.wp-menu-open {
	border-width: 0 0 1px;
	border-style: solid
}
#adminmenu li.current,.folded #adminmenu li.wp-menu-open {
	border: 0 none
}
.folded #adminmenu li.wp-has-current-submenu {
	margin-bottom: 1px
}
.folded #adminmenu .wp-has-current-submenu.menu-top-last {
	margin-bottom: 0
}
#adminmenu .awaiting-mod,#adminmenu span.update-plugins,#sidemenu li a span.update-plugins
	{
	position: absolute;
	font-family: sans-serif;
	font-size: 9px;
	line-height: 17px;
	font-weight: bold;
	margin-top: 1px;
	margin-left: 7px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 26
}
#adminmenu li .awaiting-mod span,#adminmenu li span.update-plugins span,#sidemenu li a span.update-plugins span
	{
	display: block;
	padding: 0 6px
}
#adminmenu li span.count-0,#sidemenu li a .count-0 {
	display: none
}
#collapse-menu {
	font-size: 12px;
	line-height: 34px;
	border-width: 1px 0 0;
	border-style: solid
}
.folded #collapse-menu span {
	display: none
}
#collapse-button,#collapse-button div {
	width: 15px;
	height: 15px
}
#collapse-button {
	float: left;
	margin: 8px 6px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 10px;
	border-radius: 10px
}
@media only screen and (max-width:900px) {
	.auto-fold #wpcontent,.auto-fold #wpfooter {
		margin-left: 52px
	}
	.auto-fold #adminmenuback,.auto-fold #adminmenuwrap,.auto-fold #adminmenu,.auto-fold #adminmenu li.menu-top
		{
		width: 32px
	}
	.auto-fold #adminmenu .wp-submenu.sub-open,.auto-fold #adminmenu .opensub .wp-submenu,.auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,.auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu,.auto-fold #adminmenu a.menu-top:focus+.wp-submenu,.auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu
		{
		top: -1px;
		left: 32px
	}
	.auto-fold #adminmenu a.wp-has-current-submenu:focus+.wp-submenu,.auto-fold #adminmenu .wp-has-current-submenu .wp-submenu
		{
		border-width: 1px;
		border-style: solid;
		position: absolute;
		top: -1000em
	}
	.auto-fold #adminmenu li.menu-top .wp-submenu>li>a {
		padding-left: 12px
	}
	.auto-fold #adminmenu .wp-menu-name {
		display: none
	}
	.auto-fold #adminmenu .wp-submenu-head {
		display: block
	}
	.auto-fold #adminmenu div.wp-menu-image {
		width: 32px;
		position: absolute;
		z-index: 25
	}
	.auto-fold #adminmenu a.menu-top {
		height: 28px
	}
	.auto-fold #adminmenu li .wp-menu-arrow {
		-moz-transform: translate(32px);
		-webkit-transform: translate(32px);
		-o-transform: translate(32px);
		-ms-transform: translate(32px);
		transform: translate(32px)
	}
	.auto-fold #adminmenu li .wp-menu-arrow div {
		display: none
	}
	.auto-fold #adminmenu li.current .wp-menu-arrow,.auto-fold #adminmenu li.current .wp-menu-arrow div,.auto-fold #adminmenu li.wp-has-current-submenu .wp-menu-arrow div,.auto-fold #adminmenu li.wp-menu-open .wp-menu-arrow,.auto-fold #adminmenu li a:focus .wp-menu-arrow
		{
		display: block
	}
	.auto-fold #adminmenu li.wp-menu-open {
		border: 0 none
	}
	.auto-fold #adminmenu li.wp-has-current-submenu {
		margin-bottom: 1px
	}
	.auto-fold #adminmenu .wp-has-current-submenu.menu-top-last {
		margin-bottom: 0
	}
	.auto-fold #collapse-menu span {
		display: none
	}
}
.post-com-count-wrapper {
	min-width: 22px;
	font-family: sans-serif
}
.post-com-count {
	background-image: url('images/bubble_bg.gif');
	height: 1.3em;
	line-height: 1.1em;
	display: block;
	text-decoration: none;
	padding: 0 0 6px;
	cursor: pointer;
	background-position: center -80px;
	background-repeat: no-repeat
}
.post-com-count span {
	font-size: 11px;
	font-weight: bold;
	height: 1.4em;
	line-height: 1.4em;
	min-width: .7em;
	padding: 0 6px;
	display: inline-block;
	-webkit-border-radius: 5px;
	border-radius: 5px
}
strong .post-com-count {
	background-position: center -55px
}
.post-com-count:hover {
	background-position: center -3px
}
.column-response .post-com-count {
	float: left;
	margin-right: 5px;
	text-align: center
}
.response-links {
	float: left
}
#the-comment-list .attachment-80x60 {
	padding: 4px 8px
}
th .comment-grey-bubble {
	background-image: url('images/comment-grey-bubble.png');
	background-repeat: no-repeat;
	height: 12px;
	width: 12px
}
html.wp-toolbar {
	padding-top: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.narrow {
	width: 70%;
	margin-bottom: 40px
}
.narrow p {
	line-height: 150%
}
.widefat th,.widefat td {
	overflow: hidden
}
.widefat th {
	font-weight: normal
}
.widefat td p {
	margin: 2px 0 .8em
}
.widefat .column-comment p {
	margin: .6em 0
}
.postbox-container {
	float: left
}
#dashboard-widgets.columns-1 .postbox-container {
	width: 100%
}
#dashboard-widgets.columns-2 .postbox-container {
	width: 49.5%
}
#dashboard-widgets.columns-2 #postbox-container-2,#dashboard-widgets.columns-2 #postbox-container-3,#dashboard-widgets.columns-2 #postbox-container-4
	{
	float: right;
	width: 50.5%
}
#dashboard-widgets.columns-3 .postbox-container {
	width: 33.5%
}
#dashboard-widgets.columns-3 #postbox-container-1 {
	width: 33%
}
#dashboard-widgets.columns-3 #postbox-container-3,#dashboard-widgets.columns-3 #postbox-container-4
	{
	float: right
}
#dashboard-widgets.columns-4 .postbox-container {
	width: 25%
}
.postbox-container .meta-box-sortables {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}
.metabox-holder .postbox-container .empty-container {
	border: 3px dashed #ccc;
	height: 250px
}
.metabox-holder.columns-1 .postbox-container .empty-container,.columns-2 #postbox-container-3 .empty-container,.columns-2 #postbox-container-4 .empty-container,.columns-3 #postbox-container-4 .empty-container
	{
	border: 0 none;
	height: 0;
	min-height: 0
}
#poststuff {
	padding-top: 10px
}
#poststuff #post-body {
	padding: 0
}
#post-body-content {
	width: 100%;
	float: left
}
#poststuff .postbox-container {
	width: 100%
}
#poststuff #post-body.columns-2 {
	margin-right: 300px
}
#post-body.columns-2 #postbox-container-1 {
	float: right;
	margin-right: -300px;
	width: 280px
}
#post-body.columns-2 #side-sortables {
	min-height: 250px
}
@media only screen and (max-width:799px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		width: 100%
	}
	#wpbody-content .metabox-holder .postbox-container .empty-container {
		border: 0 none;
		height: 0;
		min-height: 0
	}
}
@media only screen and (min-width:800px) and (max-width:1200px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		width: 49.5%
	}
	#wpbody-content #dashboard-widgets #postbox-container-2,#wpbody-content #dashboard-widgets #postbox-container-3,#wpbody-content #dashboard-widgets #postbox-container-4
		{
		float: right;
		width: 50.5%
	}
	#dashboard-widgets #postbox-container-3 .empty-container,#dashboard-widgets #postbox-container-4 .empty-container
		{
		border: 0 none;
		height: 0;
		min-height: 0
	}
	#wpbody #wpbody-content #dashboard-widgets.columns-1 .postbox-container
		{
		width: 100%
	}
	#wpbody #wpbody-content .metabox-holder.columns-1 .postbox-container .empty-container
		{
		border: 0 none;
		height: 0;
		min-height: 0
	}
	.index-php .screen-layout,.index-php .columns-prefs {
		display: block
	}
	.columns-prefs .columns-prefs-3,.columns-prefs .columns-prefs-4 {
		display: none
	}
}
@media only screen and (max-width:850px) {
	#wpbody-content #poststuff #post-body {
		margin: 0
	}
	#wpbody-content #post-body.columns-2 #postbox-container-1 {
		margin-right: 0;
		width: 100%
	}
	#poststuff #postbox-container-1 .empty-container,#poststuff #postbox-container-1 #side-sortables:empty
		{
		border: 0 none;
		height: 0;
		min-height: 0
	}
	#poststuff #post-body.columns-2 #side-sortables {
		min-height: 0
	}
	.screen-layout,.columns-prefs {
		display: none
	}
}
.postbox .hndle {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}
.js .postbox .hndle {
	cursor: move
}
.postbox.closed .hndle {
	-webkit-border-radius: 3px;
	border-radius: 3px
}
.hndle a {
	font-size: 11px;
	font-weight: normal
}
.postbox .handlediv {
	float: right;
	width: 27px;
	height: 30px
}
.js .postbox .handlediv {
	cursor: pointer
}
.sortable-placeholder {
	border-width: 1px;
	border-style: dashed;
	margin-bottom: 20px
}
.widget,.postbox,.stuffbox {
	margin-bottom: 20px;
	padding: 0;
	border-width: 1px;
	border-style: solid;
	line-height: 1
}
.widget .widget-top,.postbox h3,.stuffbox h3 {
	margin-top: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}
.js .widget .widget-top,.js .postbox h3 {
	cursor: move
}
.postbox .inside,.stuffbox .inside {
	padding: 0 12px 0 10px;
	line-height: 1.4em
}
.postbox .inside {
	margin: 10px 0;
	position: relative
}
.postbox.closed h3 {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.postbox table.form-table {
	margin-bottom: 0
}
.temp-border {
	border: 1px dotted #ccc
}
.columns-prefs label {
	padding: 0 5px
}
#dashboard-widgets-wrap {
	margin: 0 -8px
}
#wpbody-content .metabox-holder {
	padding-top: 10px
}
#dashboard-widgets .meta-box-sortables {
	margin: 0 8px
}
#dashboard_recent_comments div.undo {
	border-top-style: solid;
	border-top-width: 1px;
	margin: 0 -10px;
	padding: 3px 8px;
	font-size: 11px
}
#the-comment-list td.comment p.comment-author {
	margin-top: 0;
	margin-left: 0
}
#the-comment-list p.comment-author img {
	float: left;
	margin-right: 8px
}
#the-comment-list p.comment-author strong a {
	border: 0
}
#the-comment-list td {
	vertical-align: top
}
#the-comment-list td.comment {
	word-wrap: break-word
}
.welcome-panel {
	position: relative;
	overflow: auto;
	margin: 20px 0;
	padding: 23px 10px 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-size: 13px;
	line-height: 2.1em
}
.welcome-panel h3 {
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", sans-serif;
	font-size: 21px;
	font-weight: normal;
	line-height: 1.2
}
.welcome-panel h4 {
	margin: 1.33em 0 0;
	font-size: 13px
}
.welcome-panel .about-description {
	font-size: 16px;
	margin: 0
}
.welcome-panel .welcome-panel-close {
	position: absolute;
	top: 5px;
	right: 10px;
	padding: 8px 3px;
	font-size: 13px;
	text-decoration: none;
	line-height: 1
}
.welcome-panel .welcome-panel-close:before {
	content: ' ';
	position: absolute;
	left: -12px;
	width: 10px;
	height: 100%;
	background: url('images/xit.gif') 0 17% no-repeat
}
.welcome-panel .welcome-panel-close:hover:before {
	background-position: 100% 17%
}
.wp-core-ui .welcome-panel .button.button-hero {
	margin: 15px 0 3px
}
.welcome-panel-content {
	margin-left: 13px;
	max-width: 1500px
}
.welcome-panel .welcome-panel-column-container {
	clear: both;
	overflow: hidden;
	position: relative
}
.welcome-panel .welcome-panel-column {
	width: 32%;
	min-width: 200px;
	float: left
}
.ie8 .welcome-panel .welcome-panel-column {
	min-width: 230px
}
.welcome-panel .welcome-panel-column:first-child {
	width: 36%
}
.welcome-panel-column p {
	margin-top: 7px
}
