
a{
	text-decoration:none;
}
#backgroundPopup {
position: absolute;
width: 100%;
height: 3000px;
opacity: 0.6;
z-index: 30;
display: none;
}
#error{
	color:#F00;
	
}
.btn:hover{
	cursor:pointer;
	color:#F00;
}
.button {
font-family: Verdana, Arial, sans-serif;
display: inline-block;
padding: 4px 7px 4px 7px !important;
color: #fff !important;
font-size: 11px !important;
cursor: pointer;
}
.button {
background: #70b200 top left repeat-x !important;
border-color: #4c9800 !important;
border-radius:3px;
border:0;
}
.button:hover{
background: #0099CC top left repeat-x !important;
border-color: #4c9800 !important;
border-radius:3px;
border:0;
}
.box {
margin-bottom: 15px;
}
.box > .heading {
height: 38px;
padding-left: 7px;
padding-right: 7px;
border: 1px solid #DBDBDB;
background: #F3F3F3;
-webkit-border-radius: 7px 7px 0px 0px;
-moz-border-radius: 7px 7px 0px 0px;
-khtml-border-radius: 7px 7px 0px 0px;
border-radius: 7px 7px 0px 0px;
}
.box > .heading h1 {
margin: 0px;
padding: 11px 0px 0px 0px;
color: #489500;
font-size: 16px;
float: left;
}
.box > .heading h1 {
color: #62a800 !important;
}
.box > .heading h1 img {
float: left;
margin-top: -1px;
margin-left: 3px;
margin-right: 8px;
}
.box > .heading .buttons {
float: right;
padding-top: 7px;
margin-right: 5px;
}
.box > .heading .buttons .button {
margin-left: 5px;
}
.box > .content {
padding: 10px;
border-left: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
min-height: 300px;
overflow: auto;
}
.vtabs {
width: 190px;
padding: 10px 0px;
min-height: 300px;
float: left;
display: block;
border-right: 1px solid #DDDDDD;
}
.vtabs a.selected {
padding-right: 15px;
background: #FFFFFF;
}
.vtabs a, .vtabs span {
display: block;
float: left;
width: 160px;
margin-bottom: 5px;
clear: both;
border-top: 1px solid #DDDDDD;
border-left: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
background: #F7F7F7;
padding: 6px 14px 7px 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
text-align: right;
text-decoration: none;
color: #000000;
}
.vtabs-content {
//margin-left: 205px;
}
.list {
border-collapse: collapse;
width: 100%;
border-top: 1px solid #DDDDDD;
border-left: 1px solid #DDDDDD;
margin-bottom: 20px;
}
.list .left {
text-align: left;
padding: 7px;
}
.list .right {
text-align: right;
padding: 7px;
}
.list thead td a, .list thead td {
text-decoration: none;
color: #222222;
font-weight: bold;
}
.list thead td {
background-color: #EFEFEF;
padding: 0px 5px;
}
.list td {
border-right: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
}
table.form {
width: 100%;
border-collapse: collapse;
margin-bottom: 20px;
}
table.form > tbody > tr > td {
padding: 10px;
color: #000000;
border-bottom: 1px dotted #CCCCCC;
}
table.form > tbody > tr > td:first-child {
width: 200px;
/* end chi tiet don hang */
#wrappertop {
	background:url(../images/wrapper_top.png) no-repeat;
	height:22px;
}
#wrappermiddle {
	background:url(../images/wrapper_middle.png) repeat-y;
	height:240px;
}
#wrapperbottom {
	background:url(../images/wrapper_bottom.png) no-repeat;
	height:22px;
}
#wrapper h2 {
	margin-left:20px;
	font-size:20px;
	font-weight:bold;
	font-family:Myriad Pro;
	text-transform:uppercase;
	position:absolute;
	text-shadow: #fff 2px 2px 2px;
}
#username_input {
	margin-left:25px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:40px;
}
#username_inputleft {
	float:left;
	background:url(../images/input_left.png) no-repeat;
	width:12px;
	height:50px;
}
#username_inputmiddle {
	float:left;
	background:url(../images/input_middle.png) repeat-x;
	width:276px;
	height:50px;
}
#username_inputright {
	float:left;
	background:url(../images/input_right.png) no-repeat;
	width:12px;
	height:50px;
}
#url{
	display:block;
	width:276px;
	height:45px;
	background:transparent;
	border:0;
	color:#bdbdbd;
	font-family:helvetica, sans-serif;
	font-size:14px;
	padding-left:20px;
}
#url_user {
	position:absolute;
	display:block;
	margin-top:-28px;
	float:left;
	padding-right:10px;
}
#password_input {
	margin-left:25px;
	position:absolute;
	width:300;
	height:50px;
	margin-top:100px;
}
#password_inputleft {
	float:left;
	background:url(../images/input_left.png) no-repeat;
	width:12px;
	height:50px;
}
#password_inputmiddle {
	float:left;
	background:url(../images/input_middle.png) repeat-x;
	width:276px;
	height:50px;
}
#password_inputright {
	float:left;
	background:url(../images/input_right.png) no-repeat;
	width:12px;
	height:50px;
}
#url_password {
	display:block;
	position:absolute;
	margin-top:-32px;
	float:left;
	margin-left:4px;
}
#submit{
	float:left;
	position:relative;
	padding:0;
	margin-top:160px;
	margin-left:25px;
	width:300px;
	height:40px;
	border:0;
}
#submit1 {
	position:absolute;
	z-index: 10;
	border:0;
}
#submit2 {
	position:absolute;
	margin-top:0px;
	border:0;
}
#links_left{
	float:left;
	position:relative;
	padding-top:5px;
	margin-left:25px;
}
#links_left a{
	color:#bbb;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}
#links_left a:hover{
	color:#292929;
}
#links_right{
	float:right;
	position:relative;
	padding-top:5px;
	margin-right:25px;
}
#links_right a{
	color:#bbb;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}
#links_right a:hover{
	color:#292929;
}
#powered{
	float:right;
	position:relative;
	padding-top:3px;
	margin-right:5px;
	font-size:11px;
}
#powered a{
	color:#aaa;
	font-size:11px;
	text-decoration:none;
	transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-o-transition: color 0.5s linear;
}
#powered a:hover{
	color:#292929;
}
.btn{
	padding:3px 10px 3px 10px;
}
.btn:hover{
	cursor:pointer;
	color:#F00;
}
/* Dinh Dang Form Dang Tin Tuyen Dung */
#origin_setting .origin_page{margin-left: 100px;}
input[type="text"] {//font-size: 11px;//padding: 3px;}
.origin_setting input
{
	padding:3px;
}
textarea {
    font-size: 13px;
    padding: 3px;
}
.Mandatory {color: #CF2B2A;font-weight: bold;margin-left: 3px;}
.H200 {height: 200px;}
.W500 {width: 400px;}
.W400 {width: 400px;}
.W200 {width: 215px;}
h3 {
    border-bottom: 1px solid #C4CCE0;
    color: #0660AB;
    font-family: Arial !important;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0 0 12px;
    padding: 0 0 6px;
}
select {font-size: 13px;padding: 4px 1px;width: 225px;}
#tieude{
	width:400px;
	
}
#error{
	color:#F00;
	font-weight:bold;
}
.TableForm tr td{
	padding:10px;
}
.info {
float: left;
color: #000;
width: 35%;
}
.img{
	margin-right:300px;
	float:right;
}