
.TableGrid {border-collapse: collapse; width: 100%;}
.TableGrid tr th {vertical-align: top; text-align: left; padding: 0 6px 9px 6px; white-space: nowrap; color: #CF2B2A; border-bottom: 1px solid #C4CCE0; font-family: Arial !important; font-size: 14px; font-weight: normal;background-color: #FFFFFF;}
.TableGrid tr td {padding: 9px 6px 9px 6px; vertical-align: top; border-bottom: 1px solid #E3E3E3;}
.TableGrid tr.Odd td {background: #FFFFFF;}
.TableGrid tr.Even td {}
.TableGrid tr td{//background-color: #ffffff;}
.TableGrid tr:hover td {background: #D7FFEB; border-bottom: 1px solid #C4CCE0;}
.TableGrid tr td a.NormalEmployer {color: #505050;}
.TableGrid tr td a.VipEmployer {color: #1155CC;}
.TableGrid tr td span.NormalSeeker {color: #505050;}
.TableGrid tr td span.VipSeeker {color: #1155CC;}
.TableGrid tr td a.NormalJob {}
.TableGrid tr td a.FocusJob {color: #B44443; text-decoration: underline;}
.tr_two{
	background:#F4F4F4;
}
.sub{
	padding-left:20px;
}
.table_admin{
	padding-left:20px;
}
.daduyet{
	background: none repeat scroll 0 0 #00CC66;
border-radius: 3px 3px 3px 3px;
color: #FFFFFF;
display: inline-block;
padding: 1px 4px 2px;
white-space: nowrap;
text-decoration:none
}
.chuaduyet{
	background: none repeat scroll 0 0 #E02B54;
border-radius: 3px 3px 3px 3px;
color: #FFFFFF;
display: inline-block;
padding: 1px 4px 2px;
white-space: nowrap;
text-decoration:none
}
.chuaduyet:hover{
	color:#000;
}