/* CSS Document */
/*
background:#CCDAF9;
*/
body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	margin:5px;
	overflow-y:scroll;
	}
td,th,p,*{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
a{
	text-decoration:none;
	color:#003366;
	}
a:hover{
	color:#ee0000;
	text-decoration:none;
	}
a:active{}
img,a img{ border:0px;}

.break{clear:both;}
.inputbox{border:1px solid #9EA7F8;}
.pointer{cursor:pointer;}
input.button, button.button{
	background:#FFF;
    border: 1px solid #9EA7F8;
    border-radius: 5px 5px 5px 5px;
    color: #003366 !important;
    padding: 1px 7px !important;
    text-decoration: none;
	cursor:pointer;
	}
fieldset{ border:1px solid #9EA7F8; padding:7px; margin:5px 0;}
fieldset legend{
	font-weight:bold;
	color:#003366;
	padding:0 5px 0 5px;
	}
select option.level_0{
}
select option.level_1{
	color:#444;
}
select option.level_2, select option.level_3, select option.level_4{
	color:#666;
	font-style:italic;
}

/* */

#primary{
	width:100%;
	margin:0 auto;
	min-width:800px;
	}
#page{
	}
#header{
	padding:0px 0px 0px 0px;
	height:50px;
	background:#CCDAF9;
	}
#header div.logo{float:left; padding:5px 0 0 5px;}

#header div.title{
	font-size:18px;
	text-transform:uppercase;
	float:left;
	height:50px;
	line-height:50px;
	vertical-align:middle;
	font-weight:bold;
	padding-left:20px;
	color:#FFFFFF;
	}
#header div.account{
	text-align:right;
	padding:10px 30px 0 0;
	}
#left{
	/*width:210px;*/
	/*float:left;*/
	}
#left .left-inner{
	}
#body{
	border:1px solid #CCDAF9;
	border-right:1px solid #CCDAF9;
}
#body .body-inner{
	padding-left:10px;
	padding-right:10px;
	}
#content{
	min-height:300px;
	/*float:right;*/
	text-align:left;
	margin-left:10px;
	}
#bottom{
	height:30px;
	line-height:30px;
	vertical-align:middle;
	clear:both;
	text-align:center;
	vertical-align:middle;
	background:#CCDAF9;
	}
	
#mce_fullscreen_tbl{
	position:absolute;
	top:0;
	left:0;
	}
