/* CSS-layout Document */
/* background:#CCDAF9 */

/* adminList */
/* 9EA7F8 */
div.adminListTop{
	padding:4px;
	border:1px solid #9EA7F8;
	margin-bottom:5px;
	background:#f3f6fc;
}
div.adminListTop select{
	max-width:350px;
}
table.adminList{
	border-top:1px solid #9EA7F8;
	border-left:1px solid #9EA7F8;
	border-collapse:collapse;
	width:100%;
}
table.adminList thead{background:#CCDAF9}
table.adminList tr td, table.adminList thead th{
	border-bottom:1px solid #9EA7F8;
	border-right:1px solid #9EA7F8;
	margin:0;
	padding:3px;
}
table.adminList tr.r1{
	/*background:#f2f2f2;*/
	background:#e6edfa;
	}
table.adminList tr.r0:hover,table.adminList tr.r1:hover{ 
	background:#e0e0e0;
	color:#0f577c;
	}
table.adminList tr.mark{
	background:#f8d7cb;
	}
table.adminList tr.highlight td, table.adminList tr.highlight td a{
	color:#FF0000;
	}
table.adminList thead th{text-align:center;}
table.adminList input.order{text-align:center;}
/* box */
.gbox{
	background:#f3f6fc;
	border:1px solid #9EA7F8;
	padding:5px;
	}
/* menu */
#left .blocktitle{
	background:#CCDAF9;
	font-weight:bold;
	height:25px;
	line-height:25px;
	border:1px solid #9EA7F8;
	margin-bottom:3px;
	color:#003366;
	text-transform:uppercase;
	text-align:center;
}

#left .pane-sliders .panel,#left div.nocontent { border: 1px solid #9EA7F8; margin-bottom: 2px; background:#CCDAF9 !important;}
#left ul.menu ul.parent{
	margin:0;
	padding:0;
	list-style:none;
	margin-top:5px;
	}
#left .pane-toggler  span a, #left .pane-toggler-down span a{
	width:185px; 
	height:25px; 
	line-height:25px; 
	vertical-align:middle; 
	padding-left:22px;
	margin-left:3px;
	font-weight:normal !important;
	clear:both;
	
	}
#left div.nocontent a{padding-left:22px;}
#left div.nocontent{
	height:25px; 
	line-height:25px; 
	vertical-align:middle;
	padding-left:3px;
}
#left .pane-toggler  span, #left .pane-toggler-down span{width:100%; padding:0 !important;}
#left .pane-toggler{ background: url(../images/arrow01.png) right 50% no-repeat !important;}
#left .pane-toggler-down{ background: url(../images/arrow01_down.png) right 50% no-repeat !important; border-bottom:none;}
#left .pane-sliders .panel h3{margin:0 !important; padding:0!important;   }
#left .pane-sliders .panel ul.parent{
	list-style:none;
	margin:0;
	padding:0;
	}
#left .pane-sliders .panel ul.parent li{
	margin-left:0;
	padding-left:27px;
	border:none;
	padding-top:0;
	padding-bottom:0;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	background:url(../images/tree_bg.png) no-repeat left;
	margin:0;

}
#left .pane-sliders .panel ul.parent li.last{
	background:url(../images/tree_last.png) no-repeat left;
	}
#left .pane-sliders .content{
	background:#CCDAF9 !important;
}
#left .nonecontent{display:none !important;}
.modheading{
	font-size:14px;
	font-weight:bold;
	color:#003366;
	margin:0px 0 15px;
	}
/* home */
table.controlpanel tr td{
	border:1px solid #FFFFFF;
	}
table.controlpanel tr td:hover{
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #eeeeee;
	border-top:1px solid #eeeeee;
	}
/* media */
div.media div.current_f{
	margin-bottom:2px;
	border:1px solid #9EA7F8;
	padding:5px;
	background:#f3f6fc;
	}
div.media div.content{
	border:1px solid #9EA7F8;
	padding:5px;
}
div.media ul{
	list-style:none;
	margin:0;
	padding:0;
	}
div.media ul li{
	float:left;
	width:85px;
	text-align:center;
	border:1px solid #CCCCCC;
	margin-left:2px;
	margin-bottom:2px;
	
	}
div.media ul li:hover{
	/*border:1px solid #999999;*/
	}
div.media ul li .thumb{
	height:52px;
	width:48px;
	margin:0 auto;
	margin-top:5px;
	text-align:center;
	cursor:pointer;
	}
div.media ul li .info, div.media ul li .info a{
	font-size:10px !important;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	text-transform:lowercase;
	}
div.media ul li img.icon{margin-top:10px;}
div.media ul li .action{
	position:absolute;
	}
/* editor bottom */
div.editor_bt_bottom{
	margin-top:2px;
	clear:both;
}
div.editor_bt_bottom a{
	float:left;
	height:17px;
	line-height:17px;
	vertical-align:middle;
	padding:2px 10px;
	border: 1px solid #9EA7F8;
	background:#f3f6fc;
}
div.mbt_bar{
	text-align:right;
	margin-bottom:5px;
}
/* user */
.usercontent .loginform{
	width:350px;
	border:1px solid #9EA7F8;
	padding:20px;
	background:#f3f6fc;
	margin:0 auto;
	margin-top:30px;
}
div.useronline{
	color:#333;
	padding:5px;
	padding-left:20px;
	font-style:italic;
	background:url(../images/users.gif) no-repeat left;
	margin-left:10px;
}
.note{
	color:#666;
	font-style:italic;
}


	
	
