/* CSS-layout Document */
/* ToolBar Icon */
#main-toolbar{
	padding:3px 20px 0 10px;
	margin:10px 0px 10px 0px;
	clear:both;
	height:55px;
	background:#f3f6fc;
	border:1px solid #9EA7F8;
	}
#main-toolbar .texthead{
	float:left;
	font-size:20px;
	font-weight:bold;
	padding-top:10px;
	padding-left:55px;
	background-repeat:no-repeat !important;
	background-position:left;
	height:48px;
}
#main-toolbar .icons{
	text-align:center;
	color:#000099;
	width:40px;
	cursor: pointer;
	float:right;
	display:inline;
	margin:3px 5px 0px 5px;
	padding-top:1px;
	border:1px solid #f3f6fc;
	}
#main-toolbar .icons:hover{
	border-top:1px solid #E2E2E2;
	border-left:1px solid #E2E2E2;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	}
#main-toolbar .icons .icon{
	width:38px;
	height:32px;
	}
#main-toolbar .icons .save{
	background:url(../images/toolbar/save.png) no-repeat top center;
	}
#main-toolbar .icons .cancel{
	background:url(../images/toolbar/cancel.png) no-repeat top center;
	}
#main-toolbar .icons .delete{
	background:url(../images/toolbar/delete.png) no-repeat top center;
	}
#main-toolbar .icons .new{
	background:url(../images/toolbar/new.png) no-repeat top center;
	}
#main-toolbar .icons .edit{
	background:url(../images/toolbar/edit.png) no-repeat top center;
	}
#main-toolbar .icons .preview{
	background:url(../images/toolbar/preview.png) no-repeat top center;
	}
#main-toolbar .icons .search{
	background:url(../images/toolbar/search.png) no-repeat top center;
	}
#main-toolbar .icons .enable{
	background:url(../images/toolbar/enable.png) no-repeat top center;
	}
#main-toolbar .icons .disable{
	background:url(../images/toolbar/disable.png) no-repeat top center;
	}
#main-toolbar .icons .apply{
	background:url(../images/toolbar/apply.png) no-repeat top center;
	}
#main-toolbar .icons .back{
	background:url(../images/toolbar/back.png) no-repeat top center;
	}
#main-toolbar .icons .copy{
	background:url(../images/toolbar/copy.png) no-repeat top center;
	}

/* end icon*/
