/* CSS-layout Document */
/* ToolBar Icon */
#main-toolbar{
	padding:3px 10px 0 10px;
	margin:10px 0px 10px 0px;
	clear:both;
	height:35px;
	background:#f3f6fc;
	border:1px solid #9EA7F8;
	}
#main-toolbar .texthead{
	float:left;
	color:#003366;
	font-size:18px;
	font-weight:bold;
	padding-left:40px;
	background-repeat:no-repeat !important;
	background-position:left;
	height:32px;
	line-height:32px;
	vertical-align:middle;
}
#main-toolbar .icons{
	text-align:center;
	color:#003366;
	width:auto;
	white-space:nowrap;
	cursor: pointer;
	float:right;
	display:inline;
	margin:4px 0px 0px 5px;
	padding:2px 5px;
	/*border:1px solid #f3f6fc; */
	border:1px solid #CCDAF9;
	background:#ffffff;
	}
#main-toolbar .icons:hover{
	/*border-top:1px solid #E2E2E2;
	border-left:1px solid #E2E2E2;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;*/
	margin-top:3px;
	color:#FF0000;
	}
#main-toolbar .icons .icon{
	height:20px;
	padding-left:23px;
	padding-right:2px;
	font-size:13px;
	vertical-align:middle;
	line-height:20px;
	}
#main-toolbar .icons .save{
	background:url(../images/toolbar/save.png) no-repeat top left;
	}
#main-toolbar .icons .savedraft{
	background:url(../images/toolbar/savedraft.png) no-repeat top left;
	}
#main-toolbar .icons .cancel{
	background:url(../images/toolbar/cancel.png) no-repeat top left;
	}
#main-toolbar .icons .delete{
	background:url(../images/toolbar/delete.png) no-repeat top left;
	}
#main-toolbar .icons .new{
	background:url(../images/toolbar/new.png) no-repeat top left;
	}
#main-toolbar .icons .edit{
	background:url(../images/toolbar/edit.png) no-repeat top left;
	}
#main-toolbar .icons .preview{
	background:url(../images/toolbar/preview.png) no-repeat top left;
	}
#main-toolbar .icons .search{
	background:url(../images/toolbar/search.png) no-repeat top left;
	}
#main-toolbar .icons .enable{
	background:url(../images/toolbar/enable.png) no-repeat top left;
	}
#main-toolbar .icons .disable{
	background:url(../images/toolbar/disable.png) no-repeat top left;
	}
#main-toolbar .icons .apply{
	background:url(../images/toolbar/apply.png) no-repeat top left;
	}
#main-toolbar .icons .copy{
	background:url(../images/toolbar/copy.png) no-repeat top left;
	}
#main-toolbar .icons .back{
	background:url(../images/toolbar/back.png) no-repeat top left;
	}
#main-toolbar .icons .next{
	background:url(../images/toolbar/next.png) no-repeat top left;
	}
#main-toolbar .icons .up{
	background:url(../images/toolbar/up.png) no-repeat top left;
	}
#main-toolbar .icons .down{
	background:url(../images/toolbar/down.png) no-repeat top left;
	}
#main-toolbar .icons .home{
	background:url(../images/toolbar/home.png) no-repeat top left;
	}
#main-toolbar .icons .cpanel{
	background:url(../images/toolbar/cpanel.png) no-repeat top left;
	}
#main-toolbar .icons .setting{
	background:url(../images/toolbar/setting.png) no-repeat top left;
	}
#main-toolbar .icons .help{
	background:url(../images/toolbar/help.png) no-repeat top left;
	}
#main-toolbar .icons .lock{
	background:url(../images/toolbar/lock.png) no-repeat top left;
	}
#main-toolbar .icons .unlock{
	background:url(../images/toolbar/unlock.png) no-repeat top left;
	}
#main-toolbar .icons .print{
	background:url(../images/toolbar/print.png) no-repeat top left;
	}
#main-toolbar .icons .xls{
	background:url(../images/toolbar/xls.png) no-repeat top left;
	}
#main-toolbar .icons .params{
	background:url(../images/toolbar/params.png) no-repeat top left;
	}
#main-toolbar .icons .install{
	background:url(../images/toolbar/install.png) no-repeat top left;
	}
#main-toolbar .icons .refresh{
	background:url(../images/toolbar/refresh.png) no-repeat top left;
	}
#main-toolbar .icons .move{
	background:url(../images/toolbar/move.png) no-repeat top left;
	}
	/* end icon*/
