/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
.articlecontent .detail .info{
	color:#666;
	font-style:italic;
	float:left;
}
.articlecontent .detail .icons{
	float:right;
	margin-right:20px;
}
.articlecontent .detail .bookmark{
	float:right;
}
/* category */
.articlecontent .categoryBlog h4{
	color:#3366cc;
	margin:0;
	text-transform:uppercase;
	font-size:12px;
}
.articlecontent .categoryBlog p{
	margin-top:5px;
}
.articlecontent .categoryBlog a.more{
	color:#3366cc;
	font-size:11px;
	font-style:italic;
}
.articlecontent .categoryBlog div.thumb{
}.articlecontent .categoryBlog td.thumb{
	vertical-align:top;
}
.articlecontent .categoryBlog div.thumb img{
	margin-top:8px;
}
