@charset "utf-8";
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#363636;
	line-height:1.3;
}
a img:hover{
	opacity:0.8;
}
.break{
	clear:both;
}
#main{
	margin:0 auto;
	width:806px;
}
#main img:hover{
	opacity:0.8;
}
.footer{
	width:806px;
	margin:0 auto;
}
.footer img{ cursor:pointer;}
.footer img:hover{
	opacity:0.6;
}
#main .item{
	margin-bottom:15px;
	cursor:pointer;
	text-align:center;
}
.tabitem{
	width:808px;
	margin:0 auto;
}

/* Tab 1 */
.tab1 .left{
	width:48.2%;
	float:left;
}
.tab1 .right{
	width:48.2%;
	float:right;
}
.tab1 .c1, .tab1 .c2,.tab1 .c3{
	background:#ebebeb;
	margin-top:3px;
}
 .tab1 .c2,.tab1 .c3{
	 padding-left:20px;
	 padding-right:20px;
 }
.tab1 .c1{
	height:195px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.tab1 .c1 > div{
	text-align:center;
	padding-top:15px;
}
.tab1 .c1 > span, .tab3 .discount{
	position:absolute;
	width:90px;
	line-height:45px;
	vertical-align:middle;
	text-align:center;
	height:46px;
	background:url(http://nsp.com.vn/event/fnet/2014-facebook/images/discount.png) no-repeat;
	font-size:28px;
	font-weight:bold;
	color:#FFF;
	margin-top:-10px;
	margin-left:280px;
	z-index:999;
}
.tab1 .c1 > span i, .tab3 .discount i{
	font-size:15px;
	font-weight:normal;
	font-style:normal;
}
.tab1 .c2{
	height:80px;
}
.tab1 .c2 h4{
	margin:0 0 5px 0;
	padding:15px 0 0 0;
	font-size:17px;
	font-weight:bold;
	text-transform:uppercase;
	color:#6d6e71;
}
.tab1 .c2 .price{
	font-size:25px;
	color:#ff0505;
	font-weight:bold;
	float:left;
}
.tab1 .c2 del{
	float:right;
	color:#6d6e71;
	margin-top:10px;
}
.tab1 .c3{
	min-height:195px;
	padding-top:15px;
}
.tab1 .c3 p{
	margin:0;
	line-height:1.5;
	min-height:140px;
}
.tab1 .c3 a.button{
	float:right;
	width:80px; line-height:29px;
	height:29px;
	color:#363636;
	border:1px solid #363636;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	border-radius:4px;
}
.tab1 .c3 a.button:hover{
	background:#FFF;
}
.tab1 .bt, .tab2 .bt, .tab3 .bt{
	height:35px;
	padding-top:15px;
}

.tab1 .bt .note, .tab2 .bt .note, .tab3 .bt .note{ 
	float:left;
	font-style:italic;
	font-size:11px;
}
.tab1 .bt span, .tab2 .bt span, .tab3 .bt span{
	color:#ff0000;
}
.tab1 .bt .hotline, .tab2 .bt .hotline, .tab3 .bt .hotline{
	float:right;
}
.tab1 .bt .hotline, .tab2 .bt .hotline, .tab3 .bt .hotline{
	color:#6d6e71;
	font-weight:bold;
}
/* tab 2 */
.tab2 .content, .tab3 .content{
	background:#f3f3f3;
	border-radius:10px;
	
}
.tab2 .content{
	padding:10px 30px 10px 0;
}

.tab2 .content .inner{
	background:#f3f3f3 url(http://nsp.com.vn/event/fnet/2014-facebook/images/2-bg.jpg) no-repeat 0 50px;
	padding-left:315px;
	}
.tab2 h3{
	font-weight:bold;
	font-size:21px;
	color:#1a386a;
	text-transform:uppercase;
	line-height:1.5;
}
.tab2 .content p{
	line-height:1.6;
}
.tab2 .more, .tab3 .more{
	text-align:center;
	margin-top:25px;
}
.tab2 .more a, .tab3 .more a{
	text-decoration:underline;
	color:#ff0000;
	font-weight:bold;
	text-transform:uppercase;
	font-size:15px;
}
.tab2 .more a:hover, .tab3 .more a:hover{
	color:#333;
}
hr{
	border:none;
	border-bottom:1px solid #CCC;
}
.tab2 .hotline{ text-align:right;}

/* tab 3*/

.tab3 .discount{
	margin-left:680px;
}
.tab3 .left{
	width:38%;
	float:left;
	text-align:center;
}
.tab3 .right{
	width:56%;
	float:right;
	padding-right:35px;
}
.tab3 h3{
	color:#ffc20e;
	font-size:25px;
	margin-top:5px;
	margin-bottom:15px;
}
.tab3 .price{
	height:54px;
	border-bottom:2px solid #CCC;
}
.tab3 .price span{
	color:#ff0000;
	font-size:25px;
	font-weight:bold;
	float:left;
}
.tab3 .price del{
	float:right;
	color:#434343;
	font-size:17px;
	margin-top:10px;
}
.tab3 .more{text-align:left;}
.tab3 p{
	line-height:1.6;
}
	
	
	

	