s:638:"<div class="block"><div class="b-inner"><link rel=stylesheet type=text/css href="/congnghevacuocsong/blocks/search/theme/style.css"><div class="b-content"><div class="b-search">
<form action="index.php" method="get">
    <input type="text" name="k" value="P/N, Product name..." class="inputbox-2" maxlength="100" onblur="if(this.value=='') this.value='P/N, Product name...';" onfocus="if(this.value=='P/N, Product name...') this.value='';" /> <input class="button" type="submit" value="" />
    <input type="hidden" name="m" value="photo" />
    <input type="hidden" name="t" value="search" />
</form>

</div>
</div>
</div></div>
";