s:1151:"<div class="block"><div class="b-inner"><link rel=stylesheet type=text/css href="/congnghevacuocsong/blocks/search/theme/style.css"><div class="b-content">
Deprecated: Non-static method Block::getThemePath() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/search/search.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 3

Deprecated: Non-static method Language::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/search/theme/default.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 3
<div class="b-search">
<form action="index.php" method="get">
    <input type="text" name="k" value="Tìm kiếm..." class="inputbox-2" maxlength="100" onblur="if(this.value=='') this.value='Tìm kiếm...';" onfocus="if(this.value=='Tìm kiếm...') this.value='';" /> <input class="button" type="submit" value="" />
    <input type="hidden" name="m" value="photo" />
    <input type="hidden" name="t" value="search" />
</form>

</div>
</div>
</div></div>
";