s:23754:"<div class="block blstyle1"><div class="b-inner"><h3>Ảnh triển lãm</h3>
<link rel=stylesheet type=text/css href="/congnghevacuocsong/blocks/photo_1/theme/style.css"><div class="b-content">
Deprecated: Non-static method Module::loadConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 3

Deprecated: Non-static method ModConfig::load() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 70

Deprecated: Non-static method ModConfig::pathConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 10

Deprecated: Non-static method ModConfig::_loadFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 11

Deprecated: Non-static method ModConfig::_getConfigFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 53

Deprecated: Non-static method Module::_getID() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Deprecated: Non-static method Module::_getDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 104

Deprecated: Non-static method Table::tablePathFile() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31

Deprecated: Non-static method Table::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 32

Deprecated: Non-static method Table::tablePathFile() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/table.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 14

Warning: Creating default object from empty value in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.tbl/photo_config.tbl(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code(29) : eval()'d code on line 1

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 8

Strict Standards: Only variables should be assigned by reference in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 8

Deprecated: Non-static method Module::tmpl() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 5

Deprecated: Non-static method Module::getTmplPath() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 87

Deprecated: Non-static method Block::getThemePath() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 14

Deprecated: Non-static method Module::loadCss() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 4
<table cellpadding="0" cellspacing="5" border="0" class="photoList2 photoList" width="100%">
<tr>

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/cung-toa-sang-1770.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/CUNG-TOA-SANG.jpg&ftsize=1" alt="CÙNG TOẢ SÁNG" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
CÙNG TOẢ SÁNG</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
dohuutuan</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/phu-song-vung-cao-248.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/PHU-SONG.jpg&ftsize=1" alt="PHỦ SÓNG VÙNG CAO" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
PHỦ SÓNG VÙNG CAO</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
TRƯƠNG ĐÌNH HÙNG</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/mua-vang-671.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/Mua-vang-.jpg&ftsize=1" alt="Mùa Vàng" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Mùa Vàng</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Nguyễn Xuân Hãn</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/lap-rap-nha-tien-che-1071.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/46801.jpg&ftsize=1" alt="Lắp ráp nhà tiền chế" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Lắp ráp nhà tiền chế</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Nguyễn Thanh Dũng</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    </tr><tr><td colspan="4"><hr size="1" /></td></tr><tr>
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/mua-vang-1121.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/mua-vang.jpg&ftsize=1" alt="Mùa vàng" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Mùa vàng</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Võ thị Bạch Yến</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/cong-nghe-va-cuoc-song-1519.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/3812NVT_8086.jpg&ftsize=1" alt="THIẾT BỊ Y TẾ CÔNG NGHỆ CAO" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
THIẾT BỊ Y TẾ CÔNG NGHỆ CAO</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Nguyễn Văn Thương</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/nguon-sang-moi-1570.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/nguon-sang-moi.jpg&ftsize=1" alt="Nguồn sáng mới" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Nguồn sáng mới</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
LÊ MINH QUÁT</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/xay-dung-tren-cao-1702.html"><img src="/congnghevacuocsong/get_image.php?w=225&h=225&fn=photo/5-Xay-dung-tren-cao-.jpg&ftsize=1" alt="XÂY DỰNG TRÊN CAO" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
XÂY DỰNG TRÊN CAO</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
LẠI  KHÁNH...</span>
            <span class="view">Triển lãm</span>
        </div>
    </div>
	</td>
    </tr><tr><td colspan="4"><hr size="1" /></td></tr><tr></tr></table>
<script language="javascript">
$(document).ready(function(){
	$('.photoList .item').hover(
		function(){$(this).children('.info').slideDown(300);},
		function(){$(this).children('.info').slideUp(500);}
	);
});
</script>
<style type="text/css">
.photoList2 .item{
	width:225px !important;
	height:225px !important;
	margin:0 auto;
}
.photoList2 .item .info{
	width:225px !important;
}
</style>





		
	
<div align="right"><a class="readmore" href="anh-trien-lam.html">Xem tất cả »</a></div></div>
</div></div>
";