s:19260:"<div class="block blstyle1"><div class="b-inner"><h3>Ảnh đoạt giải</h3>
<link rel=stylesheet type=text/css href="/congnghevacuocsong/blocks/photo_1/theme/style.css"><div class="b-content">
Deprecated: Non-static method Module::loadConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 3

Deprecated: Non-static method ModConfig::load() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 70

Deprecated: Non-static method ModConfig::pathConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 10

Deprecated: Non-static method ModConfig::_loadFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 11

Deprecated: Non-static method ModConfig::_getConfigFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 53

Deprecated: Non-static method Module::_getID() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Deprecated: Non-static method Module::_getDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 104

Deprecated: Non-static method Table::tablePathFile() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31

Deprecated: Non-static method Table::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 32

Deprecated: Non-static method Table::tablePathFile() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/table.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 14

Warning: Creating default object from empty value in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.tbl/photo_config.tbl(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code(29) : eval()'d code on line 1

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 8

Strict Standards: Only variables should be assigned by reference in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 8

Deprecated: Non-static method Module::tmpl() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 5

Deprecated: Non-static method Module::getTmplPath() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 87

Deprecated: Non-static method Block::getThemePath() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo_1/photo_1.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 14

Deprecated: Non-static method Module::loadCss() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 4
<table cellpadding="0" cellspacing="5" border="0" class="photoList1 photoList" width="100%">
<tr>

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/chuyen-giao-cong-nghe-moi-147.html"><img src="/congnghevacuocsong/get_image.php?w=305&h=305&fn=photo/Chuyen-giao-cong-nghe-moi.jpg&ftsize=1" alt="Chuyển giao công nghệ mới" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Chuyển giao công nghệ mới</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Bùi Viết Đồng</span>
            <span class="view">Giải nhất</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/dung-truoc-bien-1782.html"><img src="/congnghevacuocsong/get_image.php?w=305&h=305&fn=photo/DSC_0402-copy.jpg&ftsize=1" alt="ĐỨNG TRƯỚC BIỂN" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
ĐỨNG TRƯỚC BIỂN</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
NGÔ ĐÌNH HÒA</span>
            <span class="view">Giải nhì</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/tren-nuong-1626.html"><img src="/congnghevacuocsong/get_image.php?w=305&h=305&fn=photo/tren-nuong.jpg&ftsize=1" alt="Trên nương" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Trên nương</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
tran thiet dung</span>
            <span class="view">Giải nhì</span>
        </div>
    </div>
	</td>
    </tr><tr><td colspan="3"><hr size="1" /></td></tr><tr>
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/bao-dam-an-toan-hang-hai-702.html"><img src="/congnghevacuocsong/get_image.php?w=305&h=305&fn=photo/HangHaiVN_11.jpg&ftsize=1" alt="Bảo đảm an toàn hàng hải" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Bảo đảm an toàn hàng hải</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Lê Anh Tuấn</span>
            <span class="view">Giải ba</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/bep-am-song-que-1852.html"><img src="/congnghevacuocsong/get_image.php?w=305&h=305&fn=photo/_MG_0041-copy-2.jpg&ftsize=1" alt="Bếp Ấm Sông Quê" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Bếp Ấm Sông Quê</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Lâm Chiêu</span>
            <span class="view">Giải ba</span>
        </div>
    </div>
	</td>
    
Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 15

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40
	
	<td  valign="middle" align="center">
    <div class="item">
        <div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/thoi-buoi-thong-tin-1539.html"><img src="/congnghevacuocsong/get_image.php?w=305&h=305&fn=photo/thoi-buoi-thong-tin.jpg&ftsize=1" alt="Thời buổi thông tin" class="imglink" /></a></div>
        <div class="info">
            <h5>
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 30
Thời buổi thông tin</h5>
            <span class="author">
Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/theme/modules/photo/html/photo.result.list2.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31
Nguyen Hoang Anh</span>
            <span class="view">Giải ba</span>
        </div>
    </div>
	</td>
    </tr><tr><td colspan="3"><hr size="1" /></td></tr><tr></tr></table>
<script language="javascript">
$(document).ready(function(){
	$('.photoList .item').hover(
		function(){$(this).children('.info').slideDown(300);},
		function(){$(this).children('.info').slideUp(500);}
	);
});
</script>
<style type="text/css">
.photoList1 .item{
	width:305px !important;
	height:305px !important;
	margin:0 auto;
}
.photoList1 .item .info{
	width:305px !important;
}
</style>





		
	
<div align="right"><a class="readmore" href="anh-doat-giai.html">Xem tất cả »</a></div></div>
</div></div>
";