s:2578:"<div class="blockslideshow"><div class="b-inner"><link rel=stylesheet type=text/css href="/congnghevacuocsong/blocks/imgslideshow/theme/style.css"><div class="b-content">
Deprecated: Non-static method Block::getThemePath() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/imgslideshow/imgslideshow.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 3
<div id="slider-wrapper">
	<div id="slider" class="nivoSlider" style="width:720px; height:330px;">
	
Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/imgslideshow/theme/default.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 11
<img src="http://nsp.com.vn/congnghevacuocsong/uploads/slideshow/Cuoc-thi-anh-NSP.jpg" title="" width="720" height="330" alt="" />

	</div>
</div>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        effect:'boxRain',
        slices:15,
        boxCols: 8,
        boxRows: 4,
        animSpeed:500,
        pauseTime:3000, 
        startSlide:0, 
        directionNav:false, 
        directionNavHide:true, // Only show on hover
        controlNav:false, 
        controlNavThumbs:false, // Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, // Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', // Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
        captionOpacity:0.8, 
        //keyboardNav:true, // Use left & right arrows
        //pauseOnHover:true, // Stop animation while hovering
        //manualAdvance:false, // Force manual transitions
       // beforeChange: function(){}, // Triggers before a slide transition
       // afterChange: function(){}, // Triggers after a slide transition
        //slideshowEnd: function(){}, // Triggers after all slides have been shown
        //lastSlide: function(){}, // Triggers when last slide is shown
        //afterLoad: function(){} // Triggers when slider has loaded
        prevText: 'Prev', // Prev directionNav text
        nextText: 'Next' // Next directionNav text
    });
});
</script>
<style type="text/css">
.nivo-caption {
	background:#6E6C70; color:#FFFFFF;
}
#slider {
	background:url('http://nsp.com.vn/congnghevacuocsong/uploads/slideshow/Cuoc-thi-anh-NSP.jpg') no-repeat 50% 50%;
}
</style>
</div>
</div></div>
";