s:23039:"<div class="block"><div class="b-inner"><h3>Ảnh mới nhất</h3>
<link rel=stylesheet type=text/css href="/congnghevacuocsong/blocks/photo/theme/style.css"><div class="b-content">
Deprecated: Non-static method Module::loadConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/photo.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 3

Deprecated: Non-static method ModConfig::load() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 70

Deprecated: Non-static method ModConfig::pathConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 10

Deprecated: Non-static method ModConfig::_loadFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 11

Deprecated: Non-static method ModConfig::_getConfigFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 53

Deprecated: Non-static method Module::_getID() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Deprecated: Non-static method Module::_getDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 104

Deprecated: Non-static method Table::tablePathFile() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 31

Deprecated: Non-static method Table::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 32

Deprecated: Non-static method Table::tablePathFile() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/table.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 14

Warning: Creating default object from empty value in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.tbl/photo_config.tbl(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code(29) : eval()'d code on line 1

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/photo.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 7

Strict Standards: Only variables should be assigned by reference in /home/nsp/public_html/congnghevacuocsong/blocks/photo/photo.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 7

Deprecated: Non-static method Module::loadConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.cmn/photo.cmn.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 49

Deprecated: Non-static method ModConfig::load() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 70

Deprecated: Non-static method ModConfig::pathConfig() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 10

Deprecated: Non-static method ModConfig::_loadFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 11

Deprecated: Non-static method ModConfig::_getConfigFromDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 53

Deprecated: Non-static method Module::_getID() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/classes/mod.cfg.class.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Deprecated: Non-static method Module::_getDB() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/module.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 104

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.cmn/photo.cmn.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 71

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.cmn/photo.cmn.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 71

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.cmn/photo.cmn.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 71

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.cmn/photo.cmn.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 71

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.cmn/photo.cmn.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 71

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Deprecated: Non-static method URI::seo() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/nspadmin/libraries/mod.cmn/photo.cmn.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 71

Deprecated: Non-static method Module::getCmn() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef.php on line 34

Deprecated: Non-static method SEF::analyticColon() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 16

Deprecated: Non-static method URI::getBase() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/common/sef/photo.seo.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 19

Deprecated: Non-static method Block::getThemePath() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/photo.index.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 6

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40

Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 26

Deprecated: Non-static method Date::toFormat() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Language::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Date::_strftime() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/import/date.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40

Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 26

Deprecated: Non-static method Date::toFormat() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Language::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Date::_strftime() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/import/date.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40

Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 26

Deprecated: Non-static method Date::toFormat() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Language::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Date::_strftime() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/import/date.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40

Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 26

Deprecated: Non-static method Date::toFormat() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Language::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Date::_strftime() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/import/date.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40

Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 26

Deprecated: Non-static method Date::toFormat() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Language::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Date::_strftime() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/import/date.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45

Strict Standards: Non-static method URI::getRoot() should not be called statically in /home/nsp/public_html/congnghevacuocsong/libraries/functions.php on line 40

Deprecated: Non-static method String::subword() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 26

Deprecated: Non-static method Date::toFormat() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Language::_() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/blocks/photo/theme/list.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 27

Deprecated: Non-static method Date::_strftime() should not be called statically, assuming $this from incompatible context in /home/nsp/public_html/congnghevacuocsong/libraries/import/date.php(1) : eval()'d code(1) : eval()'d code(1) : eval()'d code on line 45
<div id="b-photo-gallery-l-2"><table cellpadding="0" cellspacing="0" border="0" class="bPhotoList-1" width="100%"><tr><td  valign="middle" align="center"><div class="item"><div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/tranh-thu-1858.html"><img src="/congnghevacuocsong/get_image.php?w=70&h=70&fn=photo/tranh-thu8778.jpg&ftsize=1" alt="Tranh thủ" class="imglink" /></a></div><div class="info"><a href="/congnghevacuocsong/photo/xem-anh/tranh-thu-1858.html"><h5>Tranh thủ</h5></a><span class="post">Ngày gửi: <b>30/09/2013</b></span><br /><span class="view">Lượt xem: <b>607</b></span></div></div></td></tr><tr><td colspan="1"><hr size="1" /></td></tr><tr><td  valign="middle" align="center"><div class="item"><div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/tung-hung-nghe-thuat-dieu-khac-xu-ly-photoshop-1854.html"><img src="/congnghevacuocsong/get_image.php?w=70&h=70&fn=photo/1269302_345939835540464_1110675580_o.jpg&ftsize=1" alt="Tung hứng  điêu khắc -  Công nghệ xử lý photoshop" class="imglink" /></a></div><div class="info"><a href="/congnghevacuocsong/photo/xem-anh/tung-hung-nghe-thuat-dieu-khac-xu-ly-photoshop-1854.html"><h5>Tung hứng  điêu khắc - ...</h5></a><span class="post">Ngày gửi: <b>30/09/2013</b></span><br /><span class="view">Lượt xem: <b>653</b></span></div></div></td></tr><tr><td colspan="1"><hr size="1" /></td></tr><tr><td  valign="middle" align="center"><div class="item"><div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/cong-nghe-hut-sua-1855.html"><img src="/congnghevacuocsong/get_image.php?w=70&h=70&fn=photo/cong-nghe-hut-sua-.jpg&ftsize=1" alt="Công nghệ hút sữa" class="imglink" /></a></div><div class="info"><a href="/congnghevacuocsong/photo/xem-anh/cong-nghe-hut-sua-1855.html"><h5>Công nghệ hút sữa</h5></a><span class="post">Ngày gửi: <b>30/09/2013</b></span><br /><span class="view">Lượt xem: <b>606</b></span></div></div></td></tr><tr><td colspan="1"><hr size="1" /></td></tr><tr><td  valign="middle" align="center"><div class="item"><div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/lam-phang-duong-be-tong-1853.html"><img src="/congnghevacuocsong/get_image.php?w=70&h=70&fn=photo/4_01.jpg&ftsize=1" alt="Làm phẳng đường bê tông" class="imglink" /></a></div><div class="info"><a href="/congnghevacuocsong/photo/xem-anh/lam-phang-duong-be-tong-1853.html"><h5>Làm phẳng đường bê tông</h5></a><span class="post">Ngày gửi: <b>30/09/2013</b></span><br /><span class="view">Lượt xem: <b>557</b></span></div></div></td></tr><tr><td colspan="1"><hr size="1" /></td></tr><tr><td  valign="middle" align="center"><div class="item"><div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/bep-am-song-que-1852.html"><img src="/congnghevacuocsong/get_image.php?w=70&h=70&fn=photo/_MG_0041-copy-2.jpg&ftsize=1" alt="Bếp Ấm Sông Quê" class="imglink" /></a></div><div class="info"><a href="/congnghevacuocsong/photo/xem-anh/bep-am-song-que-1852.html"><h5>Bếp Ấm Sông Quê</h5></a><span class="post">Ngày gửi: <b>30/09/2013</b></span><br /><span class="view">Lượt xem: <b>800</b></span></div></div></td></tr><tr><td colspan="1"><hr size="1" /></td></tr><tr><td  valign="middle" align="center"><div class="item"><div class="thumb"><a href="/congnghevacuocsong/photo/xem-anh/thoa-suc-sang-tac-1851.html"><img src="/congnghevacuocsong/get_image.php?w=70&h=70&fn=photo/tudosangtac.jpg&ftsize=1" alt="Thỏa sức sáng tác" class="imglink" /></a></div><div class="info"><a href="/congnghevacuocsong/photo/xem-anh/thoa-suc-sang-tac-1851.html"><h5>Thỏa sức sáng tác</h5></a><span class="post">Ngày gửi: <b>30/09/2013</b></span><br /><span class="view">Lượt xem: <b>565</b></span></div></div></td></tr><tr><td colspan="1"><hr size="1" /></td></tr><tr></tr></table></div>
		
	
</div>
</div></div>
";