s:450:"<div class="blockte"><div class="b-inner"><div class="b-content"><p><a target="_blank" href="http://www.ampnetconnect.com.vn/newte/index.php"><img alt="Nhà tài trợ TE Connectivity" src="uploads/images/TE-Connectivity.jpg" border="0" /></a> <a target="_blank" href="http://vietrack.com.vn"></a></p>
<p><a target="_blank" href="http://vietrack.com.vn"><img src="uploads/images/Vietrack.jpg" alt="Vietrack" border="0" /></a></p></div>
</div></div>
";