/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
.home_news{
  padding:0;
  width:80%; 
  margin:0 auto;
}
.home_news .box_item_news{
  float: left;
  width: 45%;/*314*/
}
.home_news .box_item_last{
	float:right;
}
.home_news .box_item_news_last{margin-right:0; float:right;}
.home_news .box_item_news h3{
  color: #ff0000;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding-bottom:0;
  border-bottom:1px solid #000;
}
.home_news .box_item_news .description .item{
  background: url(images/icon_news.jpg) 0 3px no-repeat;
  padding: 0px 10px 0px 15px;
  font-size: 11px;
  margin-bottom:2px;
}

.home_news .box_item_news .description .item a{
  text-decoration: none;
  color: #FFFFFF;
  font-style:italic;
}

.home_news .box_item_news .description .item a:hover{
  text-decoration: underline;
  color: #FFFFFF;
}


.home_news .box_item_news .bottom_news{
  background: #138FCE url(images/bg_box_bottom.jpg) no-repeat;
  height: 5px;
  font-size: 3pt;

}