body {
    background: #121212;
}
::selection {
	background: #01C5FF;
}
::-moz-selection {
	background: #01C5FF;
}
::-webkit-scrollbar-track {
    background: #121212;
}
::-webkit-scrollbar-thumb {
	background: #F20646;
	border: 1px solid #E64A0F;
}
a,a:visited{
	color:#01C5FF;
}
header .info h1{
	color: #01C5FF;
}
header ul.menu li.logo{
	color:#01C5FF;
}
header ul.menu li a,header ul.menu li a:visited{
	background: #01C5FF;
}
section{
	color:#fff;
}
section#main{
	background: #E4E1E8;	
	border-top:3px solid #2185F3;
	border-bottom:3px solid #333;
}	
div.inner{
	background: #222;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;	
}
a.config{
	color:#473F52;
}
form div.container #copyurl{
	background: #F20646;
	text-shadow: 0 1px 0 #BC0537;
}
	form div.options{
		color:#fff;
		background: #151515;
		text-shadow: 0 1px 0 #000;		
	}
	section > h1{
		color:#01C5FF;
	}
	section#main{
		border-top:3px solid #01C5FF;
	}
footer a{
	color:#F20646;
	border-bottom-color: #121212;
}
footer a:hover{
	border-bottom-color: #01C5FF;
}	
.form label a{
	color:#01C5FF;
}	
.form .input:focus{
	border-color:#01C5FF;
	box-shadow:inset 1px 1px 3px #ccc,0 0 0 3px #FDDFD5;	
}	
.form .button-form {
	background:#01C5FF;
	border:1px solid #BF3E0D;
	box-shadow:inset 0 0 2px 1px #F59570;
}
	.form .button-form:hover {
		background:#F5926B;
	}
	.form .button-form:active {
		background:#CA410D;
		box-shadow:inset 0 0 2px 1px #7B2809;
	}
form div.options a.more-fields{
	background-color:#01C5FF;
	text-shadow:0 1px #BE3D0C;
}	
ul.list li .container a.link:hover{
	color:#01C5FF;
}
.half.blue{
	background:#01C5FF;
}
.half.blue a{
	color:#000;
}
#alert{
	  border: 1px solid #F8A585;
}
#alert .title {
	background:#01C5FF;    
    border-top: 1px solid #F8A585;
    box-shadow: 0 0 0 1px #CA410D, 0 2px 2px #999;
    text-shadow:0 2px 1px #CA410D;	
}	
.promotion b{
	color:#01C5FF;
}
