::selection {
	background: #F15A23;
}
::-moz-selection {
	background: #F15A23;
}
::-webkit-scrollbar-thumb {
	background: #F15A23;
	border: 1px solid #E64A0F;
}
a,a:visited{
	color: #F15A23;
}
header .info h1{
	color: #F15A23;
}
header ul.menu li.logo{
	color:#F15A23;
}
header ul.menu li a,header ul.menu li a:visited{
	background: #F15A23;
}
	section > h1{
		color:#F15A23;
	}
	section#main{
		border-top:3px solid #F15A23;
	}
footer a:hover{
	border-bottom-color: #F15A23;
}	
.form label a{
	color:#F15A23;
}	
.form .input:focus{
	border-color:#F15A23;
	box-shadow:inset 1px 1px 3px #ccc,0 0 0 3px #FDDFD5;	
}	
.form .button-form {
	background:#F15A23;
	border:1px solid #BF3E0D;
	box-shadow:inset 0 0 2px 1px #F59570;
}
	.form .button-form:hover {
		background:#F5926B;
	}
	.form .button-form:active {
		background:#CA410D;
		box-shadow:inset 0 0 2px 1px #7B2809;
	}
form div.container #copyurl{
	background:#F15A23;
	text-shadow: 0 1px 0 #C6400D;	
}	
form div.options a.more-fields{
	background-color:#F15A23;
	text-shadow:0 1px #BE3D0C;
}	
ul.list li .container a.link:hover{
	color:#F15A23;
}
.half.blue{
	background:#F15A23;
}
.half.blue a{
	color:#000;
}
#alert{
	  border: 1px solid #fff;
}
#alert .title {
	background:#F15A23;    
    border-top: 1px solid #F8A585;
    box-shadow: 0 0 0 1px #CA410D, 0 2px 2px #999;
    text-shadow:0 2px 1px #CA410D;	
}	
a.fulllink{
	background:#F15A23; 
	color:#fff;
}
.promotion b{
	color:#F15A23;
}
.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active { background: #F8A585;  }
.ui-widget-content { border: 1px solid #F8A585; background: #F15A23; color:#fff; }