::selection {
	background: #DE1051;
}
::-moz-selection {
	background: #DE1051;
}
::-webkit-scrollbar-thumb {
	background: #DE1051;
	border: 1px solid #AC0D41;
}
a,a:visited{
	color: #DE1051;
}
header .info h1{
	color: #DE1051;
}
header ul.menu li.logo{
	color:#DE1051;
}
header ul.menu li a,header ul.menu li a:visited{
	background: #DE1051;
}
	section > h1{
		color:#DE1051;
	}
	section#main{
		border-top:3px solid #DE1051;
	}
footer a:hover{
	border-bottom-color: #DE1051;
}	
.form label a{
	color:#DE1051;
}	
.form .input:focus{
	border-color:#DE1051;
	box-shadow:inset 1px 1px 3px #ccc,0 0 0 3px #FEEBF1;	
}	
.form .button-form {
	background:#DE1051;
	border:1px solid #A30C3D;
	box-shadow:inset 0 0 2px 1px #FABCD0;
}
	.form .button-form:hover {
		background:#F02869;
	}
	.form .button-form:active {
		background:#990B39;
		box-shadow:inset 0 0 2px 1px #77092D;
	}
form div.container #copyurl{
	background:#DE1051;
	text-shadow: 0 1px 0 #930B37;	
}	
form div.options a.more-fields{
	background-color:#DE1051;
	text-shadow:0 1px #9C0C3A;
}	
ul.list li .container a.link:hover{
	color:#DE1051;
}
.half.blue{
	background:#DE1051;
}
.half.blue a{
	color:#000;
}
#alert{
	  border: 1px solid #fff;
}
#alert .title {
	background:#DE1051;    
    border-top: 1px solid #F78AAD;
    box-shadow: 0 0 0 1px #DE1051, 0 2px 2px #999;
    text-shadow:0 2px 1px #810A30;	
}	
a.fulllink{
	background:#DE1051; 
	color:#fff;
}
.promotion b{
	color:#DE1051;
}
.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active { background: #F8A585;  }
.ui-widget-content { border: 1px solid #F8A585; background: #DE1051; color:#fff; }