/*
	Reset
*/
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
input,textarea,select{
	outline: none;
}
h1,h2,h3,h4{
	clear: both;
}
/*
	General Styles
*/
body {
    background: #fff;
    font-family: Helvetica, "Arial Rounded MT Bold", Arial;
	width: 960px;
    margin: 0 auto;
    max-width: 98%; 
}
::selection {
	background: #2185F3;
	color:#fff;
 }
::-moz-selection {
	background: #2185F3;
	color:#fff;	
}
::-webkit-scrollbar {
	width: 10px;
	border: none;
}

::-webkit-scrollbar-track {
	background: transparent;
	border: none;
}

::-webkit-scrollbar-thumb {
	background: #2185F3;
	border: 1px solid #0A55A9;
}
a,a:visited{
	color: #2185F3;
	text-decoration:none;
}
a:hover{
	color: #000;
}
h2{
	color: #666;
	border-bottom: 1px dotted #666;
	padding-bottom: 5px;
}
.clear{
	clear: both;
	display: block;
}
.hide{
	display: none;
}
/*
	Layout Styles
*/
header{
	margin-bottom:50px; 
}
header .info{

}
	header .info h1{
		display: block;
		width: 100%;
		color: #2185F3;
		font-size: 60px;
		text-align: center;
	}
		header .info h1 strong{
			color: #3A3A3A;
		}	
		header .info h1 span{
			display: block;
			font-size: 12px;
			color: #ccc;
		}
	header .info h3{
		float:left;
	}		
	header ul.menu{
		list-style: none;
		clear:both;
		margin: 10px 0;
		padding: 0;
		height:35px;
	}
		header ul.menu li a,header ul.menu li a:visited{
			margin-left:5px; 
			font-size: 13px;
			background: #2185F3;
			color: #fff;
			font-weight: 700;
			padding:5px 10px;
			float:right;
			border-radius: 3px;

			-webkit-transition: background-color 0.5s linear;
		}
		header ul.menu li a:hover{
			background-color: #6FAFF7;
		}
		header ul.menu li a:active{
			background-color: #0C69D1;
		}
		header ul.menu li.logo{
			color: #2185F3;
			font-weight: 700;
			font-size: 25px;
		}	
			header ul.menu li.logo span{
				color: #ccc;
				display: block;
				font-weight: 700;
				font-size: 13px;
			}							
section{
	width: 100%;
	clear:both; 
	line-height: 25px;
	color:#555;
}
	section .center{
		width:400px;
		margin: 0 auto;
	}
		section .center > h3{
			border-bottom:3px solid #eee;
		}
	section .left{
		float: left;
		width: 50%;
	}
	section .right{
		float: right;
		width: 50%;
		text-align: 
	}
section > h1{
	color:#2185F3;
	font-size: 20px;
	text-transform: uppercase;
}
section#main{
	background: #F7F7F7;	
	border-top:3px solid #2185F3;
	border-bottom:3px solid #eee;
}	
section#notfound{
	margin-top: 150px;
	text-align: center;
}		
	section#notfound h1{
		text-align: center;
		border: none;
		border-top: 1px solid white;
		font-size: 40px;
		text-shadow: 0 1px 0 white;
		padding: 10px 0 0;
		margin-top: 25px;
	}
	section#notfound p{
		margin-top: -25px;
		color: #444;
		font-weight: 700;
	}	
footer{
	clear:both;
	width: 960px;
	color:#999;
	font-size: 12px;
	padding-top: 10px;
    margin: 25px auto;
    max-width: 98%; 
}
	footer a{
		color:#2185F3;
		margin:0 5px;
		border-bottom:1px solid #fff;
	}
	footer a:hover{
		border-bottom-color:#2185F3;
	}
	footer .pages{
		float:right;
	}
/*
	Form
*/
form.form{
	margin:10px;
}
div.center form.form{
	margin:10px 0;
}
input:focus,select:focus,button:focus{
	outline: none;
}
	form div.container input#url{
		width: 83%;
		height: 30px;
		border: 0;
		padding: 4px 15px;
		margin:0;
		background: white;
		border-radius: 3px 0 0 3px;
		color: #555;
		border: 1px solid #ccc;
		font-size: 20px;
		vertical-align: bottom;
		box-shadow: inset 0 1px 5px #ccc; 
	}
			form div.container input#url:focus{
				border-color:#999;
			}	
			form div.container input#url.error{
				border: 1px solid #FFDDDD;
				box-shadow:inset 0 0 10px #FFDDDD;
			}
	form div.container .button{
		cursor: pointer;
		margin-left: -5px;
		font-size: 11px;
		font-weight: 700;
		padding: 4px;
		background: #333;
		border: none;
		color: white;
		text-shadow: 0 1px 0 #222;
		border-radius: 0 3px 3px 0;
		white-space: nowrap;
		width: 13%;
		height: 40px;	

		-webkit-transition: background-color 0.5s linear;
	}
		form div.container #copyurl{
			display: none;
			background: #2185F3;
			text-shadow: 0 1px 0 #0A53A5;	
		}
	form div.container .button:hover{
		background: #4B4B4B;
	}	
	form div.container .button:focus{
		background: #000;
		text-shadow: 0 -1px 0 #222;
	}
	a.config{
		color:#999;
		font-size: 10px;
		font-weight: 700;
		margin-right: 10px;
	}
	a.config:hover{
		color:#444;
	}			
	div.inner{
		background: #fff;
		width:960px;
		margin: 10px -10px;
		border-top: 3px solid #eee;
		border-bottom: 3px solid #eee;
	}	
	div.request{
		margin:10px;
	}	
	form div.options{
		float:left;
		color:#000;
		background: #f2f2f2;
		text-shadow: 0 1px 0 #fff;		
		width:200px;
		padding:10px;
		margin:10px 5px 0 0;
	}

	form div.advanced{
		clear:both;
		margin: 0 auto;
		width:935px;
	}
	form div.options.middle{
		width: 455px;
		margin:10px 0;
	}
	form div.options.last{
		margin:10px 5px;
	}			
		form div.options h3{
			margin: 5px 0;
			display: block;
		}
		form div.options span{
			font-size: 12px;
			color:#999;
			display: block;
		}
		form div.options a.more-fields{
			font-size: 15px;
			color:#fff;
			font-weight: 700;
			background:#2185F3;
			text-shadow: 0 1px 0 #0D69D0;	
			padding:3px 8px;
			text-align: center;
			border-radius: 200px;
		}		
		form div.options .subtext{
			margin: 10px 0;
			width: 188px;
			min-height: 20px;
			border: 1px solid #ccc;
			padding:5px;
			font-size: 14px;
			color:#999;
			border-radius: 1px;
			box-shadow: inset 0 1px 5px #ccc;
		}
		form div.options input:focus.subtext,form div.options textarea:focus.subtext{
			border: 1px solid #999;
			color:#555;
		}					
.form label{
	display: block;
	margin:5px 0;
	font-size: 13px;
	font-weight: 700;
}
.form label a{
	margin-top:5px;	
	float:right;
	color:#2185F3;
	font:bold 11px arial;	
}	
.form .input, #alert .input {
	display:block;
	padding:5px 10px;
	width:378px;
	height:25px;
	border:1px #ccc solid;
	margin:10px 0;
	font:bold 15px arial;
	color:#666;
	border-radius:3px;	
	box-shadow:inset 1px 1px 3px #ccc,0 0 0 3px #f7f7f7;
	-webkit-transition: border-color 0.5s linear;		
}
.form textarea.input{		
	height: 150px;
	width: 500px;
}
.form .input:focus {
	border-color:#649EDF;
	color:#222;
	box-shadow:inset 1px 1px 3px #ccc,0 0 0 3px #DEE9FA;	
}		
.form .box{
	padding:5px;
	font-weight: 700;
	border-radius: 5px;
}
.form .button-form {
	background:#2185F3;
	height:35px;
	width:400px;
	border:1px solid #0B5FBB;
	color:#fff;
	font:bold 15px arial;
	cursor:pointer;	
	border-radius:3px;	
	box-shadow:inset 0 0 2px 1px #78B5F8;
}
.form .button-form:hover {
	background:#529FF5;
}
.form .button-form:active {
	background:#0A55A9;
	color:#fff;	
	border:1px solid #000;
	box-shadow:inset 0 0 2px 1px #074181;
}
/*
	Notification
*/	
.message {
	margin:0 auto 5px;
	clear:both;
	color: #fff;
	display: block;
	font-weight:700;
	padding:10px;
	padding-right: 30px;
	font-size: 13px;
	position: relative;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.message span.close {
	float:right;
	position: absolute;
	top: 5px;
	right:10px;
	cursor: pointer;
}
	.message.notice {
		background:#2185F3;
	}
	.message.error {
		background:#CA0B0B;
	}	
	.message.success {
		background:#099D48;
	}	
	.message.info {
		background:#000;
	}			
/*
	UI Elements
*/
a.delete,button.delete{
	background: #E30000;
	color: #fff;
	padding:5px 10px;
	float:left;
	font-weight: 700;
	font-size: 12px;
	border-radius: 2px;
	margin: 0 5px;
	border: none;
}
		a.delete:hover,button.delete:hover{
			background: #FF6464;
		}
a.green,button.green{
	background:#099D48;
	color: #fff;
	padding:5px 10px;
	float:left;
	font-weight: 700;
	font-size: 12px;
	border-radius: 2px;
	margin: 0 5px;	
	border: none;
}
		a.green:hover,button.green:hover{
			background:#0BBB56;
		}				
ul.list{
	width:100%;
	display: block;
	clear: both;
}
	ul.list li{
		margin: 0;
		padding: 8px 0;
		border: 0;
		position: relative;
		border-bottom: 1px solid #EEE;
	}
	ul.list li .container{
		display: block;
		clear: both;
		height: 30px;
		word-wrap:break-word;		
	}
	ul.list li .container a.link{
		color:#000;
		font-size:18px;
		font-weight: 700;	
		float:left;
		word-wrap:break-word;
	}
		ul.list li .container a.link:hover{
			color:#2185F3;
		}
	ul.list li .container span{
		color:#555;
		font-style: italic;
		word-wrap:break-word;		
	}		
	ul.list li a.delete{
		float: right;
	}	
	ul.list li span{
		font-size: 12px;
		font-weight: 700;	
		margin:0 5px;
	}	
	ul.list li span.date{
		background: #EEE;
		color: #555;
		padding: 2px 4px;
		border-radius: 2px;
	}
.half{
	float:left;
	width: 40%;
	padding:5px 10px;
	margin: 5px 0;
	border-radius: 3px;
	color:#fff;	
	font-size: 14px;	
}
	.half.right{
		float:right;
	}
	.half.blue{
		background:#2185F3;
	}	
	.half.black{
		background:#3A3A3A;
	}		
	.half h3{
		margin:8px 0;
		font-size: 15px;
		border-bottom: 1px dotted #fff;
	}
	.half a{
		color:#fff;
		font-size: 12px;
		font-weight: 700;		
	}
#shadow {
    background: #000;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: none;
    clear: both; }
 
#alert {
    width: 75%;
    max-width:500px;
    min-height: 150px;
    position: fixed;
    margin: 20% 10%;
    z-index: 200;
    display: none;
    background: #fff;
    border: 1px solid #015A9C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    font:bold 13px "Arial Rounded MT Bold",Arial, Helvetica, sans-serif;
    padding: 10px;
    clear: both; 
    color:#222;}
 
    #alert .title {
       	background:#2185F3;    
        border-top: 1px solid #76B4F8;
        box-shadow: 0 0 0 1px #0b64a2, 0 2px 2px #999;
        display: block;
        border-radius: 5px 5px 0 0;
        color:#fff;
        font:bold 15px Arial;
        text-align: center;
        text-shadow:0 2px 1px #0b64a2;
        padding: 10px;
        margin: -10px;
        font-size: 20px;
        margin-bottom: 10px;
        height: 30px;
        }	
.promotion{
	font-size: 15px;
	font-weight: 700;
	color:#999;
}
	.promotion b{
		color:#2185F3;
	}
	.promotion a{
		border-bottom: 1px dotted #2185F3;
	}
a.fulllink{
	margin:0 auto;
	width:540px;
	display: block;
	background:#2185F3;
	color:#fff;
	font-weight: 700;
	padding:5px;
	border-radius: 5px;
}
	a.fulllink:hover{
		background:#121212;
	}
pre{
	background:#f8f8f8;
	border: 1px solid #eee;
	padding: 10px;
	color:#000;
}
div.thumb{
	float:left;
	width:480px;
}
	div.thumb img{
		border: 1px solid #000;
	}
div.stats{
	float:left;
	width: 475px;
}
div.stats div.social{
	clear: both;
	height: 130px;
	margin-left:15px; 
	margin-bottom: 10px;
}
	div.stats div.social img{
		float: left;
		width:130px;
		height: 130px;		
		margin-right:25px;
	}
div.stats .info{
	margin-left: 15px; 
}
	div.stats .info h3{
		margin:3px 0;
		border-bottom: 1px dotted #ccc;
		font-size: 16px; 
	}	
div.ads{
	margin-bottom: 10px;
	text-align: center;
}
iframe#site{
	margin: 0; 
	width: 100%;
	height: 100%;
}
.frame{
	width: 100%;
	height: 60px;
	background: #222;
	color:#fff;
	margin: 0;
	padding: 0;	
}
.frame .logo{
	float:left;
	width:30%;
	margin: 5px 25px;
}
	.frame .logo h3{
		margin: 0;
		display: block
	}
	.frame .logo span{
		font-size: 12px;
	}
.frame .ad{
	float:left;
	width:468px;
}	
.frame .close{
	float:right;
}
	.frame .close a{
		background: #fff;
		font-weight: 700;
		font-size: 13px;
		padding: 2px 8px;
		display: inline-block;
		margin: 20px 10px;
	}
a.share{
	overflow: visible;
	display: inline-block;
	padding: 0.3em 0.6em 0.375em;
	border: 1px solid #999;
	border-bottom-color: #888;
	margin: 0;
	text-decoration: none;
	text-align: center;
	font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
	white-space: nowrap;
	cursor: pointer;
	color: #333;	
	margin:5px 0;
}
a.share.large{
	min-width: 162px;
	font-size: 15px;
}
a.share.facebook{
	border-color: #29447E #29447E #1A356E;
	color: white;
	background-color: #5B74A8;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637BAD), to(#5872A7));
	background-image: -moz-linear-gradient(#637BAD, #5872A7);
	background-image: -o-linear-gradient(#637BAD, #5872A7);
	background-image: linear-gradient(#637BAD, #5872A7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', EndColorStr='#5872a7');
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
}
a.share.twitter{
	border-color: #29AEB6 #29AEB6 #24A2A8;
	color: white;
	background-color: #9AE4E8;
	background-image: -webkit-linear-gradient(#9AE4E8, #59D2D9);
	background-image: -moz-linear-gradient(#9AE4E8, #59D2D9);
	background-image: -o-linear-gradient(#9AE4E8, #59D2D9);
	background-image: -ms-linear-gradient(#9AE4E8, #59D2D9);
	background-image: linear-gradient(#9AE4E8, #59D2D9);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #D6F4F5;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #D6F4F5;
}
a.share.google{
	border-color: #DD4B39 #DD4B39 #8F2418;
	color: white;
	background-color: #DD4B39;
	background-image: -webkit-linear-gradient(#DD4B39, #B02D1E);
	background-image: -moz-linear-gradient(#DD4B39, #B02D1E);
	background-image: -o-linear-gradient(#DD4B39, #B02D1E);
	background-image: -ms-linear-gradient(#DD4B39, #B02D1E);
	background-image: linear-gradient(#DD4B39, #B02D1E);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #EA8F86;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #EA8F86;
}
/* 
	jQuery UI
*/
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-autocomplete { position: absolute;top: 0;left: 0;cursor: default;}
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu { list-style:none; padding: 2px; margin: 0; display:block; outline: none; }
.ui-menu .ui-menu { margin-top: -3px; position: absolute; }
.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; width: 100%; }
.ui-menu .ui-menu-divider { margin: 5px -2px 5px -2px; height: 0; font-size: 0; line-height: 0; border-width: 1px 0 0 0; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: 2px .4em; line-height: 1.5; zoom: 1; font-weight: 700; color:#fff; }
.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active { background: #5EA6F7;  }
.ui-widget-content { border: 1px solid #0A5CB8; background: #2185F3; color:#fff; }
/*
	Responsive Layout
*/
@media screen and (max-width:790px){
	header .info h1{
		font-size: 35px;
	}
	header ul.menu li.logo{
		display: block;
		width: 100%;
		font-size: 20px; 
	}	
		header ul.menu li.logo span{
			display: none;
		}
	.half{
		width: 94%;
		clear: both;
	}
		.half.right{
			float: left;
			width: 94%;
		}
		.half.blue{
			background:#2185F3;
		}	
		.half.black{
			background:#3A3A3A;
		}			
	form div.container input#url{
		width: 90%;
		border-radius: 3px;
	}

	form div.container .button{
		width: 250px;
		float: none;
		clear: both;
		margin: 5px 0;
		border-radius: 5px;
	}
	div.center{
		width:92%;	
	}
	div.inner{
		margin: 0 -10px;
		width:103%;
	}	
	form div.advanced{
		clear:both;
		margin: 0;
		width:100%;
	}	
	div.request{
		margin:10px;
	}	
	form div.options{
		display: block;
		width: 95%;
		color:#000;
		background: #f2f2f2;
		text-shadow: 0 1px 0 #fff;		
		padding:10px;
		margin:10px 5px 0 0;
	}
	form div.options.middle{
		clear: both;
		width: 95%;
		margin:10px 0;
	}
	form div.options.last{
		width: 95%;
		margin:10px 5px 0 0;
	}				
	form div.last .subtext,form div.first .subtext{
		width: 95%;
	}
	.form label{
		width:92%;
	}
	.form .input,#alert .input  {
		width:92%;		
	}	
	.form textarea.input{
		width:92%;	
	}
	.form .button-form{
		width:98%;	
	}
	div.thumb{
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
		div.thumb img{
			width: 100%;
			height: 100%;
		}	
	div.stats{
		width: 100%;
		clear:both;
		float:none;
		margin:0 -10px;
	}
	div.info{
		margin: 0;
		padding: 0;
		width: 95%;
	}
}