body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.3;
	color:#2a2727;
}
a img:hover{
	opacity:0.6;
}
.top{
	height:85px;
	background:#e5e5e5;
	border-bottom:10px solid #e42828;
}
.content{
	background:url(../images/bg.jpg) no-repeat center top;
}
.content .title{
	text-align:center;
	padding:17px 0;
}
.box{
	width:500px;
	margin:0 auto;
	height:88px;
	background:#FFF;
	box-shadow:1px 3px 4px #ccc;
	margin-top:-35px;
}
.box p{
	padding-top:5px;
	margin-top:0;
	text-align:center;
	line-height:1.5;
	clear:both;
}
.btprod{
	background:#4dc0b7;
	border-radius:10px;
	padding:10px 0;
	text-align:center;
	margin:0 40px;
}
.bottom{
	background:#FFF;
	border-radius:10px;
	text-align:center;
	padding:10px 0;
	box-shadow:1px 3px 4px #ccc;
	margin:0 40px;
}
.mainprod{
	margin:0 40px;
	height:242px;
}
.mainprod .pitem{
	float:left;
}
.mainprod .E96{
	margin-left:15px;
}
.mainprod .D11{
	float:right;
}