/***************************************************************************
*  @PHP Web Application.
*  @version			1.0.0 
*  @copyright		Copyright (C) 2011 Tran Thanh Sang. All rights reserved.
*  @Released under 	Tran Thanh Sang
*  @Email			sangtialia@gmail.com
*  @Date			Jan 2011
***************************************************************************/

.b-search{
	background:#fff;
	width:220px;
	height:20px;
	float:right;
	border:1px solid #cccccc;
	padding:0;
}
.b-search form{
	margin:0;
	padding:0;
}
.b-search .inputbox-2{
	width:180px;
	float:left;
	background:none;
	border:none;
	margin-left:10px;
	margin-top:2px;
	height:18px;
	padding:0;
	font-size:11px;
	color:#333;
	font-style:italic;
}
.b-search .button{
	width:23px;
	height:18px;
	background:url(../images/bt.png) no-repeat 0 0px;
	border:none;
	float:right;
	z-index:2;
}