/*
Joomla Component CSS
escProject component
@Author: Sang Tran Thanh
*/

.nspvouchercom .nav{
	background:url(images/nav_bg.png) repeat-x bottom;
	height:61px;
	border-bottom:1px solid #c70d0d;
	padding-bottom:2px;
}
.nspvouchercom .nav .item{
	float:left;
	width:227px;
	height:61px;
	background:url(images/top-nav-off.png) no-repeat;
	color:#d21515;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	line-height:60px;
	vertical-align:middle;
	margin-left:10px;
}
.nspvouchercom .nav .item a{
	color:#d21515;
	font-weight:bold;
	text-decoration:none;
}
.nspvouchercom .nav .current{
	background:url(images/top-nav-on.png) no-repeat;
	color:#FFF;
}
.nspvouchercom .nav .current a{color:#FFF;}
.nspvouchercom .content{
	padding:10px;
	background:#ebebeb;
}

.productList .item .quantity{
	width:40px;
}
.productList .item .thumb{
	background:#FFF;
	border:1px solid #CCC;
	width:125px;
	height:125px;
	text-align:center;
}
.productList .item .thumb img{
	margin-top:3px;
}