/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/
.sortfrm{
	float:right;
	margin-right:10px;
	margin-top:-40px;
}