/*****************************/
/*** Core html setup stuff ***/
/* Tran Thanh Sang */
/* sangtialia@gmail.com */
/*****************************/

.photoList tr td{
	text-align:left;
	vertical-align:top;
}
.photoList .item{
}
.photoList .item .info{
	position:absolute;
	height:48px;
	margin-top:-48px;
	background:#545151;
	color:#FFF;
	text-align:left;
	opacity:0.6;
	moz-opacity:0.6;
	filter:alpha(opacity=60);
	display:none;
}
.photoList .item .info h5{
	margin:7px 0 1px 8px;
	padding:0 !important;
	font-size:13px;
	text-transform:uppercase;
	line-height:1.1;
}
.photoList .item .info .author{
	float:left;
	margin-left:8px;
}
.photoList .item .info .view{
	float:right;
	margin-right:8px;
}