/* CSS Document */
table.admin-table-panel tr td{
	text-align:center;
	vertical-align:top;
	padding:5px 5px 5px 5px;
}
table.admin-table-panel tr td div.border{
	border:1px solid #CCCCCC;
	padding:5px 5px 5px 5px;
	width:120px;
	height:80px;
}
table.admin-table-panel tr td .icon-hover{
	background:none;
	border:solid #999999 1px;
	padding:2px 2px 2px 2px;
	}
table.admin-table-panel tr td .icon-image, table.admin-table-panel tr td .icon-mouseout{
	border: solid 1px #ffffff;
	padding:2px 2px 2px 2px;
	}
table.admin-table-panel tr td div{
	text-align:center;
	}
/**/
table.editView tr td.headerQuotes{
	padding:5px 0 5px 20px;
	color:#FFFFFF;
	background:#006666;
	font-weight:bold;
}
