/***************************************************************************
*  @PHP Web Application.
*  @version			1.0.0 
*  @copyright		Copyright (C) 2011 Tran Thanh Sang. All rights reserved.
*  @Released under 	Tran Thanh Sang
*  @Email			sangtialia@gmail.com
*  @Date			Jan 2011
***************************************************************************/
.bphoto-tab ul.tab{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	background:#FFF;
	height:25px;
	position:relative;
	margin-top:-28px;
}
.bphoto-tab ul.tab li{
	float:left;
	margin:0;
	padding:0 10px;
	font-size:14px;
	font-weight:bold;
	height:20px;
	cursor:pointer;
}
.bphoto-tab ul.tab li.current{
	color:#F00 !important;
}
.bphoto-tab ul.tab li + li{
	border-left:2px solid #999;
}
.bPhotoList tr td{
	text-align:left;
	vertical-align:top;
}
.bPhotoList .item{
}
.bPhotoList .item .info{
	position:absolute;
	height:48px;
	margin-top:-48px;
	background:#545151;
	color:#FFF;
	text-align:left;
	opacity:0.7;
	moz-opacity:0.7;
	filter:alpha(opacity=70);
	display:none;
}
.bPhotoList .item .info h5{
	margin:7px 0 1px 8px;
	padding:0 !important;
	font-size:14px;
	text-transform:uppercase;
	line-height:1.1;
}
.bPhotoList .item .info .author{
	float:left;
	margin-left:8px;
}
.bPhotoList .item .info .view{
	float:right;
	margin-right:8px;
}

/* list */
.bPhotoList-1 tr td{
	text-align:left;
}
.bPhotoList-1 .item .thumb{
	float:left;
	width:40%;
}
.bPhotoList-1 .item .info{
	float:right;
	width:58%;
	font-size:11px;
	color:#7e7e7e;
}
.bPhotoList-1 .item .info h5{
	color:#d2252f;
	margin:3px 0;
	padding:0;
	font-size:13px;
}