/**
* @ Author : Sang Tran Thanh
* @ Email  : sangtialia@gmail.com
* @ version $Revision: 1.0 $
*/
.home_news{
  padding:0;
}
.home_news .box_item_news{
  float: left;
  width: 317px;/*314*/
  margin-right:11px;
}
.home_news .box_item_news_last{margin-right:0; float:right;}
.home_news .box_item_news h3{
  color: #FFFFFF;
  height: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  background: url(images/bg_h1_news.jpg) repeat-x;
  padding-top: 10px; padding-left:10px;
  font-weight: bold;
  margin: 0px;
}
.home_news .box_item_news .description{
  background: #00467c;
  padding: 7px;
}
.home_news .box_item_news .description .item{
  background: url(images/icon_news.jpg) 0 3px no-repeat;
  padding: 0px 10px 0px 15px;
  font-size: 11px;
  margin-bottom:2px;
}

.home_news .box_item_news .description .item a{
  text-decoration: none;
  color: #FFFFFF;
  font-style:italic;
}

.home_news .box_item_news .description .item a:hover{
  text-decoration: underline;
  color: #FFFFFF;
}


.home_news .box_item_news .bottom_news{
  background: #138FCE url(images/bg_box_bottom.jpg) no-repeat;
  height: 5px;
  font-size: 3pt;

}